.about_block {
  @extend %clearfix;
  position: relative;
  padding: 0 12px;
  margin-bottom: 34px;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 12px;
    width: 240px;
    display: block;
    background: #f8f8f8;
  }

  > p {
    letter-spacing: .025em;
    font-size: 17px;
    line-height: 22px;
  }

  @include respond-to-min($resp_step_2) {
    margin-bottom: 48px;

    &:before {
      width: 300px;
    }
  }

  @include respond-to-min($resp_step_3) {
    margin-top: -6px;
    margin-bottom: 51px;

    &:before {
      width: 348px;
    }
  }

  @include respond-to-min($resp_step_4) {

    &:before {
      width: 396px;
    }
  }
}

.about_contacts {
  position: relative;
  z-index: 1;
  width: 240px;
  float: left;
  padding: 60px 16px;

  p {
    font-size: 16px;
    line-height: 22px;
    margin-top: 18px;
  }

  @include respond-to-min($resp_step_2) {
    width: 300px;
    padding: 50px 40px 55px 38px;

    p {
      margin-top: 20px;
    }
  }

  @include respond-to-min($resp_step_3) {
    width: 348px;
    padding-top: 75px;

    p {
      line-height: 22px;
      margin-top: 24px;
    }
  }

  @include respond-to-min($resp_step_4) {
    width: 396px;

    p {
      letter-spacing: .025em;
      font-size: 17px;
      line-height: 24px;
      margin-top: 21px;
    }
  }
}

.about_title {
  color: $default_t_color;
  font: 28px/34px $RubikBlack;
  letter-spacing: .024em;
  margin-bottom: 15px;

  @include respond-to-min($resp_step_2) {
    font-size: 32px;
    line-height: 38px;
    letter-spacing: 0;
  }

  @include respond-to-min($resp_step_3) {
    font-size: 38px;
    line-height: 44px;
  }

  @include respond-to-min($resp_step_4) {

  }
}

.about_info {
  position: relative;
  margin: 0 70px 0 307px;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: -70px;
    left: 0;
    height: 308px;
    background: $violette url(../i/about_stars.png) no-repeat 100% 0;
  }

  @include respond-to-min($resp_step_2) {
    margin-left: 403px;
  }

  @include respond-to-min($resp_step_3) {
    margin-left: 460px;
    margin-right: 102px;

    &:before {
      height: 338px;
      right: -102px;
    }
  }

  @include respond-to-min($resp_step_4) {
    margin-left: 563px;
    margin-right: 102px;

    &:before {
      height: 338px;
      right: -102px;
    }
  }
}

.about_text {
  z-index: 1;
  position: relative;
  background: #fff;
  padding-left: 20px;
  //margin-right: 185px;
  margin-top: -16px;

  p {
    font-size: 17px;
    line-height: 24px;
    letter-spacing: .023em;
    margin-right: -37px;

    &:first-child {
      margin-right: 135px;
    }

    + p {
      margin-top: 40px;
    }

    @include respond-to-min($resp_step_2) {
      font-size: 20px;
      line-height: 28px;
      margin-right: 115px;

      &:first-child {
        margin-right: 150px;
      }

      + p {
        margin-top: 48px;
      }
    }

    @include respond-to-min($resp_step_3) {
      font-size: 20px;
      line-height: 28px;
      margin-right: 72px;

      &:first-child {
        margin-right: 72px;
      }
    }

    @include respond-to-min($resp_step_3) {
      margin-right: 160px;

      &:first-child {
        margin-right: 160px;
      }
    }
  }

  @include respond-to-min($resp_step_2) {
    padding-left: 15px;
  }

  @include respond-to-min($resp_step_3) {
    padding-left: 30px;
  }
}

.about_info_title {
  z-index: 2;
  position: relative;
  padding-top: 24px;

  .about_title {
    @extend %icon_pseudo;
    position: relative;
    z-index: 1;
    background: #fff;
    padding: 34px 60px 25px 20px;
    line-height: 1.25;

    &:before {
      content: $icon-ufo;
      position: absolute;
      bottom: -123px;
      right: -47px;
      font-size: 185px;
      line-height: 1;
    }

    @include respond-to-min($resp_step_2) {
      padding: 50px 140px 50px 15px;
      line-height: 1.2;

      &:before {
        bottom: -107px;
        right: -54px;
        font-size: 240px;
      }
    }

    @include respond-to-min($resp_step_3) {
      padding-left: 30px;
      line-height: 1.18;

      &:before {
        bottom: -77px;
        right: -105px;
      }
    }

    @include respond-to-min($resp_step_4) {
      font-size: 44px;
      line-height: 52px;
      letter-spacing: .02em;
      padding-right: 110px;

      &:before {
        bottom: -37px;
      }
    }
  }
}

.about_contacts_list {
  list-style: none;
  color: $violette;
  padding-top: 10px;

  @include respond-to-min($resp_step_2) {
    padding-top: 15px;
  }

  li {
    position: relative;
    margin-top: 40px;
    padding-left: 44px;

    &:before {
      position: absolute;
      top: -8px;
      left: -8px;
      width: 42px;
      height: 42px;
      font-size: 30px;
      line-height: 42px;
      text-align: center;
    }

    @include respond-to-min($resp_step_2) {
      padding-left: 40px;
      margin-top: 36px;

      &:before {
        left: -16px;
        top: -5px;
      }
    }

    @include respond-to-min($resp_step_3) {
      padding-left: 58px;
      margin-top: 38px;

      &:before {
        left: -2px;
        top: -7px;
      }
    }

    @include respond-to-min($resp_step_4) {
      margin-top: 40px;
      padding-left: 74px;

      &:before {
        left: 6px;
        top: 0;
        font-size: 38px;
      }
    }
  }
}

.contacts_link {
  color: $violette;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: .065em;

  @include respond-to-min($resp_step_2) {
    font-size: 16px;
    line-height: 28px;
  }

  @include respond-to-min($resp_step_3) {

  }

  @include respond-to-min($resp_step_4) {
    font-size: 17px;
  }
}

.contacts_caption {
  font: 20px $RubikMed;
  margin-bottom: 2px;

  @include respond-to-min($resp_step_2) {
    font-size: 24px;
    margin-bottom: 6px;
  }

  @include respond-to-min($resp_step_3) {
    font-size: 26px;
    margin-bottom: 1px;
  }

  @include respond-to-min($resp_step_4) {
    font-size: 32px;
    letter-spacing: .02em;
    margin-bottom: 0;
  }
}

.about_team_holder {
  margin-bottom: 30px;
  padding: 0 12px;

  .about_title {
    padding-left: 18px;
    margin-bottom: 48px;
    letter-spacing: 0;
  }

  @include respond-to-min($resp_step_2) {
    .about_title {
      padding-left: 32px;
      margin-bottom: 46px;
    }
  }

  @include respond-to-min($resp_step_3) {
    .about_title {
      padding-left: 38px;
      margin-bottom: 40px;
    }
  }
}

.about_team {
  @extend %clearfix;
  list-style: none;
  margin: 0 -1%  -22px -56px;

  li {
    float: left;
    width: 33%;
    padding-left: 56px;
    margin-bottom: 40px;
  }

  @include respond-to-min($resp_step_2) {
    margin-left: -86px;
    margin-bottom: -10px;

    li {
      padding-left: 86px;
    }
  }

  @include respond-to-min($resp_step_3) {
    margin-left: -158px;
    margin-bottom: -20px;

    li {
      padding-left: 158px;
    }
  }

  @include respond-to-min($resp_step_4) {
    margin-left: -64px;
    margin-right: 0;

    li {
      width: 25%;
      padding-left: 64px;
    }
  }
}

.team_unit {
  position: relative;
}

.team_unit_info {
  padding: 9px 10px 18px 12px;
  min-height: 124px;
  border-left: 6px solid $violette;

  @include respond-to-min($resp_step_2) {
    padding: 19px 10px 20px 26px;
  }

  @include respond-to-min($resp_step_3) {
    padding-left: 32px;
  }

  @include respond-to-min($resp_step_4) {
    padding-left: 20px;
  }
}

.team_unit_name {
  font: 18px/24px $RubikBlack;
  margin-bottom: 12px;

  @include respond-to-min($resp_step_2) {
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 7px;
  }
}

.team_unit_post {
  opacity: .5;
  letter-spacing: 0.01em;
  font: 14px $RubikReg;
}

.team_unit_photo {
  float: right;
  width: 102px;
  background: #f8f8f8;
  padding: 0 12px 10px 0;

  img {
    display: block;
    max-width: 100%;
  }

  + .team_unit_info {
    margin-right: 105px;
  }

  @include respond-to-min($resp_step_2) {
    width: 134px;
    padding: 0 20px 20px 0;

    + .team_unit_info {
      margin-right: 150px;
    }
  }
}
