.article_author {
  padding: 10px 17px 17px 0;
  font: 12px $RubikReg;
}

.article_author_link {
  @extend %firm_color;

  &:before {
    content: '@';
  }

  span {
    text-decoration: underline;
  }

  &:hover {
    span {
      text-decoration: none;
    }
  }
}

.article_info {
  margin-left: 12px;
  padding-left: 16px;
  background: #f7f8f8;

  .article_author {
    padding-top: 12px;
    padding-bottom: 8px;
  }

  &._action_only {
    margin: 0 0 7px;

    .article_soc {
      max-width: 610px;
      margin: 0 auto;

      @include respond-to-min($resp_step_2) {
        max-width: 720px;
      }

      @include respond-to-min($resp_step_3) {
      }

      @include respond-to-min($resp_step_4) {
        max-width: 750px;
      }
    }
  }
}

.article_subscribe_wide {
  margin-top: 40px;
}

.article_preview_link {
  @extend %icon_pseudo;
  @extend %firm_color;
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding-right: 26px;
  padding-left: 2px;

  &:before {
    position: absolute;
    right: 0;
    top: 2px;
    content: $icon-arrow-right;
  }

  span {
    text-decoration: underline;
  }

  @include respond-to-min($resp_step_2) {
    color: #fff !important;
    position: absolute;
    left: 30px;
    padding-right: 36px;
    bottom: 24px;
    font: 14px $RubikMed;

    &:before {
      top: 0;
      font-size: 18px;
    }
  }
}

.article_preview {
  position: relative;
  font: 22px/30px $RubikMed;
  padding-bottom: 27px;
  //padding: 20px 20px 13px 16px;
  margin-bottom: 28px;
  letter-spacing: .025em;
  border-bottom: 4px solid #000;

  &._no_title {
    border: 0 !important;
  }

  ._news &,
  ._stories &,
  ._top & {
    border-bottom-color: $violette;
  }

  ._release & {
    border-bottom-color: $pink;
  }

  ._analysis & {
    border-bottom-color: $orange;
  }

  ._pricewise & {
    border-bottom-color: $green;
  }

  ._sponsored & {
    border-bottom-color: $green_2;
  }

  ._pool & {
    border-bottom-color: $blue;
  }

  ._features & {
    border-bottom-color: $red;
  }

  ._wiki & {
    border-bottom-color: $brown;
  }

  ._crypto & {
    border-bottom-color: $brown_2;
  }

  ._watch & {
    border-bottom-color: $violette_2;
  }
}

.article_soc {
  padding-bottom: 17px;

  img {
    display: inline-block;
    vertical-align: top;
    max-width: 100%;
  }

  ._action_only & {
    padding-top: 17px;
  }
}

.article_subscribe {
  @extend %icon_pseudo;
  position: relative;
  padding: 20px 125px 20px 26px;
  margin: 31px -16px 31px 20px;

  .subscribe_btn {
    letter-spacing: .025em;
  }

  &:before {
    content: $icon-ufo;
    position: absolute;
    top: 0;
    right: 7px;
    font-size: 130px;
    line-height: 1;
    color: #fff;
  }

  &._stories {
    background: url(../i/subscribe_bg_blue.jpg) no-repeat 50% 50%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}

.article_tag_list {
  @extend %clearfix;
  list-style: none;
  margin-left: -22px;
  margin-bottom: 28px;

  li {
    float: left;
    padding-left: 21px;
    margin-top: 7px;
  }
}

.tag_link {
  @extend %firm_color;
  font: 13px/22px $RubikMed;
  letter-spacing: -.017em;
}

.article_telegram_section {
  @extend %clearfix;
  background: #000;
  margin-left: -16px;
  padding: 7px 10px 7px 24px;
  text-align: left;
  color: #fff;
  font: 14px/34px $RubikReg;

  > span {
    letter-spacing: .018em;
  }
}

.article_telegram_block {
  font: 12px/14px $RubikReg;
  margin-bottom: 28px;

  span {
    opacity: .4;
  }
}

.telegram_link {
  @extend %firm_color;
  font: 12px/14px $RubikBold;
}

.related_title {
  position: relative;
  font: 18px $RubikMed;
  padding: 20px 12px 8px;
  margin-bottom: 10px;
  color: #000;

  @include respond-to-min($resp_step_2) {
    font-size: 22px;
    padding: 18px 12px 10px;
    margin-bottom: 15px;
  }

  @include respond-to-min($resp_step_3) {
    font-size: 24px;
    padding: 27px 12px 18px;
  }

  //color: #fff;
  //-webkit-background-size: cover;
  //-moz-background-size: cover;
  //-o-background-size: cover;
  //background-size: cover;
  //background-repeat: no-repeat;
  //background-position: 50% 50%;

  &._news {
    background-image: url(../i/stories_bg.svg);
  }

  &._stories {
    background-image: url(../i/stories_bg.svg);
  }

  &._features {
    background-image: url(../i/features_bg.svg);
  }

  &._pool {
    background-image: url(../i/sharks_pool_bg.svg);
  }

  &._analysis {
    background-image: url(../i/pricewise_bg.svg);
  }

  &._pricewise {
    background-image: url(../i/pricewise_bg.svg);
  }

  &._crypto {
    background-image: url(../i/crypto.svg);
  }

  &._wiki {
    background-image: url(../i/wikicoin_bg.svg);
  }

  &._watch {
    background-image: url(../i/ico_bg.svg);
  }
}

.article_soc {
  @extend %clearfix;
  list-style: none;
  margin-left: -4px;
  padding-right: 10px;

  li {
    padding-left: 4px;
    padding-right: 12px;
    float: left;
  }
}

.action_sh {
  @include transition_all(color .3s, background .3s);
  @extend %icon_pseudo;
  display: block;
  position: relative;
  cursor: pointer;
  width: 34px;
  height: 34px;
  text-align: center;
  border-radius: 17px;
  font: 12px/32px $RubikBlack;
  border: 1px solid transparent;

  &:before {
    font-size: 17px;
    line-height: 32px;
  }

  &._active,
  &:hover {
    color: #fff !important;
  }

  &._r {
    width: 28px;
    height: 28px;
    margin-top: 3px;
    margin-right: 6px;
    line-height: 26px;

    &:before {
      content: $icon-share-alt;
      font-size: 14px;
      line-height: 26px;
    }
  }

  ._brand & {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    font-size: 22px;
    line-height: 40px;
    color: #fff;
  }

  &._f {
    &:before {
      content: $icon-fb;
    }

    ._brand & {
      background: #385184;
    }
  }

  &._t {
    &:before {
      content: $icon-tw;
    }

    ._brand & {
      background: #1da1f2;
    }
  }

  &._g {
    &:before {
      content: $icon-gp;
    }
  }

  &._l {
    &:before {
      content: $icon-in;
    }
  }

  &._i {
    &:before {
      content: $icon-inst;
    }

    ._brand & {
      background: #ed4956;
    }
  }

  &._p {
    &:before {
      content: $icon-pint;
    }
  }

  &._s {
    &:before {
      content: $icon-stm;
    }
  }

  &._tm {
    &:before {
      content: $icon-tmblr;
    }
  }

  &._tg {
    &:before {
      content: $icon-tg;
    }

    ._brand & {
      background: #08c;
    }
  }

  &._rd {
    &:before {
      content: $icon-rd;
    }

    ._brand & {
      background: #fa500e;
    }
  }

  ._news &,
  ._stories &,
  ._top & {
    color: $violette;

    &._active,
    &:hover {
      background: $violette;
    }
  }

  ._release & {
    color: $pink;

    &._active,
    &:hover {
      background: $pink;
    }
  }

  ._analysis & {
    color: $orange;

    &._active,
    &:hover {
      background: $orange;
    }
  }

  ._pricewise & {
    color: $green;

    &._active,
    &:hover {
      background: $green;
    }
  }

  ._sponsored & {
    color: $green_2;

    &._active,
    &:hover {
      background: $green_2;
    }
  }

  ._pool & {
    color: $blue;

    &._active,
    &:hover {
      background: $blue;
    }
  }

  ._features & {
    color: $red;

    &._active,
    &:hover {
      background: $red;
    }
  }

  ._wiki & {
    color: $brown;

    &._active,
    &:hover {
      background: $brown;
    }
  }

  ._crypto & {
    color: $brown_2;

    &._active,
    &:hover {
      background: $brown_2;
    }
  }

  ._watch & {
    color: $violette_2;

    &._active,
    &:hover {
      background: $violette_2;
    }
  }

  &._more {
    background: #fff;
    width: auto;
    min-width: 34px;
    border-radius: 2px;
    padding: 0 10px 0 14px;
  }

  &._count {
    width: auto;
    margin-right: 5px;
    border-radius: 2px;
    padding: 0 10px;

    &:after,
    &:before {
      @include transition_all(border-color .3s);
      content: '';
      position: absolute;
      right: 100%;
      top: 50%;
      margin-top: -3px;
    }

    &:after {
      border-top: 4px solid transparent;
      border-bottom: 4px solid transparent;
      border-right: 6px solid #fff;
      margin-right: -1px;
    }

    &:before {
      border-top: 4px solid transparent;
      border-bottom: 4px solid transparent;
      border-right: 6px solid #fff;
    }

    ._news &,
    ._stories &,
    ._top & {
      border-color: $violette;

      &:before {
        border-right-color: $violette;
      }

      &:hover {
        &:after {
          border-right-color: $violette;
        }
      }
    }

    ._release & {
      border-color: $pink;

      &:before {
        border-right-color: $pink;
      }

      &:hover {
        &:after {
          border-right-color: $pink;
        }
      }
    }

    ._analysis & {
      border-color: $orange;

      &:before {
        border-right-color: $orange;
      }

      &:hover {
        &:after {
          border-right-color: $orange;
        }
      }
    }

    ._pricewise & {
      border-color: $green;

      &:before {
        border-right-color: $green;
      }

      &:hover {
        &:after {
          border-right-color: $green;
        }
      }
    }

    ._sponsored & {
      border-color: $green_2;

      &:before {
        border-right-color: $green_2;
      }

      &:hover {
        &:after {
          border-right-color: $green_2;
        }
      }
    }

    ._pool & {
      border-color: $blue;

      &:before {
        border-right-color: $blue;
      }

      &:hover {
        &:after {
          border-right-color: $blue;
        }
      }
    }

    ._features & {
      border-color: $red;

      &:before {
        border-right-color: $red;
      }

      &:hover {
        &:after {
          border-right-color: $red;
        }
      }
    }

    ._wiki & {
      border-color: $brown;

      &:before {
        border-right-color: $brown;
      }

      &:hover {
        &:after {
          border-right-color: $brown;
        }
      }
    }

    ._crypto & {
      border-color: $brown_2;

      &:before {
        border-right-color: $brown_2;
      }

      &:hover {
        &:after {
          border-right-color: $brown_2;
        }
      }
    }

    ._watch & {
      border-color: $violette_2;

      &:before {
        border-right-color: $violette_2;
      }

      &:hover {
        &:after {
          border-right-color: $violette_2;
        }
      }
    }
  }
}

.article_text {

  blockquote {
    position: relative;
    padding: 26px 0 47px;
    margin: 44px 0 2px;

    @include respond-to-min($resp_step_2) {
      margin-bottom: 7px;
    }

    @include respond-to-min($resp_step_3) {
      margin-bottom: 15px;
    }

    @include respond-to-min($resp_step_4) {
      margin-top: 68px;
    }

    p {
      @extend %firm_color;
      font: 20px/28px $RubikBold;
      letter-spacing: .012em;

      &:first-of-type {
        &:before {
          content: '\201C';
          position: absolute;
          color: #000;
          top: -16px;
          left: -40px;
          font: 90px/1 $cross_font_Georgia;
        }
      }

      &:last-of-type {
        &:after {
          content: '\201D';
          position: absolute;
          color: #000;
          bottom: -18px;
          right: -25px;
          font: 90px/1 $cross_font_Georgia;

          @include respond-to-min($resp_step_2) {
            right: -15px;
          }

          @include respond-to-min($resp_step_4) {
            right: -83px;
          }
        }
      }
    }

    i {
      position: absolute;
      bottom: 40px;
      left: 0;
      opacity: .4;
      font-size: 13px;
      line-height: 22px;
      letter-spacing: .035em;
      font-style: normal;

      @include respond-to-min($resp_step_2) {
        bottom: 34px;
      }

      @include respond-to-min($resp_step_3) {
        bottom: 40px;
      }
    }
  }

  h1, h3, h5, h2, h4, h6 {
    margin-top: 1em;
  }

  h1 {
    font: 28px $RubikBold;
    letter-spacing: .02em;
    margin-bottom: 25px;

    @include respond-to-min($resp_step_2) {
      font-size: 32px;
    }

    @include respond-to-min($resp_step_3) {
      font-size: 38px;
    }

    @include respond-to-min($resp_step_4) {
      font-size: 44px;
    }
  }

  h2 {
    font: 26px $RubikMed;
    letter-spacing: .025em;
    margin-bottom: 22px;

    @include respond-to-min($resp_step_2) {
      font-size: 28px;
    }

    @include respond-to-min($resp_step_3) {
      font-size: 34px;
    }

    @include respond-to-min($resp_step_4) {
      font-size: 40px;
      letter-spacing: 0;
      margin-bottom: 30px;
    }
  }

  h3 {
    font: 22px $RubikBold;
    letter-spacing: .015em;
    margin-bottom: 20px;

    @include respond-to-min($resp_step_2) {
      font-size: 24px;
    }

    @include respond-to-min($resp_step_3) {
      font-size: 28px;
    }

    @include respond-to-min($resp_step_4) {
      font-size: 34px;
      margin-bottom: 27px;
    }
  }

  h4 {
    font: 22px $RubikMed;
    letter-spacing: -.035em;
    margin-bottom: 20px;

    @include respond-to-min($resp_step_2) {
      font-size: 24px;
    }

    @include respond-to-min($resp_step_3) {
      font-size: 26px;
      letter-spacing: 0;
    }

    @include respond-to-min($resp_step_4) {
      font-size: 32px;
      margin-bottom: 28px;
    }
  }

  h5 {
    font: 20px/1.4 $RubikMed;
    letter-spacing: .015em;
    margin-bottom: 16px;

    @include respond-to-min($resp_step_3) {
      font-size: 22px;
      letter-spacing: 0;
    }

    @include respond-to-min($resp_step_4) {
      font-size: 26px;
    }
  }

  h6 {
    font: 18px $RubikBold;
    letter-spacing: 0.01em;
    margin-bottom: 16px;

    @include respond-to-min($resp_step_3) {
      font-size: 20px;
    }

    @include respond-to-min($resp_step_4) {
      letter-spacing: 0.02em;
    }
  }

  h1, h3, h5 {
    @extend %firm_color;
  }

  p {
    margin-bottom: 1em;
    font-size: 20px;
    line-height: 1.3;
    letter-spacing: .022em;
  }

  img {
    display: inline-block;
    vertical-align: top;
    max-width: 100%;
    margin: 30px 0;
  }

  .article_img {
    margin: 30px 0;

    img {
      margin: 0;
    }
  }

  a {
    @extend %firm_color;
  }

  ul:not(.article_stat):not(.article_tag_list):not(.action_block_list) {
    margin-top: 25px;
    list-style: none;

    > li {
      position: relative;
      padding-left: 40px;
      margin-bottom: 22px;
      line-height: 1.6;
      letter-spacing: .05em;

      &:before {
        @extend %firm_bg_color;
        content: '';
        position: absolute;
        left: 2px;
        top: 5px;
        width: 12px;
        height: 12px;
        border-radius: 100%;
      }

      > ul {
        margin-top: 22px;
        list-style: none;

        > li {
          position: relative;
          padding-left: 24px;
          margin-bottom: 24px;
          line-height: 1.2;

          &:before {
            @include transform_rotate(45);
            @extend %firm_bg_color;
            content: '';
            position: absolute;
            left: 0;
            top: 5px;
            width: 8px;
            height: 8px;
            line-height: 1;
          }
        }
      }
    }
  }
}

.new_release_holder {
  margin: 0 auto;
  max-width: 688px;
  padding-top: 34px;

  h2 {
    font: 38px $RubikBold;
    margin-bottom: 25px;
  }

  p {
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 28px;
  }

  @include respond-to-min($resp_step_2) {
    max-width: 760px;
  }
}

.release_form_holder {
  border: solid #f8f8f8;
  border-width: 1px 0;
  margin: 50px 0 25px;
  padding: 43px 0 8px;
}

.new_release_form {
  margin: 0 auto;
  max-width: 688px;

  .form_cell {
    margin-bottom: 28px;

    .form_group .form_cell {
      margin-bottom: 0;
    }
  }

  .form_group {
    @extend %clearfix;
    margin-left: -32px;

    .form_cell {
      width: 50%;
      padding-left: 32px;
      float: left;
    }
  }

  @include respond-to-min($resp_step_2) {
    max-width: 760px;
  }
}

.release_summary {
  margin-top: 10px;
  border-top: 1px solid #f8f8f8;
  padding: 28px 0;

  p {
    margin-top: 4px;
    font: 14px $RubikBold;
  }

  ._hash {
    color: #c0c0c0;
    font: 9px $RubikMed;
  }
}
