//*************************** aside

.aside_info_box {
  padding: 15px 20px 12px;
  margin-bottom: 15px;
  background: #fff;
  box-shadow: 0 0 1px rgba(44, 49, 52, 0.29);
}

.aside_box_caption {
  font: 13px/28px $RubikBold;
  color: $violette;
  margin-bottom: 16px;
  position: relative;
  padding-left: 25px;
  text-transform: uppercase;

  @include respond-to-min($resp_step_3) {
    margin-bottom: 20px;
  }
}

.aside_caption_link {
  //@include transition_all(transform .3s);
  color: $violette;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;

  &:hover {
    //color: $violette_dark;
  }
}

.aside_caption_icon {
  @extend %icon_pseudo;
  padding-right: 10px;
  font-size: 20px;
  position: absolute;
  top: 2px;
  left: 0;

  &._hot {
    &:before {
      content: unicode($icon-bonfire);
    }
  }

  &._quote {
    &:before {
      content: unicode($icon-quote);
    }
  }

  &._top {
    &:before {
      content: unicode($icon-crown);
    }
  }

  &._popular {
    &:before {
      content: unicode($icon-heart);
    }
  }

  &._comments {
    &:before {
      content: unicode($icon-feather);
    }
  }

  &._futurama {
    &:before {
      content: unicode($icon-futurama);
    }
  }

  &._calendar {
    &:before {
      content: unicode($icon-calendar);
    }
  }

  &._features {
    &:before {
      content: unicode($icon-flash_circle);
    }
  }

  &._retweet {
    &:before {
      content: unicode($icon-tw);
    }
  }
}

.recent_news_link {
  color: $violette;
  font: 14px $RubikMed;

  &:hover {
    text-decoration: underline;
  }
}

.promo_box {
  display: block;
  margin-bottom: 10px;

  img {
    display: block;
    width: 100%;
  }
}

.promo_link {
  color: #000;
  font: 14px/18px $RubikMed;
}

.recent_news_list {
  list-style: none;

  > li {
    position: relative;
    padding-top: 20px;
    margin-bottom: 5px;

    //&:before {
    //  content: '';
    //  position: absolute;
    //  top: 9px;
    //  right: 0;
    //  left: 0;
    //  height: 1px;
    //  background: #eee;
    //}

    &:first-child {
      padding-top: 0;

      &:before {
        display: none;
      }
    }
  }

  + .aside_box_caption {
    margin-top: 55px;
  }
}

.recent_news {
  .article_link {
    color: #333;
    letter-spacing: -.01em;
    font: 14px/19px $RubikBold;

    &:hover {
      color: $violette;
    }

    @include respond-to-min($resp_step_3) {
      //font-size: 16px;
      //line-height: 1.2;
    }

    &._fz_16 {
      font-size: 16px;
      line-height: 1.4;

      @include respond-to-min($resp_step_3) {
        font-size: 18px;
        line-height: 1.2;
      }
    }
  }

  .article_stat {
    //padding-top: 5px;
    //line-height: 1.5;

    //.article_stat_val._stat_views:before {
    //  line-height: 1.3;
    //}
  }
}

.aside_banner {
  margin-bottom: 14px;
  position: relative;
  max-height: 302px;
  overflow: hidden;

  img {
    display: block;
    max-width: 100%;
  }

  @include respond-to-min($resp_step_2) {
    max-height: 328px;
  }

  @include respond-to-min($resp_step_3) {
    max-height: 362px;
  }

  @include respond-to-min($resp_step_4) {
    max-height: 714px;
  }
}

.banner_content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: #fff;
  padding: 38px 34px;
  overflow: hidden;

  p {
    font: 24px $RubikBlack;
  }

  @include respond-to-min($resp_step_2) {
    padding: 72px 56px 30px;
  }

  @include respond-to-min($resp_step_3) {
    padding-top: 44px;
  }

  @include respond-to-min($resp_step_4) {
    padding-top: 150px;
  }
}

.aside_subscribe {
  padding: 20px 20px 20px;
  margin-bottom: 20px;
  text-align: center;
  color: #fff;
  box-shadow: 0 0 1px rgba(44, 49, 52, 0.29);
  background: $violette;
  
  p {
    margin-bottom: 10px;
    font: 16px/21px $RubikMed;
  }

  .footer_follow_list {
    margin-right: -18px;
    text-align: center;
    font-size: 0;

    li {
      float: none;
      display: inline-block;
      vertical-align: top;
    }
  }

  .action_link {
    @include transition_all(background .3s);
    width: 34px;
    height: 34px;
    border-radius: 100%;
    background: $violette;
    color: #fff;

    &:before {
      line-height: 34px;
    }

    &:hover {
      background: $violette_dark;
    }
  }

  .footer_logo {
    margin-bottom: 10px;
  }

  @include respond-to-min($resp_step_2) {

    .btn_v3.subscribe_btn {
      height: 46px;
      padding: 14px 35px;
      margin-bottom: 40px;
    }

    .footer_logo {
      margin-bottom: 15px;
      float: none;
    }
  }

  @include respond-to-min($resp_step_4) {

    .btn_v3.subscribe_btn {
      margin-bottom: 48px;
    }
  }
}

