//************  buttons

.btn_v1 {
  height: 48px;

  &.more_btn {
    @extend %firm_color;
    @extend %icon_pseudo;
    cursor: pointer;
    display: block;
    text-align: center;
    font: 14px/18px $RubikMed;
    padding: 13px;
    border-radius: 2px;

    .news_col > & {
      margin-bottom: 20px;
    }

    &:after {
      content: unicode($icon-triangle_r);
      margin-left: 10px;
      margin-right: -18px;
      font-size: 11px;
      color: #ddd;
    }

    &:hover {
      @extend %firm_border_color;
    }
  }

  &.subscribe_btn {
    display: inline-block;
    vertical-align: top;
    //letter-spacing: .05em;
    font: 20px/24px $RubikBlack;
    padding: 12px 14px;

    .error & {
      opacity: .2;
      pointer-events: none;
    }
  }
}

.btn_v2 {
  height: 40px;

  &.comment_btn {
    @extend %icon_pseudo;
    display: inline-block;
    vertical-align: top;
    position: relative;
    font: 16px/21px $RubikBold;
    color: $clr_blue;

    &:after {
      content: unicode($icon-chevron_r_thin);
      transform: rotate(90deg);
      color: #eee;
      font-size: 20px;
      display: inline-block;
      vertical-align: middle;
      line-height: 1;
      padding-bottom: 12px;
    }
  }

  &.offer_btn {
    display: block;
    text-align: center;
    font: 14px/20px $RubikBold;
    padding: 8px 5px;
    border-radius: 2px;
    text-transform: uppercase;
    height: auto;
    min-height: 40px;

    .btn_icon {
      font-size: 16px;
      padding-left: 7px;
      vertical-align: -2px;
    }
  }

  &.subscribe_btn {
    @extend %icon_pseudo;
    display: inline-block;
    vertical-align: top;
    padding: 10px 26px;
    font: 14px/16px $RubikBold;
    color: #fff;
    border-radius: 2px;
    height: auto;
    min-height: 40px;

    span {
      display: inline-block;
      vertical-align: middle;
    }

    &:after {
      font-size: 20px;
      display: inline-block;
      vertical-align: middle;
      padding-left: 15px;
    }

    &._no_icon {
      padding: 10px 14px;
    }

    &._fb {
      background: #385184;

      &:after {
        content: unicode($icon-fb);
      }

      &:hover {
        background: #43619e;
      }
    }

    &._tw {
      background: #1da1f2;

      &:after {
        content: unicode($icon-tw);
      }

      &:hover {
        background: #23c1ff;
      }
    }

    &._tg {
      background: #08c;

      &:after {
        content: unicode($icon-tg);
      }

      &:hover {
        background: #00a3f5;
      }
    }
  }

  &.submit_release_btn {
    display: block;
    margin-bottom: 12px;
    text-align: center;
    padding: 10px;
    font: 16px/20px $RubikBold;
  }

  &.create_release_btn {
    float: right;
    display: block;
    padding: 9px 21px;
    border-radius: 2px;
    font: 16px/20px $RubikBold;

    span {
      position: relative;
      z-index: 1;
    }
  }

  &.head_subscribe_btn {
    display: block;
    border-radius: 20px;
    padding: 9px 15px;
    font: 14px/20px $RubikBold;
    text-transform: uppercase;

    span {
      position: relative;
      z-index: 1;
    }

    .btn_icon {
      padding-left: 8px;
      font-size: 18px;
      display: inline-block;
      vertical-align: -2px;
    }
  }

  &.release_btn {
    @extend %firm_color;
    display: block;
    padding: 10px 29px;
    font: 14px/20px $RubikBold;
    background: #fff;
    text-align: center;
    border-radius: 2px;
    margin: 20px 23px 0 0;

    span {
      position: relative;
      z-index: 1;
    }
  }

  &.upload_btn {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    padding: 10px 21px;
    margin-bottom: 17px;
    margin-top: 13px;
    font: 14px/20px $RubikBold;
    background: #fff;
    text-align: center;
    border-radius: 2px;

    span {
      position: relative;
      z-index: 1;
    }
  }
}

.btn_v3 {
  height: 36px;

  &.subscribe_btn {
    display: inline-block;
    vertical-align: top;
    border-radius: 23px;
    padding: 9px 16px;
    margin-bottom: 35px;
    font: 18px/20px $RubikBlack;

    span {
      position: relative;
      z-index: 1;
    }
  }
}

.btn_v4 {
  height: 34px;

  &.subscr_btn {
    @include transition_all(background .3s);
    display: block;
    padding: 5px 15px;
    min-width: 132px;
    border-radius: 17px;
    text-align: center;
    font: 14px/24px $RubikBold;
    color: #fff;
    margin-left: 20px;
    background: $violette;

    &:hover {
      background: #6e31ef;
    }

    &._fb {
      background: #385184;

      &:hover {
        background: #43619e;
      }
    }

    &._tw {
      background: #1da1f2;

      &:hover {
        background: #23c1ff;
      }
    }

    &._tg {
      background: #08c;

      &:hover {
        background: #00a3f5;
      }
    }

    > span {
      padding: 0 3px;
      display: inline-block;
      line-height: 1;
    }

    .btn_icon {
      font-size: 18px;
      vertical-align: middle;
    }
  }

  &.telegram_btn {
    float: right;
    padding: 5px 12px;
    font: 14px/24px $RubikBold;

    span {
      padding: 0 5px;
      display: inline-block;
      vertical-align: middle;
      line-height: 1;
    }

    .btn_icon {
      font-size: 20px;
    }
  }
}

.btn_v5 {
  height: 68px;

  &.subscr_btn {
    display: block;
    padding: 13px 12px;
    text-align: center;
    font: 20px/42px $RubikMed;
    color: #fff;
    //letter-spacing: .015em;

    &._tg {
      background: #139bd0;
    }

    &._fb {
      background: #3b5998;
    }

    &._tw {
      background: #1cb7eb;
    }

    > span {
      padding: 0 7px;
      display: inline-block;
      vertical-align: middle;
      line-height: 1;
    }

    .btn_icon {
      font-size: 34px;
    }
  }
}

.btn_blue {
  @include transition_all(background .3s);
  color: #fff !important;
  background: #179cdf;

  &:hover {
    background: darken(#179cdf, 5%);
  }
}

.transp_btn {
  background: none;
  border: 2px solid #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #fff;
}

.btn_white {
  @include transition_all(background .3s);
  color: $violette;
  background: #fff;

  &:hover {
    background: #f2eefb;
  }
}

.btn_violette {
  position: relative;
  background: $violette;
  color: #fff;

  &:before {
    @include transition_all(opacity .3s);
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: inherit;
    background: $violette;
    opacity: 0;
  }

  &._black {
    &:before {
      background: #000;
    }
  }

  &:hover {
    &:before {
      opacity: 1;
    }
  }
}

.gray_btn {
  @include transition_all(border-color .3s, background .3s);
  color: $clr_blue;
  background: #fff;
  border: 2px solid #f7f8f8;

  &:hover {
    border: 2px solid #e5e6e6;
  }
}

.gray_btn_2 {
  @include transition_all(background .3s, color .3s);
  border: 2px solid rgba(0, 0, 0, .1);
  background: #fff;
  color: $violette;

  &:hover {
    background: $violette;
    color: #fff;
  }
}

.btn_gray_3 {
  @include transition_all(border-color .3s, background .3s);
  color: $violette;
  background: #f7f8f8;
  border: 2px solid #f7f8f8;

  &:hover {
    border-color: $violette;
    background: #fff;
  }
}

.btn_violette_2 {
  @include transition_all(background .3s, color .3s);
  border: 2px solid rgba(0, 0, 0, .1);
  background: $violette;
  color: #fff;

  &:hover {
    //filter: brightness(120%);
    background: #4634aa;
  }
}

.btn_violette_3 {
  @include transition_all(background .3s, color .3s);
  background: $violette;
  color: #fff;

  &:hover {
    background: darken($violette, 10%);
  }
}

.btn_violette_4 {
  @include transition_all(background .3s, color .3s);
  background: #2c1f63;
  color: #fff;

  &:hover {
    background: darken(#2c1f63, 10%);
  }
}

.btn_red {
  color: #fff;
  background: #f46b65;
}

.white_btn {
  background: #fff;
  color: $violette;
}

