//************  buttons

.btn_v1 {
  height: 48px;

  &.more_btn {
    @extend %firm_color;
    @extend %icon_pseudo;
    cursor: pointer;
    display: block;
    text-align: center;
    font: 13px/18px $RubikMed;
    padding: 15px;

    &:before {
      content: $icon-triangle;
      margin: 0 12px 0 -12px;
      font-size: 9px;
    }

    &:hover {
      @extend %firm_border_color;
    }
  }

  &.subscribe_btn {
    display: inline-block;
    vertical-align: top;
    letter-spacing: .05em;
    font: 20px/24px $RubikBlack;
    padding: 12px 14px;

    .error & {
      opacity: .2;
      pointer-events: none;
    }
  }
}

.btn_v2 {
  height: 40px;

  &.create_release_btn {
    float: right;
    display: block;
    padding: 9px 21px;
    border-radius: 2px;
    font: 16px/20px $RubikBold;

    span {
      position: relative;
      z-index: 1;
    }
  }

  &.head_subscribe_btn {
    display: block;
    border-radius: 20px;
    padding: 10px 29px;
    margin: 4px 8px;
    font: 16px/20px $RubikBlack;

    span {
      position: relative;
      z-index: 1;
    }
  }

  &.release_btn {
    @extend %firm_color;
    display: block;
    padding: 10px 29px;
    font: 14px/20px $RubikBold;
    background: #fff;
    text-align: center;
    border-radius: 2px;
    margin: 20px 23px 0 0;

    span {
      position: relative;
      z-index: 1;
    }
  }

  &.upload_btn {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    padding: 10px 21px;
    margin-bottom: 17px;
    margin-top: 13px;
    font: 14px/20px $RubikBold;
    background: #fff;
    text-align: center;
    border-radius: 2px;

    span {
      position: relative;
      z-index: 1;
    }
  }
}

.btn_v3 {
  height: 36px;

  &.subscribe_btn {
    display: inline-block;
    vertical-align: top;
    border-radius: 23px;
    padding: 9px 16px;
    margin-bottom: 35px;
    font: 18px/20px $RubikBlack;

    span {
      position: relative;
      z-index: 1;
    }
  }
}

.btn_v4 {
  height: 34px;

  &.telegram_btn {
    float: right;
    padding: 5px 12px;
    font: 14px/24px $RubikBold;

    span {
      padding: 0 5px;
      display: inline-block;
      vertical-align: middle;
      line-height: 1;
    }

    .btn_icon {
      font-size: 20px;
    }
  }
}

.btn_v5 {
  height: 68px;

  &.subscr_btn {
    display: block;
    padding: 13px 12px;
    text-align: center;
    font: 20px/42px $RubikMed;
    color: #fff;
    letter-spacing: .015em;

    &._tg {
      background: #139bd0;
    }

    &._fb {
      background: #3b5998;
    }

    &._tw {
      background: #1cb7eb;
    }

    > span {
      padding: 0 7px;
      display: inline-block;
      vertical-align: middle;
      line-height: 1;
    }

    .btn_icon {
      font-size: 34px;
    }
  }
}

.btn_blue {
  @include transition_all(background .3s);
  color: #fff !important;
  background: #179cdf;

  &:hover {
    background: darken(#179cdf, 5%);
  }
}

.transp_btn {
  background: none;
  border: 2px solid #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #fff;
}

.gray_btn {
  @include transition_all(border-color .3s, background .3s);
  color: $violette;
  background: #f7f8f8;
  border: 2px solid #f7f8f8;

  &:hover {
    border-color: $violette;
    background: #fff;
  }
}

.btn_white {
  @include transition_all(background .3s);
  color: $violette;
  background: #fff;

  &:hover {
    background: #f2eefb;
  }
}

.btn_violette {
  position: relative;
  background: url(../i/firm_bg_violette.jpg) no-repeat 0 50%;
  color: #fff;

  &:before {
    @include transition_all(opacity .3s);
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: inherit;
    background: $violette;
    opacity: 0;
  }

  &._black {
    &:before {
      background: #000;
    }
  }

  &:hover {
    &:before {
      opacity: 1;
    }
  }
}

.gray_btn_2 {
  @include transition_all(background .3s, color .3s);
  border: 2px solid rgba(0, 0, 0, .1);
  background: #fff;
  color: $violette;

  &:hover {
    background: $violette;
    color: #fff;
  }
}

.btn_violette_2 {
  @include transition_all(background .3s, color .3s);
  border: 2px solid rgba(0, 0, 0, .1);
  background: $violette;
  color: #fff;

  &:hover {
    background: #fff;
    color: $violette;
  }
}

.btn_red {
  color: #fff;
  background: #f46b65;
}

.white_btn {
  background: #fff;
  color: $violette;
}
