.compare_holder {
  margin: 0 auto;
  max-width: 840px;

  .bread_crumbs {
    padding-left: 0;
    padding-right: 0;
  }

  .article_text._mr_-50 {
    margin-right: -50px;
  }

  h2 {
    font: 32px $RubikBold;
    margin-bottom: 30px;
  }
}

.compare_filter {
  background: #f8f8f8;
  border: 1px solid #ddd;
  padding: 30px 40px;
  margin: 40px 0 25px;
}

.compare_filter_list {
  @extend %clearfix;
  list-style: none;
  margin-left: -60px;

  li {
    padding-left: 60px;
    float: left;
    width: 50%;
  }
}

.compare_row {
  @extend %clearfix;
  @extend %global_flex_block_row_nowrap_space_between_stretch;
  margin-left: -60px;
}

.compare_col {
  float: left;
  width: 50%;
  padding-left: 60px;
  font-size: 20px;
  line-height: 38px;
  position: relative;
  margin-bottom: 15px;

  p {
    line-height: 26px;
    margin-bottom: 30px;
  }
}

.compare_caption {
  color: #000;
  font: 20px/38px $RubikBold;
  text-align: center;
  margin-bottom: 10px;
}

.compare_img {
  margin-bottom: 25px;

  img {
    display: block;
    max-width: 100%;
  }
}

.compare_title {
  color: #000;
  font: 20px/26px $RubikBold;
  text-align: center;
  margin: 10px 0;
}

.compare_feature {
  min-height: 100%;
  background: #f8f8f8;
  padding: 2px 5px;
}

.compare_points {
  position: absolute;
  bottom: 100%;
  color: #6fcf97;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 10px;

  &._left {
    left: 60px;
  }

  &._right {
    right: 0;
  }
}

.compare_option {
  @extend %icon_pseudo;
  position: relative;
  padding-left: 55px;
  line-height: 33px;

  &._pros {
    &:before {
      content: unicode($icon-check_circle);
      position: absolute;
      width: 20px;
      height: 20px;
      top: 5px;
      left: 26px;
      font-size: 20px;
      line-height: 1;
      text-align: center;
      color: #05af4f;
      font-weight: 100;
    }
  }

  &._cons {
    &:before {
      content: unicode($icon-close_circle);
      position: absolute;
      width: 20px;
      height: 20px;
      top: 5px;
      left: 26px;
      font-size: 20px;
      line-height: 1;
      text-align: center;
      color: #ff0a24;
      font-weight: 100;
    }
  }

  &._exchange {
    &:before {
      content: unicode($icon-buck_circle);
      position: absolute;
      width: 20px;
      height: 20px;
      top: 5px;
      left: 26px;
      font-size: 20px;
      line-height: 1;
      text-align: center;
      color: #333;
      font-weight: 100;
    }
  }

  &._url {
    &:before {
      content: unicode($icon-globe);
      position: absolute;
      width: 20px;
      height: 20px;
      top: 5px;
      left: 26px;
      font-size: 20px;
      line-height: 20px;
      text-align: center;
      color: $violette;
      font-weight: 100;
    }
  }

  &:first-child {
    margin-top: 25px;
  }

  &:last-child {
    margin-bottom: 20px;
  }
}

.compare_footer {
  padding: 32px 0 47px;
  text-align: center;
  font-size: 20px;
  line-height: 26px;
}

.compare_link {
  color: #415cba;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &._unl {
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}

.compare_counters {
  @extend %clearfix;
  padding: 15px 25px 22px;
  line-height: 34px;

  dt {
    float: left;
    clear: both;
    font-family: $RubikBold;
  }

  dd {
    float: right;
  }
}

.compare_select_w {
  position: relative;
  margin-bottom: 24px;

  .select_arrow {
    top: 16px;
    right: 16px;
  }
}

.compare_select {
  display: block;
  height: 40px;
  width: 100%;
  color: #000;
  padding: 0 12px;
  font: 20px/26px $RubikReg;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 2px;
}

.compare_legal {
  padding: 0 10px;
  font-size: 12px;
  line-height: 14px;
  color: #bbb;
  margin-bottom: 40px;
}

.compare_win {
  color: #05af4f;
}

.compare_lose {
  color: #ff0a24;
}

._fw_b {
  font-family: $RubikBold;
}