.footer {
  //background: url(../i/footer_bg.jpg) no-repeat 50% 50%;
  //-webkit-background-size: cover;
  //-moz-background-size: cover;
  //-o-background-size: cover;
  //background-size: cover;
  //text-align: center;
  position: relative;
  padding-top: 18px;
  padding-bottom: 5px;
  border-top: 1px solid #f2f2f2;

  p {
    color: #fff;
    font: 12px $RubikBold;
  }

  .action_list {
    margin: 0;
    display: block;
    float: left;

    li {
      float: left;
      padding: 0 6px 0 5px;
    }

    .action_link {
      width: 46px;
      height: 46px;

      &:before {
        font-size: 20px;
        line-height: 46px;
        z-index: 1;
        color: #fff;
        position: relative;
      }

      &:after {
        @include transition_all(opacity .3s);
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background: $violette_dark;
        opacity: 0;
      }

      &:hover {
        &:after {
          opacity: 1;
        }
      }

      span {
        color: #fff;
      }
    }
  }

  &._white {
    background: #fff;

    .footer_link {
      color: #000;
    }

    .action_list .action_link span,
    p {
      color: $violette;
    }
  }

  &._footer_v2 {
    margin-top: 35px;

    .section_inner {
      position: relative;
      z-index: 1;
    }

    .footer_bg {
      z-index: -1;
      position: absolute;
      top: 0;
      //bottom: 0;
      //right: 16px;
      //left: 16px;
      //background: $violette;
    }

    .footer_logo {
      margin-left: 7px;
      width: 120px;

      @include respond-to-min($resp_step_2) {
        margin-left: 30px;
        margin-top: -16px;
        width: auto;
      }

      @include respond-to-min($resp_step_3) {
        .logo {
          width: 210px;
          max-width: 100%;
          margin-top: 5px;

          img {
            width: 100%;
            max-width: 100%;
          }
        }
      }

      @include respond-to-min($resp_step_4) {
        .logo {
          width: 235px;
        }
      }
    }

    .footer_menu_holder {
      @extend %clearfix;

      //margin-left: 160px;

      @include respond-to-min($resp_step_2) {
        //margin-left: 210px;
        //margin-left: 275px;
      }

      @include respond-to-min($resp_step_3) {
        //margin-left: 328px;
        //padding-bottom: 32px;
      }

      @include respond-to-min($resp_step_3) {
        //margin-left: 375px;
        //padding-bottom: 32px;
      }
    }
  }
}

.footer_follow_block {
  position: relative;
  padding: 0 12px;
  color: #fff;
  font: 14px/46px $RubikBlack;
  background: $violette url(../i/firm_bg_violette.jpg) no-repeat 0 50%;

  .lang_block {
    margin-top: 7px;
    float: right;
  }
}

.copyright {
  float: left;
  padding: 11px 7px 11px 0;
  color: #333;
  font: 12px/16px $RubikReg;
}

.footer_subscribe_link {
  position: relative;
  padding: 0 12px;
  margin-left: 4px;
  color: #fff;

  span {
    position: relative;
    z-index: 1;
    display: block;

    &:before {
      @include transition_all(opacity .3s);
      content: '';
      position: absolute;
      bottom: 11px;
      right: 0;
      left: 0;
      height: 2px;
      background: #fff;
    }
  }

  &:after {
    @include transition_all(opacity .3s);
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: $violette_dark;
    opacity: 0;
  }

  &:hover {
    &:after {
      opacity: 1;
    }

    span {
      &:before {
        opacity: 0;
      }
    }
  }
}

.footer_follow_label {
  float: left;
  padding-left: 12px;
  //letter-spacing: .02em;

  @include respond-to-min($resp_step_2) {
    padding-left: 18px;
  }

  @include respond-to-min($resp_step_3) {
    padding-left: 28px;
  }

  a,
  span {
    float: left;
  }
}

.footer_menu_holder {
  padding: 4px 0 1px;

  @include respond-to-min($resp_step_2) {

  }

  @include respond-to-min($resp_step_3) {
    //margin-left: 240px;
  }

  @include respond-to-min($resp_step_4) {
    margin-right: -8px;
  }

  .main_menu {
    @extend %global_flex_block_row_nowrap_space_between_center;
    opacity: 1;

    .menu_item {
      padding: 0 0 0 10px;
      margin-bottom: 15px;
    }

    .menu_link {
      text-decoration: none;
      color: $violette;
      font: 16px $RubikBlack;

      &:hover {
        color: $violette_dark;
      }

      @include respond-to-min($resp_step_2) {
        font-size: 18px;
      }
    }
  }
}

.footer_col {
  float: left;
  padding-right: .5%;

  p {
    color: #333;
    font: 12px/16px $RubikBold;
    margin-bottom: 5px;
  }

  .subscribe_btn {
    width: 100%;
    margin: 12px 0;
    text-align: center;
  }

  &.s_2 {
    width: 11.2%;
  }

  &.s_3 {
    width: 13.8%;
  }

  &.s_4 {
    width: 11.5%;
  }

  &.s_5 {
    width: 14.1%;
  }

  &.s_6 {
    width: 10.7%;
  }

  &.s_7 {
    width: 18.3%;
  }

  &.s_8 {
    padding-right: 0;
    width: 20.3%;

    @include respond-to-max($resp_step_2) {
      //padding-top: 30px;

      p {
        //line-height: 40px;
        //float: left;
        //padding-right: 20px;
        //min-width: 30%;
      }

      .footer_follow_list {
        //padding-top: 10px;
        //float: left;
      }
    }
  }

  //@include respond-to-min($resp_step_2) {
  //  &.s_2,
  //  &.s_3,
  //  &.s_4,
  //  &.s_5,
  //  &.s_6,
  //  &.s_7 {
  //    width: 13.5%;
  //  }
  //
  //  &.s_8 {
  //    float: right;
  //    padding-right: 0;
  //    width: 18.8%;
  //    margin-right: -.8%;
  //  }
  //}

  @include respond-to-min($resp_step_3) {
    //&.s_2 {
    //  width: 25%;
    //}
    //
    //&.s_3 {
    //  width: 29.5%;
    //}

    //&.s_4 {
    //  width: 41.3%;
    //}
  }

  @include respond-to-min($resp_step_4) {
    //&.s_2 {
    //  width: 24.5%;
    //}
    //
    //&.s_3 {
    //  width: 33%;
    //}
    //
    //&.s_4 {
    //  width: 37.3%;
    //}
  }
}

.footer_col_menu {
  list-style: none;
  float: left;
  min-width: 50%;

  li {
    position: relative;
    //padding-left: 15px;
    //
    //&:before {
    //  content: '';
    //  position: absolute;
    //  top: 50%;
    //  left: 0;
    //  width: 4px;
    //  height: 4px;
    //  background: #7b6eb8;
    //  margin-top: -2px;
    //  border-radius: 100%;
    //}
  }
}

.footer_follow_list {
  @extend %clearfix;
  margin-right: -8px;
  margin-left: -8px;
  list-style: none;

  li {
    float: left;
    padding-right: 6px;
    margin-bottom: 10px;
  }

  .header & {
    float: right;
    margin-top: 5px;

    li {
      padding-right: 16px;
    }

    .action_sh {
      color: $default_t_color;
    }
  }

  .footer & {
    li {
      padding-right: 8px;

      @include respond-to-max($resp_step_2) {
        padding-right: 2px;
      }
    }
  }

  .action_sh {
    @include transition_all(color .3s, border-color .3s);
    color: #333;
    border: 1px solid transparent;

    &:hover {
      color: $violette !important;
      border-color: $violette;
    }
  }
}

.footer_col_link {
  text-decoration: none;
  color: #333;
  font: 12px/25px $RubikReg;

  &:hover {
    text-decoration: underline;
  }
}

.footer_col_caption {
  color: #333;
  font: 12px/20px $RubikBold;

  &._op {
    color: #828282;
  }
}

a.footer_col_caption {
  &:hover {
    text-decoration: underline;
  }
}

$footer_koef: 0px;

.copyright_block {
  @extend %clearfix;
  //background: #2c1f63;
  //padding: 6px (36px - $footer_koef) 4px (37px - $footer_koef);
  padding: 6px 20px 1px 7px;

  .copyright,
  .footer_link {
    color: #333;
    font-weight: 400;
  }

  .footer_link {

    //letter-spacing: .01em;

    //@include respond-to-min($resp_step_2) {
    //  font-size: 13px;
    //}
  }

  //.copyright {
  //  font-size: 12px;
  //
  //  @include respond-to-min($resp_step_2) {
  //    font-size: 14px;
  //  }
  //}

  //@include respond-to-min($resp_step_2) {
  //  padding: 6px (90px - $footer_koef) 4px (57px - $footer_koef);
  //}
  //
  //@include respond-to-min($resp_step_3) {
  //  padding: 2px (72px - $footer_koef) 2px (69px - $footer_koef);
  //}
  //
  //@include respond-to-min($resp_step_4) {
  //  padding: 2px (88px - $footer_koef) 2px (85px - $footer_koef);
  //}
}

.follow_form {
  @extend %clearfix;
  margin-bottom: 15px;
}

.follow_cell {
  float: right;

  + .follow_cell {
    float: none;
    margin-right: 128px;

    @include respond-to-min($resp_step_2) {
      margin-right: 132px;
    }

    @include respond-to-min($resp_step_3) {
      margin-right: 145px;
    }
  }

  .btn_v4.subscr_btn {
    padding: 5px;

    @include respond-to-max($resp_step_4) {
      min-width: 116px;
    }
  }
}

.footer_menu {
  list-style: none;
  float: left;
  padding: 11px 25px;

  li {
    display: inline-block;
    vertical-align: top;
    padding-left: 7px;
  }

  @include respond-to-min($resp_step_2) {
    padding-top: 10px;
  }

  @include respond-to-min($resp_step_4) {
    padding-top: 11px;
  }
}

.footer_link {
  color: #c0c0c0;
  font: 12px/16px $RubikMed;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.footer_logo {
  float: left;
}

.go_top_holder {
  pointer-events: none;
  position: fixed;
  z-index: 4;
  bottom: 270px;
  height: 0;
  right: 0;
  left: 0;

  .section_inner {
    position: relative;
  }

  ._vis & {
    opacity: 1;
  }

  &._bottom {
    position: absolute;
    bottom: 100%;
  }
}

.go_top {
  @extend %icon_pseudo;
  @include transition_all(left .3s, background .3s, color .3s, opacity .3s);
  position: absolute;
  bottom: 0;
  opacity: 0;
  left: -65px;
  width: 56px;
  height: 56px;
  font-size: 20px;
  line-height: 58px;
  text-align: center;
  border-radius: 100%;
  color: $violette;
  background: #fff;
  box-shadow: 0 12px 14px 0 rgba(37, 16, 80, 0.10);
  //box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.50), 0 12px 14px 0 rgba(0, 0, 0, 0.50);

  &:before {
    content: unicode($icon-arrow-up);
  }

  &:hover {
    color: #fff;
    background: $violette_dark;
    box-shadow: 0 2px 4px 0 rgba(37, 16, 80, 0.30), 0 12px 14px 0 rgba(37, 16, 80, 0.20);
  }

  ._vis & {
    left: 14px;
    opacity: 1;
    pointer-events: all;
  }
}

.clr_violette {
  color: $violette;
}

.clr_red {
  color: $red;
}

.clr_blue {
  color: $blue;
}

.clr_green {
  color: $green;
}

.clr_gray {
  color: $gray;
}

$rectWidth: $content-max-w;

// **********  text

.text_center {
  text-align: center;
}

.text_right {
  text-align: right;
}

.text_left {
  text-align: left;
}

.text_upper {
  text-transform: uppercase;
}

._vis_1280 {

  @include respond-to-max($resp_step_2) {
    display: none !important;
  }
}

.chromeperfectpixel-overlay,
.chromeperfectpixel-portal {
  //pointer-events: none !important;
}
