.footer {
  //background: url(../i/footer_bg.jpg) no-repeat 50% 50%;
  //-webkit-background-size: cover;
  //-moz-background-size: cover;
  //-o-background-size: cover;
  //background-size: cover;
  //text-align: center;
  position: relative;
  padding-top: 7px;

  p {
    color: #fff;
    font: 12px $RubikBold;
  }

  .action_list {
    margin: 0;
    display: block;
    float: left;

    li {
      float: left;
      padding: 0 6px 0 5px;
    }

    .action_link {
      width: 46px;
      height: 46px;

      &:before {
        font-size: 20px;
        line-height: 46px;
        z-index: 1;
        color: #fff;
        position: relative;
      }

      &:after {
        @include transition_all(opacity .3s);
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background: $violette_dark;
        opacity: 0;
      }

      &:hover {
        &:after {
          opacity: 1;
        }
      }

      span {
        color: #fff;
      }
    }
  }

  &._white {
    background: #fff;

    .footer_link {
      color: #000;
    }

    .action_list .action_link span,
    p {
      color: $violette;
    }
  }
}

.footer_follow_block {
  position: relative;
  padding: 0 12px;
  color: #fff;
  font: 14px/46px $RubikBlack;
  background: $violette url(../i/firm_bg_violette.jpg) no-repeat 0 50%;

  .lang_block {
    margin-top: 7px;
    float: right;
  }
}

.copyright {
  float: left;
  padding: 11px;
  color: #c0c0c0;
  font: 10px/16px $RubikMed;

  @include respond-to-min($resp_step_2) {
    font-size: 11px;
    padding: 12px;
  }

  @include respond-to-min($resp_step_4) {
    padding: 15px;
  }
}

.footer_subscribe_link {
  position: relative;
  padding: 0 12px;
  margin-left: 4px;
  color: #fff;

  span {
    position: relative;
    z-index: 1;
    display: block;

    &:before {
      @include transition_all(opacity .3s);
      content: '';
      position: absolute;
      bottom: 11px;
      right: 0;
      left: 0;
      height: 2px;
      background: #fff;
    }
  }

  &:after {
    @include transition_all(opacity .3s);
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: $violette_dark;
    opacity: 0;
  }

  &:hover {
    &:after {
      opacity: 1;
    }

    span {
      &:before {
        opacity: 0;
      }
    }
  }
}

.footer_follow_label {
  float: left;
  padding-left: 12px;
  letter-spacing: .02em;

  @include respond-to-min($resp_step_2) {
    padding-left: 18px;
  }

  @include respond-to-min($resp_step_3) {
    padding-left: 28px;
  }

  a,
  span {
    float: left;
  }
}

.footer_menu_holder {
  margin-left: 190px;
  padding-top: 20px;
  padding-bottom: 6px;

  @include respond-to-min($resp_step_2) {
    margin-left: 225px;
    margin-right: -4px;
    padding-top: 26px;
    padding-bottom: 15px;
  }

  @include respond-to-min($resp_step_3) {
    margin-left: 240px;
  }

  @include respond-to-min($resp_step_4) {
    margin-right: -8px;
  }

  .main_menu {
    @extend %global_flex_block_row_nowrap_space_between_center;
    opacity: 1;

    .menu_item {
      padding: 0 0 0 10px;
      margin-bottom: 15px;
    }

    .menu_link {
      text-decoration: none;
      color: $violette;
      font: 16px $RubikBlack;

      &:hover {
        color: $violette_dark;
      }

      @include respond-to-min($resp_step_2) {
        font-size: 18px;
      }
    }
  }
}

.footer_menu {
  list-style: none;
  float: right;
  padding: 8px 12px 14px;

  li {
    display: inline-block;
    vertical-align: top;
    padding-left: 32px;
  }

  @include respond-to-min($resp_step_2) {
    padding-top: 10px;
  }

  @include respond-to-min($resp_step_4) {
    padding-top: 11px;
  }
}

.footer_link {
  color: #c0c0c0;
  text-decoration: none;
  font: 10px/16px $RubikMed;

  @include respond-to-min($resp_step_2) {
    font-size: 11px;
  }

  &:hover {
    text-decoration: underline;
  }
}

.footer_logo {
  float: left;
}

.go_top_holder {
  pointer-events: none;
  position: fixed;
  z-index: 4;
  bottom: 270px;
  height: 0;
  right: 0;
  left: 0;

  .section_inner {
    position: relative;
  }

  ._vis & {
    opacity: 1;
  }

  &._bottom {
    position: absolute;
    bottom: 100%;
  }
}

.go_top {
  @extend %icon_pseudo;
  @include transition_all(left .3s, background .3s, color .3s, opacity .3s);
  position: absolute;
  bottom: 0;
  opacity: 0;
  left: -65px;
  width: 56px;
  height: 56px;
  font-size: 20px;
  line-height: 58px;
  text-align: center;
  border-radius: 100%;
  color: $violette;
  background: #fff;
  box-shadow: 0 12px 14px 0 rgba(37, 16, 80, 0.10);
  //box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.50), 0 12px 14px 0 rgba(0, 0, 0, 0.50);

  &:before {
    content: $icon-arrow-up;
  }

  &:hover {
    color: #fff;
    background: $violette_dark;
    box-shadow: 0 2px 4px 0 rgba(37, 16, 80, 0.30), 0 12px 14px 0 rgba(37, 16, 80, 0.20);
  }

  ._vis & {
    left: 14px;
    opacity: 1;
    pointer-events: all;
  }
}

.clr_violette {
  color: $violette;
}

.clr_red {
  color: $red;
}

.clr_blue {
  color: $blue;
}

.clr_green {
  color: $green;
}

.clr_gray {
  color: $gray;
}

$rectWidth: $content-max-w;

// **********  text

.text_center {
  text-align: center;
}

.text_right {
  text-align: right;
}

.text_left {
  text-align: left;
}

.text_upper {
  text-transform: uppercase;
}

._vis_1280 {

  @include respond-to-max($resp_step_2) {
    display: none !important;
  }
}

.chromeperfectpixel-overlay,
.chromeperfectpixel-portal {
  //pointer-events: none !important;
}
