.footer {
  //background: url(../i/footer_bg.jpg) no-repeat 50% 50%;
  //-webkit-background-size: cover;
  //-moz-background-size: cover;
  //-o-background-size: cover;
  //background-size: cover;
  //text-align: center;
  position: relative;
  padding-top: 7px;

  p {
    color: #fff;
    font: 12px $RubikBold;
  }

  .action_list {
    margin: 0;
    display: block;
    float: left;

    li {
      float: left;
      padding: 0 6px 0 5px;
    }

    .action_link {
      width: 46px;
      height: 46px;

      &:before {
        font-size: 20px;
        line-height: 46px;
        z-index: 1;
        color: #fff;
        position: relative;
      }

      &:after {
        @include transition_all(opacity .3s);
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background: $violette_dark;
        opacity: 0;
      }

      &:hover {
        &:after {
          opacity: 1;
        }
      }

      span {
        color: #fff;
      }
    }
  }

  &._white {
    background: #fff;

    .footer_link {
      color: #000;
    }

    .action_list .action_link span,
    p {
      color: $violette;
    }
  }

  &._footer_v2 {
    margin-top: 35px;
    padding-top: 35px;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      height: 1px;
      background: $violette;
    }

    .footer_logo {
      margin-left: -7px;
      width: 120px;

      @include respond-to-min($resp_step_2) {
        margin-left: 10px;
        width: auto;
      }

      @include respond-to-min($resp_step_3) {
        .logo {
          width: 210px;
          max-width: 100%;
          margin-top: 5px;

          img {
            width: 100%;
            max-width: 100%;
          }
        }
      }

      @include respond-to-min($resp_step_4) {
        .logo {
          width: 235px;
        }
      }
    }

    .footer_menu_holder {
      @extend %clearfix;
      padding-top: 0;
      padding-bottom: 12px;
      margin-left: 140px;

      @include respond-to-min($resp_step_2) {
        margin-left: 210px;
      }

      @include respond-to-min($resp_step_3) {
        margin-left: 328px;
        padding-bottom: 32px;
      }

      @include respond-to-min($resp_step_3) {
        margin-left: 375px;
        padding-bottom: 32px;
      }
    }
  }
}

.footer_follow_block {
  position: relative;
  padding: 0 12px;
  color: #fff;
  font: 14px/46px $RubikBlack;
  background: $violette url(../i/firm_bg_violette.jpg) no-repeat 0 50%;

  .lang_block {
    margin-top: 7px;
    float: right;
  }
}

.copyright {
  float: left;
  padding: 11px;
  color: #c0c0c0;
  font: 10px/16px $RubikMed;

  @include respond-to-min($resp_step_2) {
    font-size: 11px;
    padding: 12px;
  }

  @include respond-to-min($resp_step_4) {
    padding: 15px;
  }
}

.footer_subscribe_link {
  position: relative;
  padding: 0 12px;
  margin-left: 4px;
  color: #fff;

  span {
    position: relative;
    z-index: 1;
    display: block;

    &:before {
      @include transition_all(opacity .3s);
      content: '';
      position: absolute;
      bottom: 11px;
      right: 0;
      left: 0;
      height: 2px;
      background: #fff;
    }
  }

  &:after {
    @include transition_all(opacity .3s);
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: $violette_dark;
    opacity: 0;
  }

  &:hover {
    &:after {
      opacity: 1;
    }

    span {
      &:before {
        opacity: 0;
      }
    }
  }
}

.footer_follow_label {
  float: left;
  padding-left: 12px;
  letter-spacing: .02em;

  @include respond-to-min($resp_step_2) {
    padding-left: 18px;
  }

  @include respond-to-min($resp_step_3) {
    padding-left: 28px;
  }

  a,
  span {
    float: left;
  }
}

.footer_menu_holder {
  margin-left: 190px;
  padding-top: 20px;
  padding-bottom: 6px;

  @include respond-to-min($resp_step_2) {
    margin-left: 225px;
    margin-right: -4px;
    padding-top: 26px;
    padding-bottom: 15px;
  }

  @include respond-to-min($resp_step_3) {
    margin-left: 240px;
  }

  @include respond-to-min($resp_step_4) {
    margin-right: -8px;
  }

  .main_menu {
    @extend %global_flex_block_row_nowrap_space_between_center;
    opacity: 1;

    .menu_item {
      padding: 0 0 0 10px;
      margin-bottom: 15px;
    }

    .menu_link {
      text-decoration: none;
      color: $violette;
      font: 16px $RubikBlack;

      &:hover {
        color: $violette_dark;
      }

      @include respond-to-min($resp_step_2) {
        font-size: 18px;
      }
    }
  }
}

.footer_col {
  float: left;
  padding-right: .5%;

  p {
    color: $violette;
    font: 12px/16px $RubikReg;
    margin-bottom: 10px;

    @include respond-to-min($resp_step_2) {
      font-size: 13px;
      margin-bottom: 15px;
    }
  }

  &.s_2 {
    width: 26%;
  }

  &.s_3 {
    width: 33%;
  }

  &.s_4 {
    width: 40%;
  }

  @include respond-to-min($resp_step_2) {
    &.s_2 {
      width: 27%;
    }

    &.s_3 {
      width: 34%;
    }

    &.s_4 {
      width: 37.7%;
    }
  }

  @include respond-to-min($resp_step_3) {
    &.s_2 {
      width: 25%;
    }

    &.s_3 {
      width: 29.5%;
    }

    &.s_4 {
      width: 41.3%;
    }
  }

  @include respond-to-min($resp_step_4) {
    &.s_2 {
      width: 24.5%;
    }

    &.s_3 {
      width: 33%;
    }

    &.s_4 {
      width: 37.3%;
    }
  }
}

.footer_col_menu {
  list-style: none;
  float: left;
  min-width: 48%;
  padding-top: 7px;

  li {
    margin-bottom: 4px;

    @include respond-to-min($resp_step_2) {
      margin-bottom: 7px;
    }
  }
}

.footer_follow_list {
  list-style: none;

  li {
    float: left;
    padding-right: 12px;
    margin-bottom: 10px;
  }

  .action_sh {
    @include transition_all(color .3s, border-color .3s);
    color: $violette;
    border: 1px solid $violette;

    &:hover {
      color: #7835ff !important;
      border-color: #7835ff;
    }
  }
}

.footer_col_link {
  text-decoration: none;
  color: $violette;
  font: 13px/16px $RubikReg;
}

.footer_col_caption {
  color: $violette;
  font: 14px $RubikBold;
  margin-bottom: 8px;

  @include respond-to-min($resp_step_2) {
    font-size: 16px;
    margin-bottom: 10px;
  }

  @include respond-to-min($resp_step_3) {

  }
}

$footer_koef: 0px;

.copyright_block {
  @extend %clearfix;
  margin: 0 12px;
  background: $violette;
  padding: 6px (36px - $footer_koef) 4px (37px - $footer_koef);

  .copyright,
  .footer_link {
    color: #f7f8f8;
    font-weight: 400;
  }

  .footer_link {
    font-size: 12px;
    letter-spacing: .01em;

    @include respond-to-min($resp_step_2) {
      font-size: 13px;
    }
  }

  .copyright {
    font-size: 12px;

    @include respond-to-min($resp_step_2) {
      font-size: 14px;
    }
  }

  @include respond-to-min($resp_step_2) {
    padding: 6px (90px - $footer_koef) 4px (57px - $footer_koef);
  }

  @include respond-to-min($resp_step_3) {
    padding: 2px (72px - $footer_koef) 2px (69px - $footer_koef);
  }

  @include respond-to-min($resp_step_4) {
    padding: 2px (88px - $footer_koef) 2px (85px - $footer_koef);
  }
}

.follow_form {
  @extend %clearfix;
  margin-bottom: 15px;
}

.follow_cell {
  float: right;

  + .follow_cell {
    float: none;
    margin-right: 128px;

    @include respond-to-min($resp_step_2) {
      margin-right: 132px;
    }

    @include respond-to-min($resp_step_3) {
      margin-right: 145px;
    }
  }

  .btn_v4.subscr_btn {
    padding: 5px;

    @include respond-to-max($resp_step_4) {
      min-width: 116px;
    }
  }
}

.footer_menu {
  list-style: none;
  float: right;
  padding: 8px 12px 14px;

  li {
    display: inline-block;
    vertical-align: top;
    padding-left: 32px;
  }

  @include respond-to-min($resp_step_2) {
    padding-top: 10px;
  }

  @include respond-to-min($resp_step_4) {
    padding-top: 11px;
  }
}

.footer_link {
  color: #c0c0c0;
  text-decoration: none;
  font: 10px/16px $RubikMed;

  @include respond-to-min($resp_step_2) {
    font-size: 11px;
  }

  &:hover {
    text-decoration: underline;
  }
}

.footer_logo {
  float: left;
}

.go_top_holder {
  pointer-events: none;
  position: fixed;
  z-index: 4;
  bottom: 270px;
  height: 0;
  right: 0;
  left: 0;

  .section_inner {
    position: relative;
  }

  ._vis & {
    opacity: 1;
  }

  &._bottom {
    position: absolute;
    bottom: 100%;
  }
}

.go_top {
  @extend %icon_pseudo;
  @include transition_all(left .3s, background .3s, color .3s, opacity .3s);
  position: absolute;
  bottom: 0;
  opacity: 0;
  left: -65px;
  width: 56px;
  height: 56px;
  font-size: 20px;
  line-height: 58px;
  text-align: center;
  border-radius: 100%;
  color: $violette;
  background: #fff;
  box-shadow: 0 12px 14px 0 rgba(37, 16, 80, 0.10);
  //box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.50), 0 12px 14px 0 rgba(0, 0, 0, 0.50);

  &:before {
    content: unicode($icon-arrow-up);
  }

  &:hover {
    color: #fff;
    background: $violette_dark;
    box-shadow: 0 2px 4px 0 rgba(37, 16, 80, 0.30), 0 12px 14px 0 rgba(37, 16, 80, 0.20);
  }

  ._vis & {
    left: 14px;
    opacity: 1;
    pointer-events: all;
  }
}

.clr_violette {
  color: $violette;
}

.clr_red {
  color: $red;
}

.clr_blue {
  color: $blue;
}

.clr_green {
  color: $green;
}

.clr_gray {
  color: $gray;
}

$rectWidth: $content-max-w;

// **********  text

.text_center {
  text-align: center;
}

.text_right {
  text-align: right;
}

.text_left {
  text-align: left;
}

.text_upper {
  text-transform: uppercase;
}

._vis_1280 {

  @include respond-to-max($resp_step_2) {
    display: none !important;
  }
}

.chromeperfectpixel-overlay,
.chromeperfectpixel-portal {
  //pointer-events: none !important;
}
