.autocomplete_v1 {
  //display: block !important;
  max-width: 100%;
  border: 2px solid rgba(0, 0, 0, 0.1);
  z-index: 1;
  background: #fff;
  box-shadow: none;

  .autocomplete-suggestion {
    @include transition_all(color .3s);
    @extend %clearfix;
    position: relative;
    padding: 9px 0;
    color: #000;

    &.selected {
      background-color: transparent;
      color: $violette;
    }
  }

  .search_result {
    white-space: normal;
    font: 13px/1.2 $RubikMed;
    padding: 3px 16px;
  }

  .search_date {
    @extend .news_date;

    + .search_result {
      margin-right: 50px;
    }
  }
}

.search_input {
  display: block;
  position: relative;
  z-index: 1;
  width: 100%;
  color: $violette;
  border: 0;
  background: none;
  font: 16px/1 $RubikBold;
  border-radius: 24px;
  height: 40px;
  padding: 12px 56px 12px 70px;
}

.input_v1 {
  @include transition_all(border-color .3s);
  display: block;
  height: 56px;
  width: 100%;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 2px;
  font: 16px/20px $RubikBold;
  padding: 16px 14px;

  &::-moz-placeholder {
    color: rgba(255, 255, 255, .5);
  }

  &::-webkit-input-placeholder {
    color: rgba(255, 255, 255, .5);
  }

  &.error {
    border-color: #ff0a24;
  }
}

.input_v2 {
  @include transition_all(border-color .3s);
  display: block;
  height: 48px;
  width: 100%;
  color: $violette;
  border: 2px solid $violette;
  border-radius: 2px;
  font: 18px/20px $RubikMed;
  padding: 12px;

  &::-moz-placeholder {
    color: $violette;
  }

  &::-webkit-input-placeholder {
    color: $violette;
  }

  &.error {
    color: #ff0a24;
    border-color: #ff0a24;
  }

  &.success {
    color: #000;
    border-color: #000;
  }
}

.input_v3 {
  @include transition_all(border-color .3s);
  display: block;
  height: 40px;
  width: 100%;
  color: #000;
  border: 2px solid rgba(0, 0, 0, .1);
  border-radius: 2px;
  font: 13px/16px $RubikMed;
  padding: 10px 16px;

  &:hover {
    border-color: rgba(0, 0, 0, .16);
  }

  &.error {
    border-color: rgba(199, 41, 61, .4);
  }

  &.success {
    border-color: rgba(38, 109, 17, .4);
  }

  &[disabled] {
    background: #f8f8f8 !important;
    border: 2px solid rgba(0, 0, 0, .1) !important;
  }
}

textarea.input_v3 {
  height: 240px;
}

.input_v4 {
  @include transition_all(border-color .3s);
  display: block;
  height: 34px;
  width: 100%;
  color: $violette;
  border: 1px solid $violette;
  border-radius: 2px;
  font: 11px/14px $RubikMed;
  padding: 10px 15px;
  background: #fff;

  &::-moz-placeholder {
    color: $violette;
  }

  &::-webkit-input-placeholder {
    color: $violette;
  }

  &.error {
    color: #ff0a24;
    border-color: #ff0a24;
  }

  &.success {
    color: #000;
    border-color: #000;
  }

  @include respond-to-min($resp_step_2) {
    padding: 10px 35px;
  }
}

.input_w {
  position: relative;

  &._has_currency {

    input {
      padding-right: 77px;
    }

    &:before {
      content: '';
      position: absolute;
      right: 67px;
      top: 0;
      bottom: 0;
      width: 2px;
      background: rgba(0, 0, 0, .1);
    }
  }
}

.label_v1 {
  color: #000;
  font: 13px $RubikMed;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 7px;
}

.label_v2 {
  //letter-spacing: .02em;
  color: #000;
  font: 14px $RubikMed;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 7px;
}

.msg_block {
  margin: 65px auto;
  width: 770px;
  border: 2px solid rgba(0, 0, 0, 0.1);
  padding: 62px 40px 52px;
  text-align: center;
  line-height: 28px;
  font-size: 20px;

  p {
    //letter-spacing: .02em;
  }
}

.msg_title {
  font: 38px/54px $RubikBold;
  color: #202020;
  margin-bottom: 22px;
}

.msg_status {
  @extend %icon_pseudo;
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 70px;
  height: 70px;
  border: 3px solid;
  border-radius: 100%;
  text-align: center;
  margin: 24px 0 20px;

  &._success {
    color: #43a526;
    border-color: #43a526;
    line-height: 74px;
    font-size: 46px;

    &:before {
      content: unicode($icon-ufo_3);
    }
  }

  &._fail {
    color: #ff0a24;
    border-color: #ff0a24;
    line-height: 74px;
    font-size: 36px;
    margin-top: 38px;

    &:before {
      content: unicode($icon-close);
    }
  }
}

.msg_link {
  font: 14px $RubikMed;
  text-decoration: underline;
  color: $violette;

  &:hover {
    text-decoration: none;
  }
}

