//*************************** header

%header_btn {
  @include transition_all(border-color .3s, background .3s, opacity .3s);
  z-index: 7;
  position: relative;
  display: block;
  border-radius: 100%;
  width: 48px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  font-size: 18px;
  color: $violette;
  background: #f7f8f8;
  border: 2px solid #f7f8f8;

  &:hover {
    border-color: $violette;
    background: #fff;
  }
}

.nav_holder {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 5;
  //margin: 0 auto;
  //max-width: 952px + 32px;
  //
  //@include respond-to-min($resp_step_1) {
  //  max-width: 1192px + 32px;
  //}
  //
  //@include respond-to-min($resp_step_2) {
  //  max-width: 1384px + 32px;
  //}
  //
  //@include respond-to-min($resp_step_3) {
  //  max-width: 1576px + 32px;
  //}
}

.header {
  @include transition_all(box-shadow .3s, transform .3s);
  box-shadow: 0 0 rgba(0, 0, 0, 0);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  text-align: center;
  //line-height: 48px;
  padding-top: 18px;
  min-height: 80px;
  background: #fff;

  &._shadow {
    //box-shadow: 0 3px 5px rgba(0, 0, 0, .75);
  }
  &.nav-up {
    //@include transform_translate(0, -100%);
    //box-shadow: 0 0 rgba(0, 0, 0, 0);
  }

  .menu_opened &,
  .search_opened & {
    //position: fixed;
    //-webkit-transform: none !important;
    //-ms-transform: none !important;
    //transform: none !important;
  }

  @include respond-to-min($resp_step_2) {
    min-height: 85px;
  }
}

.menu_btn {
  @extend %header_btn;
  opacity: 1;

  &:before {
    top: 17px;
  }

  &:after {
    top: 21px;
  }

  span,
  &:after,
  &:before {
    @include transition_all(transform .3s, top .3s);
    content: '';
    position: absolute;
    left: 15px;
    width: 14px;
    height: 2px;
    background: $violette;
  }

  span {
    @include transition_all(opacity .3s);
    width: 8px;
    top: 25px;
    opacity: 1;
  }

  .search_opened & {
    @include transition_all(opacity .3s, z-index .01s .3s);
    z-index: 1;
    opacity: 0;
    pointer-events: none;
  }

  .menu_opened & {
    &:before {
      transform: rotate(-45deg);
      top: 22px;
    }

    &:after {
      transform: rotate(45deg);
      top: 22px;
    }

    span {
      opacity: 0;
    }
  }
}

.search_btn {
  @extend %header_btn;
  @extend %icon_pseudo;

  &:before {
    content: $icon-search;
  }

  &:after {
    content: '';
    background-color: transparent;
  }

  .search_opened & {
    &:after,
    &:before {
      @include transition_all(transform .3s, top .3s, background .3s);
      content: '';
      position: absolute;
      left: 15px;
      width: 14px;
      height: 2px;
      top: 22px;
      background: $violette;
    }

    &:before {
      transform: rotate(-45deg);
    }

    &:after {
      transform: rotate(45deg);
    }
  }
}

.logo_block {
  @include transition_all(opacity .3s);
  position: relative;
  z-index: 6;
  float: left;
  margin-left: 4px;
  opacity: 1;

  //.search_opened & {
  //  @include transition_all(opacity .3s, z-index .01s .3s);
  //  opacity: 0;
  //  z-index: 1;
  //  pointer-events: none;
  //}
}

.logo {
  position: relative;
  display: inline-block;
  vertical-align: top;
  max-width: 168px;

  img {
    display: block;
    width: 200px;
    max-width: 100%;
  }

  @include respond-to-min($resp_step_2) {
    max-width: 200px;
  }
}

.user_menu {
  list-style: none;
  float: right;
  min-width: 200px;
  padding-top: 2px;
  margin-right: -4px;

  li {
    float: right;
    padding-right: 16px;
  }

  @include respond-to-min($resp_step_2) {
    padding-top: 10px;
    padding-left: 50px;
    min-width: 350px;
  }
}

.callback_block {
  float: right;
}

.clr_red_2 {
  color: $red_2;
}

.clr_green {
  color: $green;
}

.currency_val {
  font: 13px $RubikMed;
}
