.attention_block {
  @extend %icon_pseudo;
  padding: 16px 12px 14px 27px;
  margin: 14px 14px 12px;
  background: #f7f6ef;
  font: 13px $RubikMed;
  letter-spacing: -.038em;
  position: relative;
  z-index: 1;
  display: block;

  p {
    @include transition_all(color .3s);
    font-size: 15px;
    line-height: 1.1;
  }

  &:hover p {
    color: $violette;
  }

  &._warn {
    //border: 3px solid #ff0a24;
    color: #271a0f;

    &:before {
      content: $icon-flash;
      position: absolute;
      top: 50%;
      margin-top: -13px;
      left: -12px;
      width: 28px;
      height: 28px;
      font-size: 18px;
      line-height: 28px;
      background: #ff0a24;
      padding-left: 2px;
      color: #fff;
    }
  }

  @include respond-to-min($resp_step_3) {
    margin-bottom: 22px;
  }
}

.attention_caption {
  color: #fff;
  height: 28px;
  font: 14px/28px $RubikBlack;
  letter-spacing: .01em;
  padding-right: 13px;
  float: left;
  margin: -6px 27px 0 -11px;

  + p {
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  ._warn & {
    background: #ff0a24;
  }

  @include respond-to-min($resp_step_2) {
    //margin-right: 34px;
  }
}

.attention_link {
  @extend %icon_pseudo;
  color: #ff0a24;
  font-size: 18px;
  line-height: 1;
  display: inline-block;
  vertical-align: middle;
  margin: -2px 0 -4px 35px;

  &:before {
    content: $icon-arrow-right;
  }
}

.article_reviews {
  list-style: none;

  > li {
    + li {
      padding-top: 5px;
    }
  }
}

.article_reviews_holder {
  padding-left: 8px;
}

.top_story_caption {
  @extend %firm_color;
  font: 13px $RubikBlack;
  margin-top: 11px;
  margin-bottom: 13px;
  letter-spacing: .013em;
  position: relative;
  z-index: 1;

  .article_title & {
    margin: 10px 0 11px;
  }

  .article_reviews {
    margin-bottom: 24px;

    > li + li {
      margin-top: 21px;

      @include respond-to-min($resp_step_2) {
        margin-top: 18px;
      }

      @include respond-to-min($resp_step_3) {
        margin-top: 24px;
      }
    }

    @include respond-to-min($resp_step_2) {
      margin-bottom: 16px;
    }
  }
}

.article_main_photo {
  @extend %icon_pseudo;
  position: relative;
  padding: 4px 0 0 12px;

  .article_heading {
    padding-right: 180px;
  }

  &:before {
    @extend %firm_color;
    content: $icon-ufo;
    position: absolute;
    top: -55px;
    right: -33px;
    width: 213px;
    overflow: hidden;
    font-size: 283px;
  }

  @include respond-to-min($resp_step_2) {
    .article_heading {
      padding-right: 0;
    }

    &:before {
      display: none;
    }
  }

  .article_img {
    padding: 0 0 0 20px;
    margin-right: 30px;

    &:before {
      @extend %firm_bg_color;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 20px;
      bottom: 75px;
    }

    &._no_title {
      max-width: 610px;
      margin: 0 auto;
      padding-left: 0;

      &:before {
        left: -20px;
      }
    }
  }

  .article_tags {
    margin-left: 25px;
    //margin-left: 48px;
    margin-bottom: 10px;
  }

  .article_link {
    font-size: 28px;
  }

  @include respond-to-min($resp_step_2) {
    .article_img {
      margin-right: 272px;

      &._no_title {
        position: relative;
        padding-left: 10px;
        max-width: 740px;

        &:before {
          left: -10px;
        }
      }

      &:before {
        bottom: 52px;
      }
    }

    .article_tags {
      margin-left: 68px;
      margin-bottom: 10px;
    }

    .article_link {
      font-size: 32px;
    }
  }

  @include respond-to-min($resp_step_3) {
    .article_img {
      margin-right: 336px;

      &:before {
        bottom: 52px;
      }
    }

    .article_tags {
      margin-left: 52px;
    }

    .article_link {
      font-size: 38px;
    }
  }

  @include respond-to-min($resp_step_4) {
    padding: 12px 0 0 12px;

    .article_img {
      margin-right: 380px;
      padding-left: 36px;

      &._no_title {
        max-width: 800px;
        padding-left: 24px;

        &:before {
          left: -12px;
        }
      }

      &:before {
        width: 36px;
        bottom: 40px;
      }
    }

    .article_tags {
      margin-left: 68px;
    }

    .article_link {
      font-size: 44px;
    }
  }
}

.article_info_holder {
  position: relative;
  padding-top: 25px;
  padding-left: 10px;

  .article_info {
    margin: 0 auto 6px;
    max-width: 640px;
    background: none;
  }

  .article_text {
    margin: 0 auto;
    max-width: 610px;

    > p {
      font-size: 20px;
      line-height: 1.4;
      margin-bottom: 1.35em;
    }

    img {
      display: inline-block;
      vertical-align: top;
      max-width: 100%;
    }

    .article_stat {
      padding-top: 0;
      margin-bottom: 14px;
    }

    @include respond-to-min($resp_step_2) {
      padding-left: 10px;
      max-width: 740px;

      .article_stat {
        padding-top: 30px;
      }
    }

    @include respond-to-min($resp_step_3) {
      padding-left: 15px;

      .article_stat {
        padding-top: 6px;
      }
    }

    @include respond-to-min($resp_step_4) {
      padding-left: 40px;
      max-width: 800px;
    }

    figure {
      margin-top: 34px;
      margin-bottom: 34px;

      .article_action {
        left: auto;
        right: 78px;
      }

      p {
        background: #f8f8f8;
        padding: 20px 40px 32px;
        font-size: 17px;
        line-height: 1.45;

        @include respond-to-min($resp_step_3) {
          padding: 27px 30px 35px;
        }

        @include respond-to-min($resp_step_4) {
          padding: 24px 32px 36px;
        }
      }

      @include respond-to-min($resp_step_3) {
        margin-top: 50px;
        margin-bottom: 42px;
      }

      @include respond-to-min($resp_step_3) {
        margin-top: 40px;
      }

      @include respond-to-min($resp_step_4) {
        margin-top: 62px;
        margin-bottom: 26px;
      }
    }

    blockquote {
      p {
        @extend %firm_color;
      }
    }
  }

  .article_soc li {
    padding-right: 8px;

    &:last-child {
      padding-right: 0;
    }
  }

  .article_preview {
    @extend %icon_pseudo;
    @extend %firm_border_color;
    font-weight: 500;
    max-width: 610px;
    margin: 0 auto 34px;

    &:before {
      @extend %firm_color;
    }
  }

  @include respond-to-min($resp_step_2) {
    padding-top: 30px;

    .article_info {
      max-width: 750px;
      margin-bottom: 12px;
    }

    .article_preview {
      position: absolute;
      right: 0;
      bottom: 100%;
      margin-bottom: 0;
      width: 244px;
      border-style: solid;
      border-width: 4px 0;
      padding: 20px 10px 84px;
      font-size: 22px;
      line-height: 28px;

      &:before {
        z-index: -1;
        content: $icon-ufo;
        position: absolute;
        overflow: hidden;
        bottom: -40px;
        right: -32px;
        width: 125px;
        font-size: 160px;
      }
    }
  }

  @include respond-to-min($resp_step_3) {

    .article_preview {
      width: 292px;
      font-size: 24px;
      line-height: 32px;
      padding: 20px 10px 84px;

      &:before {
        bottom: -47px;
        right: -33px;
        width: 150px;
        font-size: 195px;
      }
    }
  }

  @include respond-to-min($resp_step_4) {
    padding-right: 25px;

    .article_preview {
      width: 332px;
      font-size: 26px;
      line-height: 34px;
      padding: 35px 10px 155px;
    }
  }
}

.article_block {
  position: relative;
  //margin-right: -16px;
  margin-bottom: 16px;
  min-height: 100%;

  .content_block & {
    //margin-right: -3px;

    @include respond-to-min($resp_step_2) {
      //margin-right: -9px;
    }
  }

  &._active {
    z-index: 5;
  }

  &._main {
    min-height: 0;
  }

  &._top {
    margin-bottom: 0;
    min-height: 0;

    &.story_block {
      &:after {
        background-image: url(../i/top_story_blue.jpg);
      }

      .top_story_caption {
        //color: #fff;
      }
    }
  }

  &._tag {
    @extend %icon_pseudo;
    height: 100%;
    padding-bottom: 6px;

    &:before {
      position: absolute;
      content: $icon-ufo;
      color: #fff;
      width: 100px;
      bottom: 0;
      right: 0;
      height: 140px;
      font-size: 205px;
      overflow: hidden;
      line-height: 1;
      z-index: 2;
    }

    .article_title {
      @extend %icon_pseudo;
      @extend %firm_bg_color;
      height: 100%;
      padding: 90px 10px 30px 33px !important;

      &:before {
        color: #fff;
        position: absolute;
        font-size: 50px;
        top: 22px;
        left: 27px;
      }
    }

    p {
      font: 14px/24px $RubikMed;
      color: #fff;
      letter-spacing: 0;
    }

    ._bordered & {
      .article_link {
        color: #fff !important;
        display: inline-block;
        vertical-align: top;
        position: relative;
        //margin-left: 16px;
        margin-bottom: 22px;
        font-size: 24px;
        font-weight: 700;

        //&:before {
        //  content: '#';
        //  position: absolute;
        //  top: 0;
        //  right: 100%;
        //}

        @include respond-to-min($resp_step_2) {
          font-size: 28px;
        }

        @include respond-to-min($resp_step_4) {
          font-size: 34px;
        }

      }
    }
  }

  &._tag-2 {
    @extend %icon_pseudo;
    height: 100%;
    padding-bottom: 6px;

    &:before {
      position: absolute;
      content: $icon-ufo;
      color: #fff;
      width: 100px;
      bottom: 0;
      right: 0;
      height: 140px;
      font-size: 205px;
      overflow: hidden;
      line-height: 1;
      z-index: 2;
    }

    .article_title {
      @extend %firm_bg_color;
      height: 100%;
      padding: 90px 10px 30px 33px !important;

      &:before {
        content: '#';
        color: #fff;
        position: absolute;
        top: 25px;
        left: 28px;
        font: 54px/1 $RubikMed;
      }
    }

    p {
      font: 14px/24px $RubikMed;
      color: #fff;
      letter-spacing: 0;
    }

    ._bordered & {
      .article_link {
        color: #fff !important;
        display: inline-block;
        vertical-align: top;
        position: relative;
        margin-bottom: 22px;
        font-size: 24px;
        font-weight: 700;

        @include respond-to-min($resp_step_2) {
          font-size: 28px;
        }

        @include respond-to-min($resp_step_4) {
          font-size: 34px;
        }

      }
    }
  }

  &._review {
    @extend %clearfix;

    .article_title {
      background: none;
      padding: 4px 0 0;
    }

    .article_link {
      font: 18px/1.4 $RubikMed;

      &:hover {
        color: $violette;
      }
    }

    .article_stat {
      padding-top: 10px;
    }

    .article_img {
      float: right;
      width: 88px;
      margin-top: 4px;
      margin-bottom: 10px;

      + .article_title {
        margin-right: 100px;

        @include respond-to-min($resp_step_2) {
          margin-right: 144px;
        }

        @include respond-to-min($resp_step_3) {
          margin-right: 180px;
        }

        @include respond-to-min($resp_step_4) {
          margin-right: 200px;
        }

        .article_link {
          font-size: 16px;
          letter-spacing: 0;

          @include respond-to-min($resp_step_3) {
            font-size: 18px;
          }

          &._fz_18 {
            @include respond-to-min($resp_step_2) {
              font-size: 18px;
            }
            @include respond-to-min($resp_step_3) {
              font-size: 20px;
            }
          }
        }
      }

      @include respond-to-min($resp_step_2) {
        width: 110px;
      }

      @include respond-to-min($resp_step_3) {
        width: 136px;
      }

      @include respond-to-min($resp_step_4) {
        width: 160px;
      }
    }
  }

  > p {
    font-size: 17px;
    line-height: 22px;
    letter-spacing: .021em;
    margin-top: 21px;
    padding-right: 16px;

    + .article_author {
      margin-top: 10px;
    }
  }

  ._bordered & {
    @extend %global_flex_block_column_nowrap_flex-start_stretch;
    border-top: 8px solid;
    //margin-bottom: 6px;

    .article_title {
      @include flex(1 0 auto);
      padding-bottom: 15px;

      @include respond-to-min($resp_step_3) {
        padding: 21px 16px 23px 30px;
      }
    }

    .article_link {
      color: #000;
      font-size: 16px;

      @include respond-to-min($resp_step_3) {
        font-size: 18px;
        letter-spacing: -.007em;
      }
    }
  }

  ._news &,
  ._stories &,
  ._top & {
    border-top-color: $violette;
  }

  ._release & {
    border-top-color: $violette_2;
  }

  ._analysis & {
    border-top-color: $orange;
  }

  ._pricewise & {
    border-top-color: $green;
  }

  ._sponsored & {
    border-top-color: $green_2;
  }

  ._pool & {
    border-top-color: $blue;
  }

  ._features & {
    border-top-color: $red;
  }

  ._wiki & {
    border-top-color: $brown;
  }

  ._crypto & {
    border-top-color: $brown_2;
  }

  ._watch & {
    border-top-color: $violette_2;
  }
}

._bordered {
  &._news,
  &._stories,
  &._top {
    .article_block .article_link:hover {
      color: $violette;
    }
  }

  &._release {
    .article_block .article_link:hover {
      color: $violette_2;
    }
  }

  &._analysis {
    .article_block .article_link:hover {
      color: $orange;
    }
  }

  &._pricewise {
    .article_block .article_link:hover {
      color: $green;
    }
  }

  &._sponsored {
    .article_block .article_link:hover {
      color: $green_2;
    }
  }

  &._pool {
    .article_block .article_link:hover {
      color: $blue;
    }
  }

  &._features {
    .article_block .article_link:hover {
      color: $red;
    }
  }

  &._wiki {
    .article_block .article_link:hover {
      color: $brown;
    }
  }

  &._crypto {
    .article_block .article_link:hover {
      color: $brown_2;
    }
  }

  &._watch {
    .article_block .article_link:hover {
      color: $violette_2;
    }
  }
}

.article_img_link {
  display: block;
  position: relative;
  z-index: 1;
}

.article_img {
  @extend %icon_pseudo;
  position: relative;
  //overflow: hidden;

  img {
    display: block;
    max-width: 100%;

    .article_block & {
      width: 100%;
    }
  }

  ._main & {
    padding-right: 25px;
    padding-top: 14px;

    @include respond-to-min($resp_step_2) {
      padding-right: 30px;
    }

    @include respond-to-min($resp_step_3) {
      padding-right: 40px;
    }

    @include respond-to-min($resp_step_4) {
      padding-right: 50px;
    }

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 16px;
    }

    &:after {
      content: $icon-ufo;
      font-size: 280px;
      line-height: 1;
      position: absolute;
      bottom: 0;
      height: 187px;
      width: 145px;
      right: 0;
      overflow: hidden;
    }
  }

  ._article & {
    //margin-left: -16px;
    //padding-right: 17px;
  }

  ._top & {
    padding-bottom: 34px;
    padding-left: 10px;

    @include respond-to-min($resp_step_2) {
      padding-bottom: 12px;
    }
  }

  ._news &,
  ._stories &,
  ._top & {
    &:before {
      background: $violette;
    }
  }

  ._release & {
    &:before {
      background: $violette_2;
    }
  }

  ._analysis & {
    &:before {
      background: $green;
    }
  }

  ._pricewise & {
    &:before {
      background: $green;
    }
  }

  ._sponsored & {
    &:before {
      background: $green_2;
    }
  }

  ._pool & {
    &:before {
      background: $blue;
    }
  }

  ._features & {
    &:before {
      background: $red;
    }
  }

  ._wiki & {
    &:before {
      background: $brown;
    }
  }

  ._watch & {
    &:before {
      background: $violette_2;
    }
  }

  ._crypto & {
    &:before {
      background: $brown_2;
    }
  }
}

.video_link {
  @extend %icon_pseudo;
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  border-radius: 100%;
  width: 80px;
  height: 80px;
  color: #fff;
  margin: -40px 0 0 -40px;

  &:before {
    -webkit-transform: translate(-40%, -50%) rotate(-90deg);
    -ms-transform: translate(-40%, -50%) rotate(-90deg);
    transform: translate(-40%, -50%) rotate(-90deg);
    content: $icon-triangle;
    font-size: 26px;
    line-height: 1;
    position: absolute;
    top: 50%;
    left: 50%;
  }

  &._news,
  &._stories,
  &._top {
    background: transparentize($violette, .2);
  }

  &._release {
    background: transparentize($violette_2, .2);
  }

  &._analysis {
    background: transparentize($orange, .2);
  }

  &._pricewise {
    background: transparentize($green, .2);
  }

  &._sponsored {
    background: transparentize($green_2, .2);
  }

  &._pool {
    background: transparentize($blue, .2);
  }

  &._features {
    background: transparentize($red, .2);
  }

  &._wiki {
    background: transparentize($brown, .2);
  }

  &._watch {
    background: transparentize($violette_2, .2);
  }

  &._crypto {
    background: transparentize($brown_2, .2);
  }

}

.article_title {
  z-index: 1;
  position: relative;
  //padding: 17px 16px 20px 20px;
  padding: 21px 16px 25px 20px;
  background: #f7f8f8;

  ._top & {
    @extend %icon_pseudo;
    background: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 88px;
    max-height: 100%;
    padding: 12px 10px 34px 8px;

    &:after {
      content: '';
      position: absolute;
      top: 18px;
      bottom: 34px;
      width: 8px;
      left: 100%;
      background: $violette;
    }

    &:before {
      content: $icon-ufo;
      position: absolute;
      right: 2px;
      bottom: -30px;
      font-size: 112px;
      line-height: 1;
      width: 90px;
      overflow: hidden;
      pointer-events: none;
    }

    .article_link {
      overflow: hidden;
      display: inline-block;
      vertical-align: top;
      max-height: 6.5em;
      font-size: 20px;
      line-height: 1.3;

      @include respond-to-min($resp_step_3) {
        font-size: 22px;
      }

      &:hover {
        color: $red;
      }
    }

    @include respond-to-min($resp_step_2) {
      right: 110px;
      padding: 20px 14px 46px 14px;
    }

    @include respond-to-min($resp_step_3) {
      right: 136px;
      padding: 20px 14px 36px 14px;
    }

    @include respond-to-min($resp_step_4) {
      right: 160px;
      //padding: 20px 14px 39px 19px;
    }
  }

  ._main & {

    @include respond-to-min($resp_step_3) {
      padding-left: 28px;
    }
  }
}

.article_link {
  @include transition_all(color .3s);
  font: 22px $RubikMed;
  text-decoration: none;
  color: #000;

  @extend %firm_color;

  ._main &,
  ._top & {
    font-family: $RubikBlack;
  }

  @include respond-to-min($resp_step_2) {
    font-size: 24px;
  }

  @include respond-to-min($resp_step_3) {
    font-size: 26px;
  }

  @include respond-to-min($resp_step_4) {
    font-size: 28px;
  }

  &.clr_violette {
    &:hover {
      color: $violette_dark;
    }
  }

  ._video & {
    //font: 16px/1.4 $RubikBold;
    letter-spacing: -.015em;
  }

  ._article & {
    color: #000 !important;
    letter-spacing: .045em;
  }
}

.article_theme {
  @include transition_all(color .3s);
  text-decoration: underline;

  .story_block & {
    color: $violette;

    &:hover {
      color: $violette_dark;
    }
  }
}

.article_stat {
  @extend %clearfix;
  list-style: none;
  padding-top: 11px;
  color: rgba(0, 0, 0, .4);
  font: 11px/1.5 $RubikReg;

  li {
    float: left;

    &:before {
      content: '\007C';
      padding: 0 7px;
    }

    &._first,
    &:first-child {
      &:before {
        display: none;
      }
    }

    &._first {
      clear: left;
    }

    &._fr {
      float: right;

      &:before {
        display: none;
      }
    }
  }

  ._video & {
    padding-top: 5px;
  }

  &._mod_1 {
    margin-bottom: 20px;
    padding-top: 7px;

    @include respond-to-min($resp_step_2) {
      padding-top: 10px;
    }

    @include respond-to-min($resp_step_3) {
      margin-bottom: 30px;
    }

    @include respond-to-min($resp_step_4) {
      margin-bottom: 35px;
    }
  }

  ._top & {
    padding-top: 10px;
    position: relative;
  }

  .news_item & {
    padding-top: 5px;
  }
}

.article_stat_val {
  @extend %icon_pseudo;
  position: relative;
  display: inline-block;
  vertical-align: top;

  &._stat_views {
    padding-left: 20px;

    &:before {
      position: absolute;
      top: -1px;
      left: 0;
      content: $icon-eye;
      font-size: 15px;
      line-height: 1.2;
    }
  }

  @at-root a#{&} {
    @include transition_all(color .3s);
    @extend %firm_color;

    &:hover {
      text-decoration: underline;
    }
  }
}

.article_action {
  position: absolute;
  z-index: 2;
  top: 0;
  bottom: 57px;
  left: -16px;

  .article_tags + & {
    bottom: 92px;
  }

  ._main & {
    top: 16px;
  }

  .article_info_holder .article_text figure &,
  ._top & {
    left: auto;
    right: 78px;
    bottom: 91px;
  }
}

.article_action_btn {
  @include transition_all(background .3s);
  @extend %icon_pseudo;
  position: absolute;
  top: 0;
  left: 0;
  width: 28px;
  height: 28px;
  border-radius: 100%;
  text-align: center;
  font-size: 14px;
  line-height: 30px;
  background: rgba(0, 0, 0, .4);

  &:before {
    content: $icon-share-alt;
    color: #fff;
  }

  &:hover {
    background: $violette;
    @extend %firm_bg_color;
  }

  ._opened & {
    @extend %firm_bg_color;
    color: #fff;
  }
}

.article_action_block {
  position: absolute;
  top: 0;
  left: 0;
  float: left;
  margin-top: 16px;
  margin-left: 32px;

  //&._opened {
  //  z-index: 1000;
  //
  //  &:before {
  //    content: '';
  //    position: absolute;
  //    left: -100vw;
  //    right: -100vw;
  //    top: -10000vh;
  //    bottom: -10000vh;
  //    background: rgba(255, 255, 255, .8);
  //  }
  //}
}

.action_block {
  display: none;
  position: absolute;
  left: 0;
  top: 45px;
  padding: 16px;
  margin-left: 14px;
  background: #fff;
  box-shadow: 6px 12px 14px 0 rgba(37, 16, 80, .1);

  &:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 100%;
    border-bottom: 14px solid #fff;
    border-right: 14px solid transparent;
  }

  ._opened & {
    display: block;
  }

  .article_info_holder .article_text figure &,
  ._top & {
    left: auto;
    right: -14px;

    &:before {
      left: auto;
      right: 0;
      border-right: 0;
      border-left: 14px solid transparent;
    }
  }
}

.action_block_close {
  @include transition_all(background .3s, color .3s);
  @extend %icon_pseudo;
  position: absolute;
  right: 17px;
  top: 14px;
  border-radius: 100%;
  width: 32px;
  height: 32px;
  color: #000;
  text-align: center;
  cursor: pointer;

  &:before {
    content: $icon-close;
    font-size: 14px;
    line-height: 32px;
  }

  &:hover {
    @extend %firm_color;
    background: #f8f8f8;
  }
}

.action_block_title {
  font: 18px $RubikBold;
  color: #000;
  padding: 3px 30px 15px 8px;
  border-bottom: 2px solid #f8f8f8;
}

.action_block_list {
  @extend %clearfix;
  width: 280px;
  list-style: none;
  margin-bottom: -5px;
  margin-right: -14px;
  padding: 12px 0 0 10px;

  li {
    float: left;
    width: 50%;
    margin-top: 10px;
    margin-bottom: 20px;
  }
}

.action_soc {
  @include transition_all(color .3s);
  @extend %firm_color;
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding-left: 32px;
  font: 14px/20px $RubikMed;

  span {
    @include transition_all(border-bottom-color .3s);
    display: inline;
    border-bottom: 1px solid transparent;
  }

  &:before {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 18px;
  }

  &:hover {
    color: #000;

    span {
      border-bottom-color: #000;
    }
  }
}

.action_soc_holder {
  @extend %clearfix;
  display: inline-block;
  vertical-align: top;
  width: 100%;
  padding-bottom: 7px;
  margin-bottom: 30px;
  border-bottom: 2px solid #f8f8f8;
}

.action_soc {
  list-style: none;

  &._brand {
    float: left;
    padding-left: 30px;

    li {
      display: inline-block;
      vertical-align: top;
      padding: 0 4px;
      margin-bottom: 10px;
    }
  }
}

.article_tags {
  position: absolute;
  z-index: 2;
  list-style: none;
  bottom: 14px;
  left: 16px;

  li {
    float: left;
    padding-right: 10px;
  }
}

.article_tag {
  position: relative;
  min-width: 28px;
  height: 28px;
  line-height: 26px;
  display: inline-block;
  vertical-align: top;
  border-radius: 14px;
  color: #fff !important;

  span {
    display: inline-block;
    vertical-align: top;
    padding: 5px 14px 5px 4px;
    font: 12px/18px $RubikBlack;
    letter-spacing: .015em;
  }

  &:before {
    font-size: 18px;
    width: 28px;
    height: 28px;
    line-height: 28px;
    //border-radius: inherit;
    display: inline-block;
    vertical-align: top;
    text-align: center;
  }

  &._wide {
    &:before {
      padding-left: 5px;
    }
  }

  &._news,
  &._stories,
  &._top {
    background: $violette;
  }

  &._release {
    background: $violette_2;
  }

  &._analysis {
    background: $orange;
  }

  &._pricewise {
    background: $green;
  }

  &._sponsored {
    background: $green_2;
  }

  &._pool {
    background: $blue;
  }

  &._features {
    background: $red;
  }

  &._wiki {
    background: $brown;
    //}
  }

  &._crypto {
    //&:before {
    background: $brown_2;
    //}
  }

  &._watch {
    background: $violette_2;
  }
}

.article_controls {
  margin: 12px 0 12px 12px;

  &._mod_1 {
    margin-top: 0;
    margin-left: 0;
  }
}

.article_title_link {
  @include transition_all(color .3s);
  @extend %icon_pseudo;
  float: right;
  padding-right: 33px;
  position: relative;
  z-index: 2;
  font: 13px/24px $RubikMed;
  color: #c0c0c0;
  letter-spacing: .02em;

  &:before {
    @include transition_all(color .3s);
    content: $icon-arrow-right;
    position: absolute;
    right: -6px;
    font-size: 18px;
    line-height: 24px;
  }

  span {
    @include transition_all(color .3s);
  }

  &:hover {
    span {
      color: #000 !important;
    }

    &:before {
      @extend %firm_color;
    }
  }

  ._bg & {
    span {
      color: #fff;
      font-family: $RubikBlack;
    }

    &:before {
      color: #fff !important;
    }
  }
}

.article_group_title {
  position: relative;
  color: #fff;
  font: 20px $RubikMed;
  letter-spacing: .005em;
  padding: 9px 16px 9px 0;
  margin: 0 0 12px;
  background-position: 0 0;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  @include respond-to-min($resp_step_2) {
    margin-bottom: 16px;
    padding-right: 9px;
  }

  @include respond-to-min($resp_step_3) {
    margin-bottom: 15px;
  }

  &._bg {
    background: none;
    margin-top: 45px;
    padding: 9px 36px 9px 0;

    &:after {
      content: '';
      position: absolute;
      height: 118px;
      top: -20px;
      right: 0;
      left: 0;
      z-index: 1;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 50% 50%;
    }

    .article_group_link {
      padding-left: 68px;
      color: #fff;

      &:before {
        left: 21px;
        background: #fff;
      }
    }

    &._news,
    &._stories,
    &._top {
      .article_group_link:before {
        color: $violette;
      }
    }

    &._release {
      .article_group_link:before {
        color: $violette_2;
      }
    }

    &._analysis {
      .article_group_link:before {
        color: $orange;
      }
    }

    &._pricewise {
      .article_group_link:before {
        color: $green;
      }
    }

    &._sponsored {
      .article_group_link:before {
        color: $green_2;
      }
    }

    &._pool {
      .article_group_link:before {
        color: $blue;
      }
    }

    &._features {
      .article_group_link:before {
        color: $red;
      }
    }

    &._wiki {
      .article_group_link:before {
        color: $brown;
      }
    }

    &._crypto {
      .article_group_link:before {
        color: $brown_2;
      }
    }

    &._watch {
      .article_group_link:before {
        color: $violette_2;
      }
    }

    @include respond-to-min($resp_step_3) {
      margin-top: 40px;
    }
  }

  &._news {
    &:after {
      background-image: url(../i/stories_bg.svg);
    }
  }

  &._features {
    &:after {
      background-image: url(../i/features_bg.svg);
    }
  }
}

.article_group_link {
  @include transition_all(color .3s);
  @extend %icon_pseudo;
  display: inline-block;
  vertical-align: top;
  position: relative;
  z-index: 2;
  padding-left: 44px;
  color: #000;

  &:before {
    position: absolute;
    z-index: 2;
    top: -4px;
    left: 2px;
    border-radius: 100%;
    color: #fff;
    height: 32px;
    width: 32px;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
  }

  &:hover {
    @extend %firm_color;
  }

  ._news & {
    &:before {
      content: $icon-ufo;
      color: $violette;
    }
  }

  ._stories & {

    //background-image: url(../i/story_title_violette.jpg);

    &:before {
      content: $icon-crypto;
      background: $violette;
    }
  }

  ._features & {

    &:before {
      content: $icon-star;
      background: $red;
    }
  }

  ._pool & {
    //background-image: url(../i/story_title_blue.jpg);

    &:before {
      content: $icon-shark;
      background: $blue;
    }
  }

  ._analysis & {

    //background-image: url(../i/story_title_orange.jpg);

    &:before {
      content: $icon-splash;
      background: $orange;
    }
  }

  ._pricewise & {

    //background-image: url(../i/story_title_orange.jpg);

    &:before {
      content: $icon-splash;
      background: $green;
    }
  }

  ._crypto & {

    //background-image: url(../i/story_title_blue.jpg);

    &:before {
      content: $icon-lamp;
      background: $brown;
    }
  }

  ._wiki & {

    //background-image: url(../i/story_title_orange.jpg);

    &:before {
      content: $icon-startwo;
      background: $brown_2;
    }
  }

  ._watch & {

    //background-image: url(../i/story_title_orange.jpg);

    &:before {
      content: $icon-ico;
      background: $violette_2;
    }
  }
}

.news_list {
  list-style: none;

  .content_block & {
    @include respond-to-min($resp_step_2) {
      //padding-top: 4px;
    }
  }

  > li {
    margin-top: 22px;

    .content_block & {
      margin-top: 24px;

      @include respond-to-min($resp_step_2) {
        margin-top: 26px;
      }

      @include respond-to-max($resp_step_4) {
        &:nth-child(n+6) {
          display: none;
        }
      }
    }
  }

  &._related {
    margin-right: -16px;

    li {
      margin: 20px 0 26px;
    }
  }
}

.news_item {
  @extend %clearfix;
}

.news_date {
  float: right;
  width: 40px;
  margin-left: 10px;
  padding-top: 10px;
  font: 12px/1.1 $RubikReg;

  .news_list & {
    color: rgba(0, 0, 0, .4);
  }

  ._related & {
    padding-top: 4px;
  }
}

.news_name {
  @extend %firm_color;
  color: #000 !important;
  font: 18px/1.4 $RubikMed;

  ._related & {
    font-size: 16px;
    letter-spacing: .01em;
  }

  @at-root a#{&} {
    @include transition_all(color .3s);

    &:hover {
      color: $violette;
    }
  }

  @include respond-to-min($resp_step_2) {
    font-size: 20px;
    //line-height: 1.1;
  }

  @include respond-to-min($resp_step_3) {
    font-size: 22px;
    //line-height: 1.2;
    //letter-spacing: -.015em;
  }

  @include respond-to-min($resp_step_4) {
    font-size: 24px;
  }
}

.comments_block {
  margin: 0 -16px;
  background: #f7f8f8;
}
