//%icon_pseudo {
//  &:after,
//  &:before { /* use !important to prevent issues with browser extensions that change fonts */
//    font-family: $icomoon-font-name !important;
//    speak: none;
//    font-style: normal;
//    font-weight: normal;
//    font-variant: normal;
//    text-transform: none;
//    line-height: 1;
//
//    /* Better Font Rendering =========== */
//    -webkit-font-smoothing: antialiased;
//    -moz-osx-font-smoothing: grayscale;
//  }
//}

.popup_box {
  background: #fff;
  text-align: center;
  position: relative;
  width: 410px;
  max-width: 100%;
  box-shadow: none;
  padding: 42px 24px 22px;

  &:before {
    top: 0;
  }

  &:after {
    bottom: 0;
  }

  &:after,
  &:before {
    content: '';
    position: absolute;
    background: $violette;
    height: 4px;
    right: 24px;
    left: 24px;
  }

  p {
    margin-bottom: 15px;
    font: 14px/1.2 $RubikMed;
    color: $violette_dark;
    //letter-spacing: 0;
    padding-top: 5px;
  }

  .footer_action {
    padding: 10px 10px 1px;
    font-size: 18px;
  }

  .subscribe_btn {
    span {
      position: relative;
      z-index: 1;
    }
  }

  .action_link {
    width: 48px;
    height: 48px;
    border-radius: 24px;

    &:before {
      line-height: 48px;
    }

    &:hover {
      color: #fff;
      background: $violette;
    }
  }

  .input_w {
    margin-bottom: 12px;
  }

  .popup_close {
    font-size: 20px;
    color: #000;
  }

  .subscribe_btn {
    width: 100%;
  }
}

.subscribe_logo {
  display: inline-block;
  vertical-align: top;
  width: 154px;
  margin-bottom: 25px;
  margin-left: -8px;
  max-width: 100%;

  img {
    display: block;
    width: 100%;
  }
}

.popup_inner {
  margin: 0 auto;
  max-width: 268px;
}

.popup_caption {
  font: 32px/1.15 $RubikMed;
  margin-bottom: 33px;
}

.follow_caption {
  font: 30px/1.15 $RubikBold;
  padding: 40px 0 20px;
  margin-bottom: 33px;
  text-align: center;
}

.follow_tips {
  font: 20px/1.2 $RubikReg;
  margin-bottom: 20px;
  min-height: 110px;
  text-align: center;
}

.follow_counter {
  text-align: center;
  color: #bdbdbd;
  padding-top: 120px;
  padding-bottom: 40px;
  font: 15px/1.2 $RubikReg;
}

.follow_widget {
  margin-bottom: 33px;
  text-align: center;
}

.sh_block {
  position: relative;
  background: #fff url(../i/space_ship.svg) no-repeat 95% 87%;
  padding: 9px 14px 0;
  border-radius: 5px;

  .search_title {
    opacity: 1;
    padding: 9px 70px 22px 16px;
  }

  .action_soc {
    @extend %clearfix;
    margin-right: -30px;

    li {
      width: 50%;
      float: left;
      margin-bottom: 13px;
      padding-left: 5px !important;
    }
  }

  .action_sh {
    background: none;
    text-align: left;
    color: #fff;
    width: auto;

    &:before {
      display: inline-block;
      vertical-align: middle;
      width: 34px;
      text-align: center;
    }
  }

  .action_sh_text {
    display: inline-block;
    vertical-align: middle;
    font: 14px/1 $RubikMed;
    border-bottom: 1px solid #fff;
    margin-left: 5px;
  }
}

.sh_close_btn {
  @extend %icon_pseudo;
  position: absolute;
  right: 5px;
  top: 10px;
  text-align: center;
  width: 24px;
  height: 24px;

  &:before {
    content: unicode($icon-close);
    color: #c8c8ca;
    font-size: 18px;
    line-height: 24px;
  }
}

.sh_title {
  text-align: center;
  font: 16px/19px $RubikBold;
  ////letter-spacing: -.001em;
}

.popup_logo_holder {
  text-align: center;
  padding: 0 0 27px;

  .logo {
    width: 168px;
  }
}

.subscribe_img {
 //border-radius: 2px 2px 0 0;
  overflow: hidden;
  margin-bottom: 30px;

  img {
    display: block;
    width: 100%;
  }
}

.subscribe_caption {
  font: 20px/23px $RubikBold;
  margin: 0 -30px 17px;
}

.subscribe_stat {
  text-align: center;
  font: 12px/14px $RubikReg;
  color: #bdbdbd;
  margin-bottom: 30px;
}

.subscribe_form {
  @extend %clearfix;
  text-align: center;
  padding: 5px 15px 20px;
  margin: 0 auto;
  max-width: 320px;

  > form p {
    color: $clr_black;
    font: 16px/19px $RubikBold;
    margin-bottom: 18px;
  }

  .form_cell {
    text-align: center;
    margin-bottom: 20px;

    .input_v1 {
     //border-radius: 2px 0 0 2px;
    }
  }

  &._hot {
    .subscribe_success_msg {
      p {
        font-size: 20px;
        line-height: 30px;
      }
    }

    .subscribe_success_msg {
      height: 240px;

      &:before {
        width: 60px;
        height: 60px;
        font-size: 54px;
        bottom: 112px;
        margin-left: -25px;
      }

      &:after {
        width: 185px;
        height: 100px;
        margin-left: -94px;
      }
    }

    .form_cell {
      margin-bottom: 30px;
    }
  }

  .btn_v2.subscribe_btn {
    padding: 9px 17px;
  }

  .subscribe_success {
    .success_hide {
      display: none;
    }
  }
}

.subscribe_form_footer {
  border-radius: 0 0 2px 2px;
  text-align: center;
  background: #f6f7f7;
  padding: 22px 5px 20px;

  p {
    color: $clr_black;
    font: 16px/19px $RubikBold;
    margin-bottom: 15px;
  }
}

.bonus_img {
 //border-radius: 2px 2px 0 0;
  overflow: hidden;

  img {
    display: block;
    width: 100%;
  }
}

.bonus_caption {
  text-align: center;
  color: #000;
  font: 30px/36px $RubikBlack;
  padding: 40px 20px;
}

.bonus_controls {
  text-align: center;
  padding: 5px 20px 70px;
}

.subscribe_success_msg {
  @extend %icon_pseudo;
  position: relative;
  display: none;
  height: 160px;

  p {
    color: $clr_black;
    font: 16px/19px $RubikBold;
    margin-bottom: 18px;
  }

  &:after,
  &:before {
    position: absolute;
    left: 50%;
  }

  &:after {
    content: '';
    background: url(../i/space.svg) no-repeat 50% 50%;
    width: 136px;
    height: 94px;
    bottom: 30px;
    margin-left: -67px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  &:before {
    content: unicode($icon-check_2);
    color: #27ae60;
    font-size: 38px;
    width: 22px;
    height: 22px;
    bottom: 95px;
    margin-left: -15px;
    z-index: 1;
  }

  .subscribe_success & {
    display: block;
  }
}

.dialog_v1 {
  position: fixed;

  .ui-widget-header {
    border: 0;
    background-color: transparent;
  }
}

.ui-widget-overlay {

  .overlay_v2 & {
    background: rgba(0, 0, 0, .8);
    opacity: 1;
  }
}

.ui-dialog {
  &.dialog_v2 {
    padding: 0;
    border: 0;
   //border-radius: 2px;

    .ui-dialog-content {
      padding: 0;
    }
  }

  &.dialog_title_v1 {
    .ui-dialog-titlebar-close {
      @extend %icon_pseudo;
      background: none;
      border: 0;
      width: 20px;
      height: 20px;
      top: 20px;
      right: 15px;
      text-align: center;

      &:before {
        content: unicode($icon-close);
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        color: #fff;
        font-size: 18px;
        line-height: 20px;
        text-indent: 0;
      }

      span {
        display: none;
      }
    }

    .ui-dialog-titlebar {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      border: 0;
      background: none;
      z-index: 1;
    }
  }

  &.dialog_title_v2 {

    .ui-dialog-title {
      width: 100%;
      padding: 0 10%;
    }

    .ui-dialog-titlebar {
      @extend .sh_title;
      border: none;
      background: none;
      z-index: 1;
      padding: 24px 0 0;
     //border-radius: 2px 2px 0 0;
    }

    .ui-dialog-titlebar-close {
      @extend %icon_pseudo;
      background: none;
      border: 0;
      width: 24px;
      height: 24px;
      right: 5px;
      top: 18px;
      text-align: center;

      &:before {
        content: unicode($icon-close);
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        text-indent: 0;
        color: #c8c8ca;
        font-size: 18px;
        line-height: 24px;
      }

      span {
        display: none;
      }
    }
  }
}
