.popup_box {
  background: #fff;
  text-align: center;
  position: relative;
  width: 410px;
  max-width: 100%;
  box-shadow: none;
  padding: 42px 24px 22px;

  &:before {
    top: 0;
  }

  &:after {
    bottom: 0;
  }

  &:after,
  &:before {
    content: '';
    position: absolute;
    background: $violette;
    height: 4px;
    right: 24px;
    left: 24px;
  }

  p {
    margin-bottom: 15px;
    font: 14px/1.2 $RubikMed;
    color: $violette_dark;
    letter-spacing: 0;
    padding-top: 5px;
  }

  .footer_action {
    padding: 10px 10px 1px;
    font-size: 18px;
  }

  .subscribe_btn {
    span {
      position: relative;
      z-index: 1;
    }
  }

  .action_link {
    width: 48px;
    height: 48px;
    border-radius: 24px;

    &:before {
      line-height: 48px;
    }

    &:hover {
      color: #fff;
      background: $violette;
    }
  }

  .input_w {
    margin-bottom: 12px;
  }

  .popup_close {
    font-size: 20px;
    color: #000;
  }

  .subscribe_btn {
    width: 100%;
  }
}

.subscribe_logo {
  display: inline-block;
  vertical-align: top;
  width: 154px;
  margin-bottom: 25px;
  margin-left: -8px;
  max-width: 100%;

  img {
    display: block;
    width: 100%;
  }
}

.popup_inner {
  margin: 0 auto;
  max-width: 268px;
}

.popup_caption {
  font: 32px/1.15 $RubikMed;
  margin-bottom: 33px;
}

.follow_caption {
  font: 30px/1.15 $RubikBold;
  padding: 40px 0 20px;
  margin-bottom: 33px;
  text-align: center;
}

.follow_tips {
  font: 20px/1.2 $RubikReg;
  margin-bottom: 20px;
  min-height: 110px;
  text-align: center;
}

.follow_counter {
  text-align: center;
  color: #bdbdbd;
  padding-top: 120px;
  padding-bottom: 40px;
  font: 15px/1.2 $RubikReg;
}

.follow_widget {
  margin-bottom: 33px;
  text-align: center;
}

.dialog_v1 {
  position: fixed;

  .ui-widget-header {
    border: 0;
    background-color: transparent;
  }
}

