.widget_holder {
  @extend %clearfix;
  padding: 10px 14px;
}

.widget_block {
  margin-left: 226px;

  .related_title {
    padding-top: 30px;
  }

  @include respond-to-min($resp_step_2) {
    margin-left: 286px;
  }
}

.widget_wrapper {
  padding-left: 12px;
}

.widget_aside {
  width: 208px;
  float: left;

  @include respond-to-min($resp_step_2) {
    width: 268px;
  }
}

.stat_holder {
  padding: 16px 18px 20px 14px;
  background: #f8f8f8;
  margin-bottom: 14px;

  .form_cell {
    padding-top: 5px;

    + .form_cell {
      margin-top: 17px;
    }
  }

  @include respond-to-min($resp_step_2) {
    padding: 30px 26px 26px 22px;
  }
}

.stat_label {
  float: left;
  font: 26px/40px $RubikMed;
  margin-bottom: 16px;
}

.stat_holder_title {
  @extend %clearfix;
  font: 13px $RubikBold;
  margin-bottom: 30px;

  span {
    font-size: 16px;
  }

  @include respond-to-min($resp_step_2) {
    margin-bottom: 28px;
  }
}

.stat_holder_icon {
  padding-right: 5px;
}

.stat_holder_controls {
  float: right;
  list-style: none;
  margin: 0;
  padding-top: 2px;
  font: 13px $RubikMed;

  li {
    float: left;
    padding-left: 15px;

    &._active {
      float: right;
    }
  }

  .stat_caption & {
    padding-top: 22px;

    li {
      padding-left: 24px;

      &._first {
        position: relative;
        padding-right: 40px;
        margin-right: 18px;

        &:before {
          content: '';
          position: absolute;
          right: 0;
          top: 50%;
          height: 10px;
          margin-top: -5px;
          border-right: 1px solid #c0c0c0;
        }
      }
    }
  }
}

.stat_link {
  @include transition_all(color .3s);
  color: #c0c0c0;

  ._active &,
  &:hover {
    color: #999;
  }
}

.stat_list {
  @extend %clearfix;
  margin-bottom: 18px;

  dd, dt {
    margin-bottom: 12px;
  }

  dt {
    float: left;
    clear: both;
  }

  dd {
    float: right;
    font: 11px/14px $RubikReg;
    padding-top: 6px;

    span {
      display: none;
    }
  }

  &[data-stat='1'] {
    dd {
      span[data-stat='1'] {
        display: block;
      }
    }
  }

  &[data-stat='2'] {
    dd {
      span[data-stat='2'] {
        display: block;
      }
    }
  }
}

.stat_item {
  @include transition_all(color .3s);
  color: #999;
  font: 13px/18px $RubikMed;

  span {
    display: inline-block;
    vertical-align: middle;
  }

  ._abbr {
    height: 14px;
    line-height: 14px;
    font-size: 9px;
    padding: 0 3px;
    background: #999;
    color: #fff;
    margin-left: 8px;
  }

  &._active {
    color: #000;

    ._abbr {
      background: $violette;
    }
  }

  &:hover {
    color: #000;
  }

  &._more {
    position: relative;
    display: inline-block;
    vertical-align: top;
    padding-left: 24px;

    &:after,
    &:before {
      @include transition_all(background .3s);
      content: '';
      position: absolute;
      top: 50%;
      left: 8px;
      background: #999;
    }

    &:before {
      width: 12px;
      height: 2px;
      margin: -1px 0 0 -6px;
    }

    &:after {
      width: 2px;
      height: 12px;
      margin: -6px 0 0 -1px;
    }

    &:hover {
      &:after,
      &:before {
        background: #000;
      }
    }
  }
}

.stat_currency {
  position: absolute;
  top: 2px;
  bottom: 2px;
  right: 2px;
  width: 65px;
  text-align: center;
  font: 13px/30px $RubikMed;
}

.stat_select {
  border-radius: 0;
  border: 0;
  color: #000;
  font: 13px/30px $RubikMed;
  display: inline-block;
  vertical-align: top;

  &:focus {
    color: $violette;

    + .select_arrow {
      color: $violette;
      -webkit-transform: rotate(180deg) translate(0, 4px);
      -ms-transform: rotate(180deg) translate(0, 4px);
      transform: rotate(180deg) translate(0, 4px);
    }
  }
}

.stat_select_w {
  padding-right: 16px;
  position: relative;
  display: inline-block;
  vertical-align: top;

  .select_arrow {
    top: 1px;
    right: 0;
    color: #c0c0c0;
  }
}

.stat_caption {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  font: 38px $RubikBold;
  margin: 24px 0 22px;

  .widget_block & {
    padding-left: 10px;
  }
}

.event_controls {
  float: right;

  li {
    float: left;

  }
}

.date_select {
  @extend .input_v3;
  display: block;

  + .select_arrow {
    top: 15px;
    right: 16px;
  }

  &:focus {
    color: $violette;

    + .select_arrow {
      color: $violette;
      -webkit-transform: rotate(180deg) translate(0, 4px);
      -ms-transform: rotate(180deg) translate(0, 4px);
      transform: rotate(180deg) translate(0, 4px);
    }
  }
}

.stat_widget_holder {
  margin-bottom: 25px;
  background: #f8f8f8;

  .widget_block & {
    background: none;
    margin-bottom: 12px;
  }

  .ccc-widget {
    font-family: $RubikMed;
    padding-bottom: 14px;

    > div {
      background: none !important;
      border: 2px solid #f8f8f8 !important;
    }

    &.ccc-converter {

      @include respond-to-min($resp_step_2) {
        padding: 9px 5px 16px;
      }
    }

    &.ccc-summary {
      > div {
        padding: 21px 20px 30px !important;
      }

      .tabcontent {
        @extend %clearfix;

        .col-lg-6 {
          width: 50.5%;
          float: left;
          padding-left: 23px;
          padding-top: 10px;
        }

        .highlightsWrapper {
          padding: 0;
          width: 49.5%;
        }
      }
    }

    &.ccc-chart-v3 {
      padding-bottom: 0;

      > div:first-child {
        padding: 0 !important;
        border: 0 !important;
      }

      .chartTypeTabLinks {
        font-weight: 400;
        font-size: 20px;
        padding: 6px 24px;
      }

      .cTypeTabActive {
        background: $violette;
      }
    }

    &.ccc-histo-week {
      padding-bottom: 0;

      > div {
        padding: 20px 0 3px;
      }

      div.histoTitle {
        font-size: 18px;
        font-weight: 500;
        margin-top: 0;
        margin-bottom: 10px;

        + div.histoRow {

          div {
            font-size: 16px;
            font-weight: 500 !important;
          }
        }
      }

      div.histoRow {
        padding: 18px 0;

        div {
          font-size: 14px;
          padding: 0 30px;
          font-weight: 400 !important;
        }
      }
    }
  }

  .cccCustomRadioContainer span.radio::before {
    width: 20px;
    height: 20px;
    left: -25px;
    border-radius: 10px;
  }

  .cccCustomRadioContainer span.radio::after {
    width: 12px;
    height: 12px;
    top: 0;
    left: -21px;
    border-radius: 6px;
  }

  .cccCustomRadioContainer span.checkbox::before {
    width: 16px;
    height: 16px;
    left: -25px;
  }

  .cccCustomRadioContainer span.checkbox::after {
    left: -21px;
    top: -4px;
    height: 5px;
    width: 9px;
  }

  .cccCustomRadioContainer {
    padding-left: 25px;
    line-height: 24px;
    margin-bottom: 10px;
  }

  .histoTitleConverter {
    font: 700 16px Rubik, sans-serif !important;
    color: $violette !important;
    padding: 0;
    margin-bottom: 32px;
  }

  .section-converter-ccc {
    input.priceInput {
      border-width: 2px 0 2px 2px;
      height: 32px;
      border-radius: 1px;
      font-size: 14px;
      border-color: rgba(0, 0, 0, .1);
    }

    + label.priceLabel {
      margin-top: 22px;
    }
  }

  .poweredByWrapper {
    display: none;
  }

  .fromSymbolLabel {
    width: 67px;
    text-align: center;
    height: 32px;
    font: 13px/30px $RubikMed;
    border-width: 2px;
    border-color: rgba(0, 0, 0, .1);

    + div {
      margin-right: 67px !important;
    }
  }

  label.priceLabel {
    color: #000;
    font: 13px $RubikMed;
    display: inline-block;
    vertical-align: top;
    padding: 0;
    margin-bottom: 9px;
  }

  .styledSelect {
    @include transition_all(color .3s);
    width: 67px;
    border-radius: 0;
    padding-right: 20px;
    padding-left: 5px;
    border-width: 2px;
    color: #000;
    border-color: rgba(0, 0, 0, .1);
    font: 13px/30px $RubikMed;
    height: 32px;
    position: relative;

    + div {
      @extend %icon_pseudo;
      margin-right: 67px !important;
      position: relative;

      &:before {
        @include transition_all(transform .3s, color .3s, margin .3s);
        content: $icon-triangle;
        position: absolute;
        left: 100%;
        margin-left: 46px;
        top: 50%;
        font-size: 8px;
        margin-top: -3px;
        color: #c0c0c0;
      }
    }

    &:focus {
      color: $violette;

      + div:before {
        color: $violette;
        margin-top: 0;
        -webkit-transform: rotate(180deg) translate(0, 4px);
        -ms-transform: rotate(180deg) translate(0, 4px);
        transform: rotate(180deg) translate(0, 4px);
      }
    }
  }

  .tabContainer {
    margin-left: -6px;
  }

  .tablinks {
    margin: 0 0 10px 6px;
    padding: 2px 5px;

    &.active {
      border-color: $violette !important;
    }
  }

  .highlightsWrapper {
    border: 2px solid $violette;
    margin-bottom: 20px;
  }

  .highlights {
    display: block;
    padding-bottom: 6px;
  }

  .change-value {
    font-weight: 400;
    font-size: 24px;
    line-height: 1.4;
  }

  .price-value {
    font: 48px/1.2 $RubikBold;
    white-space: nowrap;
    margin-top: 5px;
  }

  .table-row .value,
  .table-row .title {
    margin-top: 5px;
    padding: 0 3px;
    font-size: 13px;
  }

  .positive {
    color: $green;
  }

  .negative {
    color: $red;
  }

}

.cryptocompare-logo {
  display: none !important;
}
