.top_info {
  padding: 0 0 15px;
  display: inline-block;
  vertical-align: middle;
  text-align: left;

  @include respond-to-min($resp_step_2) {
    //padding: 18px 30px 4px 0;
    //padding-top: 3px;
  }

  @include respond-to-min($resp_step_3) {
    padding-right: 35px;
    padding-top: 5px;
    min-width: 63%;
  }
}

.currency_switcher {
  position: relative;
  float: left;
  margin-top: 9px;
}

.currency_info {
  //margin-left: 5px;
  //margin-right: -45px;
  float: left;
  font-family: $RubikReg;

  @include respond-to-min($resp_step_3) {
    //margin-left: 20px;
    //margin-right: -55px;
  }
}

.currency_info_table {
  display: table;
  width: 100%;
  font-size: 11px;

  .swiper-slide {
    display: table-cell;
    vertical-align: top;
    //padding-left: 15px;
    //padding-top: 5px;
    padding: 4px 7px 0 17px;
    width: auto;
    height: auto;
    //border-left: 1px solid #f6f7f7;

    &:first-child {
      border-left: 0;
      padding-left: 7px;
    }

    @include respond-to-max($resp_step_2) {
      &:nth-child(n+6) {
        display: none;
      }
    }

    @include respond-to-min($resp_step_2) {
      //padding-left: 20px;

      &:first-child {
        //padding-left: 7px;
      }
    }

    @include respond-to-min($resp_step_3) {
      //padding-left: 28px;
      padding-right: 28px;

      &:first-child {
        //padding-left: 5px;
      }
    }

    @include respond-to-min($resp_step_4) {
      padding-left: 37px;
      padding-right: 37px;

      &:first-child {
        //padding-left: 0;
      }
    }
  }
}

.currency_info_chart {
  padding-right: 40px;

  img {
    display: block;
    max-width: 100%;
  }
}

.currency_info_cell {
  font-size: 14px;
  color: $default_t_color;
  display: block;

  &.swiper-slide {
    width: auto;
    height: auto;
  }

  span {
    padding-right: 4px;
  }

  .currency_link {
    position: relative;
    text-decoration: none;
    color: $default_t_color;
    font-weight: 700;

    //&:before {
    //  content: '';
    //  position: absolute;
    //  bottom: 0;
    //  right: 0;
    //  left: 0;
    //  height: 1px;
    //  background: $clr_black;
    //}
  }

  .trend {
    //@extend %icon_pseudo;
    position: relative;
    white-space: nowrap;
    //padding: 0 0 0 5px;
    color: #828282;
    text-decoration: none;

    //&:before {
    //  content: '';
    //  position: absolute;
    //  bottom: 0;
    //  right: 0;
    //  left: 5px;
    //  height: 1px;
    //  background: #828282;
    //}

    &:after {
      font-size: 8px;
    }

    &._up {
      color: #27ae60;

      //&:before {
      //  background: rgba(46, 155, 14, 0.9);
      //}
      //
      //&:after {
      //  content: unicode(' ' + $icon-asc);
      //}
    }

    &._down {
      color: #eb5757;

      //&:before {
      //  background: #ff0a24;
      //}
      //
      //&:after {
      //  content: unicode(' ' + $icon-desc);
      //}
    }
  }

  p {
    + p {
      margin-top: 2px;

      @include respond-to-min($resp_step_2) {
        //margin-top: 7px;
      }
    }
  }
}

.currency_select {
  @include transition_all(border .3s, color .3s);
  display: block;
  padding: 2px 20px 2px 10px;
 //border-radius: 2px;
  margin: 7px 0 0;
  font: 14px/17px $RubikReg;
  color: $default_t_color;
  position: relative;
  background: #fff !important;
  border: 2px solid #fff;
  border-radius: 0;

  + .select_arrow {
    color: $default_t_color;
    top: 16px;
    right: 8px;

    @include respond-to-max($resp_step_2) {
      //right: 10px;
      font-size: 8px;
    }
  }

  &:hover {
    border-color: $default_t_color;
    color: $default_t_color;

    + .select_arrow {
      color: $default_t_color;
    }
  }

  &:focus {
    border-color: $default_t_color;
    color: $default_t_color;

    + .select_arrow {
      top: 20px;
      color: $default_t_color;
      -webkit-transform: rotate(180deg) translate(0, 4px);
      -ms-transform: rotate(180deg) translate(0, 4px);
      transform: rotate(180deg) translate(0, 4px);
    }

    ~ .select_overlay {
      height: 10000px;
    }
  }
}

.lang_block {
  position: relative;
  float: right;

  .header & {
    margin-top: 5px;
    margin-left: 5px;
  }

  @include respond-to-min($resp_step_4) {
    //float: left;
  }
}

.lang_select {
  @include transition_all(border .3s, color .3s);
  display: block;
  width: 70px;
  height: 30px;
  padding: 2px 22px 2px 10px;
  font: 14px/17px $RubikBlack;
  color: $default_t_color;
  position: relative;
  background: transparent;
  border: 2px solid #fff;
  border-radius: 0;
  text-transform: uppercase;

  + .select_arrow {
    color: $default_t_color;
  }

  &:hover {
    border-color: $default_t_color;
  }

  &:focus {
    border-color: $default_t_color;

    + .select_arrow {
      top: 14px;
      -webkit-transform: rotate(180deg) translate(0, 4px);
      -ms-transform: rotate(180deg) translate(0, 4px);
      transform: rotate(180deg) translate(0, 4px);
    }

    ~ .select_overlay {
      height: 10000px;
    }
  }
}

.select_arrow {
  @include transition_all(transform .3s, color .3s);
  @extend %icon_pseudo;
  position: absolute;
  top: 11px;
  right: 7px;
  font-size: 7px;
  line-height: 1.2;
  color: #c0c0c0;
  pointer-events: none;
  transform-origin: 50% 50%;

  &:before {
    content: unicode($icon-triangle);
  }
}

.select_overlay {
  //@include transition_all(height .3s);
  background: rgba(255, 255, 255, .8);
  position: absolute;
  top: 100%;
  margin-top: 10px;
  left: -100vw;
  right: -100vw;
  height: 0;
  z-index: 4;
  pointer-events: none;
}
