.top_info {
  padding: 7px 8px 4px 25px;
  display: inline-block;
  vertical-align: middle;
  text-align: left;

  @include respond-to-min($resp_step_2) {
    //padding: 18px 30px 4px 0;
    padding-top: 10px;
  }

  @include respond-to-min($resp_step_3) {
    padding-right: 35px;
    padding-top: 12px;
    min-width: 63%;
  }
}

.currency_switcher {
  position: relative;
  float: left;
  width: 40px;
}

.currency_info {
  margin-left: 5px;
  margin-right: -45px;
  float: left;
  font-family: $RubikReg;

  @include respond-to-min($resp_step_3) {
    margin-left: 10px;
    margin-right: -55px;
  }
}

.currency_info_table {
  display: table;
  width: 100%;
  font-size: 11px;
}

.currency_info_chart {
  padding-right: 40px;

  img {
    display: block;
    max-width: 100%;
  }
}

.currency_info_cell {
  display: table-cell;
  vertical-align: top;
  //padding-left: 6px;
  padding-left: 36px;

  &:first-child {
    padding-left: 10px;
  }

  @include respond-to-max($resp_step_2) {
    &:nth-child(n+6) {
      display: none;
    }
  }

  @include respond-to-min($resp_step_2) {
    padding-left: 35px;

    &:first-child {
      padding-left: 10px;
    }
  }

  @include respond-to-min($resp_step_3) {
    padding-left: 57px;

    &:first-child {
      padding-left: 5px;
    }
  }

  @include respond-to-min($resp_step_4) {
    padding-left: 75px;

    &:first-child {
      padding-left: 0;
    }
  }

  span {
    padding-right: 4px;
  }

  .trend {
    @extend %icon_pseudo;
    position: relative;
    white-space: nowrap;
    padding: 0 0 0 5px;
    color: #828282;
    text-decoration: none;

    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      right: 0;
      left: 5px;
      height: 1px;
      background: #828282;
    }

    &:after {
      font-size: 8px;
    }

    &._up {
      color: rgba(46, 155, 14, 0.9);

      &:before {
        background: rgba(46, 155, 14, 0.9);
      }

      &:after {
        content: ' ' + $icon-asc;
      }
    }

    &._down {
      color: #ff0a24;

      &:before {
        background: #ff0a24;
      }

      &:after {
        content: ' ' + $icon-desc;
      }
    }
  }

  p {
    + p {
      margin-top: 8px;

      @include respond-to-min($resp_step_2) {
        //margin-top: 7px;
      }
    }
  }
}

.currency_select {
  @include transition_all(border .3s, color .3s);
  display: block;
  width: 48px;
  height: 48px;
  padding-left: 6px;
  border-radius: 2px;
  margin: -8px 0 -8px -6px;
  font: 20px $RubikMed;
  color: #c0c0c0;
  position: relative;
  background: #fff !important;
  border: 2px solid #fff;

  + .select_arrow {
    @include respond-to-max($resp_step_2) {
      right: 10px;
      font-size: 8px;
    }
  }

  &:hover {
    border-color: $violette;
    color: $violette;

    + .select_arrow {
      color: $violette;
    }
  }

  &:focus {
    border-color: $violette;
    color: $violette;

    + .select_arrow {
      color: $violette;
      -webkit-transform: rotate(180deg) translate(0, 4px);
      -ms-transform: rotate(180deg) translate(0, 4px);
      transform: rotate(180deg) translate(0, 4px);
    }

    ~ .select_overlay {
      height: 10000px;
    }
  }
}

.lang_block {
  position: relative;
  float: right;

  @include respond-to-min($resp_step_4) {
    //float: left;
  }
}

.lang_select {
  @include transition_all(border .3s, color .3s);
  display: block;
  width: 66px;
  height: 30px;
  padding-top: 2px;
  padding-left: 26px;
  font: 12px $RubikBlack;
  color: #fff;
  position: relative;
  background: transparent;
  border: 2px solid #fff;
  border-radius: 0;
  text-transform: uppercase;

  + .select_arrow {
    right: auto;
    left: 12px;
    color: #fff;
  }

  &:hover {
    border-color: $violette_dark;
    background: $violette_dark;
  }

  &:focus {
    border-color: $violette_dark;
    background: $violette_dark;

    + .select_arrow {
      -webkit-transform: rotate(180deg) translate(0, 4px);
      -ms-transform: rotate(180deg) translate(0, 4px);
      transform: rotate(180deg) translate(0, 4px);
    }

    ~ .select_overlay {
      height: 10000px;
    }
  }
}

.select_arrow {
  @include transition_all(transform .3s, color .3s);
  @extend %icon_pseudo;
  position: absolute;
  top: 10px;
  right: 7px;
  font-size: 10px;
  line-height: 1.2;
  color: #c0c0c0;
  pointer-events: none;
  transform-origin: 50% 50%;

  &:before {
    content: $icon-triangle;
  }
}

.select_overlay {
  //@include transition_all(height .3s);
  background: rgba(255, 255, 255, .8);
  position: absolute;
  top: 100%;
  margin-top: 10px;
  left: -100vw;
  right: -100vw;
  height: 0;
  z-index: 4;
  pointer-events: none;
}


