include mixins.pug
doctype html
html(lang='ru')
    +dev_head('Crypto about')

    body.no_transition
        .wrapper
            .main_content
                .section_inner
                    +tag_holder()

                    .about_block
                        .about_contacts
                            .about_title Contacts
                            p We are also giving you useful tips and reference information that will help you deal with.
                            ul.about_contacts_list
                                li.icon-feather
                                    .contacts_caption Editorial
                                    a.contacts_link(href='#') @cryptocomes.com
                                li.icon-lamp
                                    .contacts_caption Partnerships
                                    a.contacts_link(href='#') @cryptocomes.com
                                li.icon-vial
                                    .contacts_caption Advertising
                                    a.contacts_link(href='#') @cryptocomes.com
                                li.icon-heart
                                    .contacts_caption Other
                                    a.contacts_link(href='#') @cryptocomes.com

                        .about_info
                            .about_info_title
                                .about_title CryptoComes —<br>is a crypto community news platform that covers the crypto industry, Blockchain, AI and all new generation technology.

                            .about_text
                                p Keeping you tuned to the latest industry and community news, we also run regular price analysis and strategical forecasts, trend reviews, experts’ opinions, interviews with the great and the good, feature stories and investigations in all possible formats.<br><br>

                                p We are also giving you useful tips and reference information that will help you deal with such a complex and burgeoning industry as the crypto and the new gen tech. CryptoComes is a journalistic project founded primarily by editors with extensive experience in both high-quality journalism and the crypto industry.

                                p We have established and developed some very successful projects, but we are not satisfied with the current situation when many publications are compromising the truth selling out to the highest bidder and twisting their reporting because of the easy money they can get from advertisers and sponsors. We are convinced that the crypto community deserves better. Our journalism is built upon such editorial values as accuracy, impartiality, independence and accountability.

                                p Regardless of the origin of a story, we always adhere to the basic principles of honesty, integrity and respon-sibility. We are committed to deal fairly and openly with our audience. That’s why we have developed and are keeping our Editorial Guidelines setting out principles and practices that cover our commitment to editorial values.

                                p As journalists, we are the curators of the news and information gathered, and we have a responsibility not to mislead. At the same time, we appreciate when members of our audience are sharing their experience or expertise with us through social media or by other means. We are open to exchanging opinions with you. Stay tuned and let’s build a better community together!

                    .about_team_holder
                        .about_title Persons
                        ul.about_team
                            +loop_while(3)
                                li
                                    .team_unit
                                        .team_unit_photo
                                            img(src='i/person_1.jpg')
                                        .team_unit_info
                                            .team_unit_name Viola<br>McCormick
                                            .team_unit_post Ofiice manager
                                li
                                    .team_unit
                                        .team_unit_photo
                                            img(src='i/person_1.jpg')
                                        .team_unit_info
                                            .team_unit_name Katharine Parsons
                                            .team_unit_post Ofiice manager

            .nav_holder
                +header()
                +main_menu()
                +search()

            +footer()

        +scripts()
