include mixins.pug
doctype html
html(lang='ru')
    +dev_head('Crypto article')

    body.no_transition
        .wrapper
            .main_content
                .section_inner
                    +tag_holder('_slider', true)

                    //-a.attention_block._warn(href='#')
                        .attention_caption Breaking news
                        p
                            span Indonesia Central Bank: Cryptocurrency Payments 'Not Legitimate'
                            span.attention_link

                    .content_holder
                        .content_block
                            .article_block.story_block._article
                                ul.article_stat._mod_1._author
                                    li
                                        span.article_stat_val 3 August 2017
                                    li
                                        span.article_stat_val._stat_views 200
                                    li._fr
                                        span by Alex Morris
                                        a.article_author_img(href='#')
                                            img(src='i/article_author.png')
                                            
                                .article_main_photo
                                    .article_heading
                                        //-a.article_link(href='article.html') Hawaiian Bylls Wougd Capture Crypto Under&nbsp;Money Transmission Law
                                        //-a.article_link(href='article.html') NEM Foundation: Stoleg Coyncheck Funds Not Sent to Exchanges
                                        a.article_link(href='article.html') NEM Foundation: Stoleg Coyncheck Funds Not Sent to Exchanges
                                        
                                .article_preview._no_title iGaming platform provider Cash Bet has partnered with Arsenal Football Club in a deal that will promote the firm's new crypto token.

                                +article_share('_action', true)

                                .article_img._wide
                                    .article_img_link: img(src='i/article_123.jpg')

                                .article_text
                                    p U.community, a company incorporated under the law of [county] having its registered address at [address] (hereinafter referred to as the “Company”, “we” or “us”) collects from the individual user (hereinafter referred to as “you” or “your”) certain personal data when using the website [website] (hereinafter referred to as the “Website”), the online services on the Website (hereinafter referred to as “Services”) or otherwise interact with us (hereinafter referred to as “User”).

                                    p Your privacy is important to us and we are committed to protecting the data you share with us. This privacy policy statement (hereinafter referred to as the “Privacy Policy”) explains what information of yours is collected, how we collect, use, share your information and how you can control the collection, correction and/or deletion of the information.

                                    p This Privacy Policy is incorporated into, and is subject to, the U.community Terms of Use. Capitalized terms used but not defined in this Pravicy Policy have the meaning given to them in the U.community Terms of Use.

                                    p The European General Data Protection Regulation (hereinafter referred to as the “GDPR”) that comes into force on the 25th of May 2018 regulates the manner in which the personal data are collected, shared and processed. The Privacy Policy has been prepared in accordance with the provisions of the GDPR.

                                .related_block
                                    .related_img
                                        img(src='i/related_123.jpg')
                                    p 
                                        a.related_link(href='#') Bitcoin, Ethereum, Ripple, EOS to Develop Corrections as Bears Are Exhausted: Price Analysis 
                                    
                                    ul.article_stat
                                        li
                                            span.clr_violette Related Post&nbsp;
                                            span.article_stat_val by Alex Morris
                                        li._fr
                                            span 1 hour ago

                                    //-blockquote(cite='#')
                                        p Fairy tales are more than true: not because they tell us that dragons exist, but because they tell us that dragons can be beaten.
                                        i Neil Gaiman, Coraline
                                        
                                .article_text
                                    p U.community, a company incorporated under the law of [county] having its registered address at [address] (hereinafter referred to as the “Company”, “we” or “us”) collects from the individual user (hereinafter referred to as “you” or “your”) certain personal data when using the website [website] (hereinafter referred to as the “Website”), the online services on the Website (hereinafter referred to as “Services”) or otherwise interact with us (hereinafter referred to as “User”).

                                    p Your privacy is important to us and we are committed to protecting the data you share with us. This privacy policy statement (hereinafter referred to as the “Privacy Policy”) explains what information of yours is collected, how we collect, use, share your information and how you can control the collection, correction and/or deletion of the information.

                                    p This Privacy Policy is incorporated into, and is subject to, the U.community Terms of Use. Capitalized terms used but not defined in this Pravicy Policy have the meaning given to them in the U.community Terms of Use.

                                    p The European General Data Protection Regulation (hereinafter referred to as the “GDPR”) that comes into force on the 25th of May 2018 regulates the manner in which the personal data are collected, shared and processed. The Privacy Policy has been prepared in accordance with the provisions of the GDPR.

                                    //-figure
                                        .article_img
                                            .article_action: .article_action_inner.fixMe(data-sticky-class='_stuck')
                                                +action_block()
                                            a.article_img_link(href='article.html'): img(src='i/yonghap.jpg')
                                        p According to the South Korean news agency Yonhap, the announcements were made by Hong Nam-ki, the minister of the Office for Government Policy Coordination, after discussion with vice ministers from other governmental bodies regarding the recent rise in cryptocurrency interest and ownership domestically.
                                    
                                ul.article_stat._author
                                    li
                                        span.article_stat_val 3 August 2017
                                    li
                                        span.article_stat_val._stat_views 200
                                    li._fr
                                        span by Alex Morris
                                        a.article_author_img(href='#')
                                            img(src='i/article_author.png')
                                            
                                ul.article_tag_list._tags_2
                                    +loop_while(11)
                                        li: a.tag_link(href='#') #Supertag
                                    li: a.tag_link(href='#') #Superlongtag

                                +article_share('_action', true)
                                    
                                    .content_block
                                        h1 H1 &nbsp;-&nbsp; Foundagyon: Stoleg Coyncheck Funds Not Sent to Exchanges
                                        p When President Trump delivers his first State of the Union address on Tuesday at 9 p.m. ET, his most fervent supporters.
                                        h2 H2 &nbsp;-&nbsp; When Pgysident Trump delivers his first State of the Union
                                        p When President Trump delivers his first State of the Union address on Tuesday at 9 p.m. ET, his most fervent supporters.
                                        h3 H3 &nbsp;-&nbsp; the most high-profile moment of his presidency with a soft speech
                                        p When President Trump delivers his first State of the Union address on Tuesday at 9 p.m. ET, his most fervent supporters.
                                        h4 H4 &nbsp;-&nbsp; the most high-profile moment of his presidency with a soft speech his most fervent supporters
                                        p When President Trump delivers his first State of the Union address on Tuesday at 9 p.m. ET, his most fervent supporters.
                                        h5 H5 &nbsp;-&nbsp; the most high-profile moment of his presidency with a soft speech his most fervent supporters
                                        p When President Trump delivers his first State of the Union address on Tuesday at 9 p.m. ET, his most fervent supporters. #[a(href='#') link]
                                        h6 H6 &nbsp;-&nbsp; the most high-profile moment of his presidency with a soft speech his most fervent supporters
                                        p When President Trump delivers his first State of the Union address on Tuesday at 9 p.m. ET, his most fervent supporters.

                                        h6 List &nbsp;-&nbsp; the most high-profile mom

                                        ul
                                            li: span When President Trump delivers his first State of the Union address on Tuesday at 9 p.m.
                                            li
                                                span Soft speech that bends more to the predilections of the political establishment to the populist army that sent him there to drain the swamp.

                                                ul
                                                    li: span When President Trump delivers his first State of the Union address on Tuesday at 9 p.m.  that bends more to the predilections
                                                    li: span Union address on Tuesday at 9 p.m.  that bends more to the predilections
                                
                                .comment_holder
                                    a.btn_v2.comment_btn.gray_btn_3(href='#') Leave a Comment
                                                    
                        +aside_block()


            .nav_holder
                +main_menu(true)
                +search()

            +header()
            +footer()

        +scripts(true)
