include mixins.pug
doctype html
html(lang='ru')
    +dev_head('Crypto категория')

    body.no_transition
        .wrapper
            .main_content
                .section_inner
                    +tag_holder('_slider', true)

                    //-a.attention_block._warn(href='#')
                        .attention_caption Breaking news
                        p
                            span Indonesia Central Bank: Cryptocurrency Payments 'Not Legitimate'
                            span.attention_link

                    .content_holder._cat
                        .content_block
                            .article_group_title._pricewise.icon-star
                                a.article_group_link(href='#')
                                    span Interviews
                                
                                
                            //-.category_filter._pool
                                ul.filter_list
                                    li: a.filter_link._active(href='#') All articles
                                    li: a.filter_link(href='#') Coins
                                    li: a.filter_link(href='#') Persons
                                    li: a.filter_link(href='#') Other

                            .news_row._voice._bordered._tags_mode
                                //-.news_col._third
                                    .article_block._tag
                                        .article_title.icon-voice
                                            .article_link Sharks Pool

                                            p Crypto space is all about ideas so find here thought-provoking opinions, experts blogs and interviews with the great and the good.

                                +loop_while(3)
                                    .news_col._third
                                        .article_block._pool
                                            .article_img
                                                a.article_img_link(href='article.html'): img(src='i/bear_0.jpg')

                                            .article_title
                                                //-.article_action: .article_action_inner
                                                    +action_block()
                                                p: a.article_link(href='article.html') Reddit No Longer Accepting Bitcoin Payments
                                                ul.article_stat
                                                    li
                                                        a.article_stat_val(href='#') by Alex Morris
                                                    li._fr
                                                        span.article_stat_val 1 hour ago 

                                    .news_col._third
                                        .article_block._pool
                                            .article_img
                                                a.article_img_link(href='article.html'): img(src='i/bear_0.jpg')

                                            .article_title
                                                //-.article_action: .article_action_inner
                                                    +action_block()
                                                p: a.article_link(href='article.html') Reddit No Longer Accepting Bitcoin Payments
                                                ul.article_stat
                                                    li
                                                        a.article_stat_val(href='#') by Alex Morris
                                                    li._fr
                                                        span.article_stat_val 1 hour ago 

                                    .news_col._third
                                        .article_block._pool
                                            .article_img
                                                a.article_img_link(href='article.html'): img(src='i/bear_0.jpg')

                                            .article_title
                                                //-.article_action: .article_action_inner
                                                    +action_block()
                                                p: a.article_link(href='article.html') Reddit No Longer Accepting Bitcoin Payments
                                                ul.article_stat
                                                    li
                                                        a.article_stat_val(href='#') by Alex Morris
                                                    li._fr
                                                        span.article_stat_val 1 hour ago 

                        +aside_block()

            .nav_holder
                //-+main_menu()
                +search()

            +header()
            +footer()

        +scripts()
