include mixins.pug
doctype html
html(lang='ru')
    +dev_head('Crypto price')

    body.no_transition
        .wrapper
            .main_content
                .section_inner
                    +tag_holder('_slider', true)

                    //-a.attention_block._warn(href='#')
                        .attention_caption Breaking news
                        p
                            span Indonesia Central Bank: Cryptocurrency Payments 'Not Legitimate'
                            span.attention_link

                    .widget_holder
                        .widget_aside
                            .stat_holder
                                .stat_holder_title
                                    span.icon-filter.clr_violette.stat_holder_icon
                                    span.clr_violette._fw_b Filter
                                    ul.stat_holder_controls
                                        li: a.stat_link(href='#') Clear

                                form(action='#')
                                    .form_cell
                                        label.label_v1(for='filter_country') Countries
                                        .input_w
                                            input#filter_country.input_v3(placeholder='' value='Russia')
                                    .form_cell
                                        label.label_v1(for='filter_city') Cities
                                        .input_w
                                            input#filter_city.input_v3(placeholder='All cities')

                                    .form_cell
                                        label.label_v1(for='filter_date') Date
                                        .input_w
                                            select#filter_date.date_select
                                                option Archived
                                                option(selected='') March 2018
                                                option April 2018
                                                option May 2018
                                                option June 2018
                                                option March 2018
                                                option April 2018
                                                option May 2018
                                                option June 2018
                                                option July 2018
                                                option August 2018
                                                option September 2018
                                                option October 2018
                                                option November 2018
                                                option December 2018
                                                option January 2019
                                                option February 2019
                                                option March 2019
                                                option April 2019
                                                option May 2019
                                                option June 2019
                                                option July 2019
                                                option August 2019
                                                option September 2019
                                                option October 2019
                                                option November 2019
                                                option December 2019

                                            .select_arrow

                                    //-.form_cell
                                        label.label_v1(for='filter_date') Event Type
                                        .input_w
                                            select#filter_type.date_select
                                                option All events
                                                option Conferences and shows
                                                option MeetUps
                                            .select_arrow

                            .offer_block
                                p Have something interesting
                                p
                                    a.btn_v2.btn_violette_2.offer_btn(href='#')
                                        span SubMit NEW EVENT
                                        span.btn_icon.icon-rocket

                            //-.text_center: a.stat_link(href='new_event.html', style='text-decoration: underline;') Submit new event

                        .widget_block
                            //-.stat_caption.clearfix
                                span Events
                                //-ul.stat_holder_controls
                                    li._first: a.stat_link(href='new_event.html') Submit events
                                    li: a.stat_link(href='#') Past
                                    li._active: a.stat_link(href='#') Future

                            .news_row._bordered._show_2._events
                                +loop_while(12)
                                    .news_col._third
                                        .article_block
                                            .article_img
                                                ul.article_tags
                                                    li
                                                        a.icon-calendar.article_tag._wide._event(href='#')
                                                            span 24 MARCH
                                                a.article_img_link(href='event.html'): img(src='i/bear.jpg')

                                            .article_title
                                                .article_action: .article_action_inner.fixMe(data-sticky-class='_stuck')
                                                    +action_block()
                                                p: a.article_link(href='event.html') Reddit No Longer Accepting Bitcoin Payments
                                                ul.article_stat
                                                    li
                                                        span.article_stat_val Zurich Switzerland
                                                    li
                                                        span.article_stat_val._stat_views 212
                                +loop_while(3)
                                    .news_col._third
                                        .article_block._archived
                                            .article_img
                                                ul.article_tags
                                                    li
                                                        a.icon-calendar.article_tag._wide._archived(href='#')
                                                            span 24 MARCH, ARCHIVED
                                                a.article_img_link(href='event.html'): img(src='i/bear.jpg')

                                            .article_title
                                                .article_action: .article_action_inner.fixMe(data-sticky-class='_stuck')
                                                    +action_block()
                                                p: a.article_link(href='event.html') Reddit No Longer Accepting Bitcoin Payments
                                                ul.article_stat
                                                    li
                                                        span.article_stat_val Zurich Switzerland
                                                    li
                                                        span.article_stat_val._stat_views 212

                            .news_row
                                .news_col._wide
                                    .article_controls._mod_1
                                        a.btn_v1.more_btn.gray_btn(href='#') More events

            .nav_holder
                +main_menu(true)
                +search()

            +header()
            +footer()

        +scripts()
