include mixins.pug
doctype html
html(lang='ru')
    +dev_head('Crypto event')

    body.no_transition
        .wrapper
            .main_content
                .section_inner
                    +tag_holder('_slider', true)

                    ul.bread_crumbs
                        li: a.crumb_link(href='#') Cryptocomes
                        li: a.crumb_link(href='#') Events

                    //-a.attention_block._warn(href='#')
                        .attention_caption Breaking news
                        p
                            span Indonesia Central Bank: Cryptocurrency Payments 'Not Legitimate'
                            span.attention_link

                    .content_holder
                        .content_block
                            .article_block.story_block._event
                                .article_main_photo
                                    .article_date._event.icon-calendar 21 MARCH — 24 MARCH

                                    .article_heading
                                        //-a.article_link(href='article.html') Hawaiian Bylls Wougd Capture Crypto Under&nbsp;Money Transmission Law
                                        a.article_link(href='article.html') NEM Foundation: Stoleg Coyncheck Funds Not Sent to Exchanges
                                        //-a.article_link(href='article.html') Google's DoubleClick Ads Used to Distribute Crypto Mining Malware

                                    ul.article_stat._mod_1
                                        li
                                            span.article_stat_val Zurich Switzerland
                                        li
                                            span.article_stat_val._stat_views 212

                                    //-ul.article_stat._mod_1
                                        li
                                            span.article_stat_val
                                                span.clr_gray Start event —&nbsp;
                                            a.article_stat_val(href='#') Jan 10, 2018 at 10:00
                                        li
                                            span.article_stat_val
                                                span.clr_gray End event —&nbsp;
                                            a.article_stat_val(href='#')  Jan 11, 2018 at 15:00
                                        li
                                            a.article_stat_val(href='#') Santa Clara, United States

                                    .article_img
                                        .article_img_link: img(src='i/hong_kong.jpg')

                                .article_info_holder
                                    .article_preview
                                        span iGaming platform provider Cash Bet has partnered with Arsenal Football Club in a deal that will promote the firm's new crypto token.

                                        //-a.article_preview_link(href='#')
                                            span Event website

                                    .article_info
                                        +article_share('_action', true)

                                    .article_text
                                        p When President Trump delivers his first State of the Union address on Tuesday at 9 p.m. ET, his most fervent supporters are anxious that he will squander the most high-profile moment of his presidency with a soft speech that bends more to the predilections of the political establishment in Washington and less to the populist army that sent him there to #[a(href='#') drain the swamp].

                                        p The South Korean government announced today it will move to prohibit domestic cryptocurrency exchanges from allowing users to make transactions through anonymous accounts, local news sources report.

                                        p The South Korean government announced today it will move to prohibit domestic cryptocurrency exchanges from allowing users to make transactions through anonymous accounts, local news sources report.

                                        dl.release_info
                                            dt Place:
                                            dd Zurich  Switzerland

                                            dt Start Date:
                                            dd 1 March 2018

                                            dt End Date:
                                            dd 1 March 2018

                                            dt Website:
                                            dd
                                                a(href='#') https://cocacola.com

                                            dt Organization:
                                            dd CocaCola

                                            dt Сontacts:
                                            dd Leah Callon-Butler Chief Impact Officer #[a(href='mailto:leah@intimate.io') leah@intimate.io]

                            .article_block._comment
                                .article_info_holder
                                    .article_text
                                        .leave_comment_tip This is a paid press release. Сryptocomes does not endorse and is not responsible for or liable for any content, accuracy, quality, advertising, products or other materials on this page. Readers should do their own research before taking any actions related to the company. Сryptocomes is not responsible, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with the use of or reliance on any content, goods or services mentioned in the press release.

                            .article_info_holder
                                .article_info
                                    +article_share('_action _mb_0', true)

                            .comment_holder
                                a.btn_v2.comment_btn(href='#') Click to leave your comment

                        +aside_block()

            .nav_holder
                +main_menu(true)
                +search()

            +header()
            +footer()

        +scripts(true)
