include mixins.pug
doctype html
html(lang='ru')
    +dev_head('Crypto главная')

    body.no_transition
        .wrapper
            .main_content
                .section_inner
                    +tag_holder('_slider', true)

                    a.attention_block._warn(href='#')
                        .attention_caption Breaking
                        p
                            span Indonesia Central Bank: Cryptocurrency Payments 'Not Legitimate'
                            span.attention_link

                    .content_holder
                        .content_block
                            .news_row
                            .news_row
                                .news_col
                                    .article_block.story_block._main
                                        .article_img
                                            a.article_img_link(href='#'): img(src='i/vermont.jpg')

                                        .article_title
                                            .article_action: .article_action_inner
                                                +action_block()
                                            p: a.article_link(href='#') Vermont City Pilots Land Registry Record With Blockchain
                                            ul.article_stat
                                                li
                                                    a.article_stat_val(href='#') John Doe
                                                li
                                                    span.article_stat_val._stat_time 2h
                                                li
                                                    span.article_stat_val._stat_views 212

                                    .article_reviews_holder._stories
                                        .top_story_caption Latest News

                                        ul.article_reviews._article
                                            +loop_while(4)
                                                li
                                                    .article_block._review._left
                                                        .article_img
                                                            a.article_img_link(href='#'): img(src='i/bear.jpg')

                                                        .article_title
                                                            a.article_link._fz_18(href='#') Market Growth Fizzles Out, Bitcoin Price Stuck at $9,000
                                                        ul.article_stat._action
                                                            li
                                                                a.article_stat_val(href='#') John Doe
                                                            li
                                                                span.article_stat_val._stat_time 2h
                                                            li
                                                                span.article_stat_val._stat_views 212
                                                            +stat_action()

                                .news_col
                                    .article_block.story_block._top
                                        .article_img
                                            a.article_img_link(href='#'): img(src='i/bitflyer2.jpg')

                                            .article_title
                                                .article_action: .article_action_inner
                                                    +action_block()
                                                .top_story_caption Top Story

                                                a.article_link(href='#') Cryptocurrency Exchange BitFlyer Launches New EU Branch

                                                ul.article_stat
                                                    li
                                                        a.article_stat_val(href='#') John Doe
                                                    li
                                                        span.article_stat_val._stat_time 2h
                                                    li
                                                        span.article_stat_val._stat_views 212

                                    //-#subscribeTrigger

                                    .article_reviews_holder._stories
                                        .top_story_caption Stories

                                        ul.article_reviews._article
                                            li
                                                .article_block._review._left
                                                    .article_img
                                                        ul.article_tags
                                                            li
                                                                a.icon-say.article_tag._wide._features(href='#')
                                                                    span Features
                                                        a.article_img_link(href='#'): img(src='i/bear.jpg')

                                                    .article_title
                                                        a.article_link._fz_18(href='#') Market Growth Fizzles Out, Bitcoin Price Stuck at $9,000
                                                    ul.article_stat._action
                                                        li
                                                            a.article_stat_val(href='#') John Doe
                                                        li
                                                            span.article_stat_val._stat_time 2h
                                                        li
                                                            span.article_stat_val._stat_views 212
                                                        +stat_action()

                                            li
                                                .article_block._review._left
                                                    .article_img
                                                        ul.article_tags
                                                            li
                                                                a.icon-say.article_tag._wide._pricewise(href='#')
                                                                    span PRISEWISE
                                                        a.article_img_link(href='#'): img(src='i/bear.jpg')

                                                    .article_title
                                                        a.article_link._fz_18(href='#') Market Growth Fizzles Out, Bitcoin Price Stuck at $9,000
                                                    ul.article_stat._action
                                                        li
                                                            a.article_stat_val(href='#') John Doe
                                                        li
                                                            span.article_stat_val._stat_time 2h
                                                        li
                                                            span.article_stat_val._stat_views 212
                                                        +stat_action()

                                            li
                                                .article_block._review._left
                                                    .article_img
                                                        ul.article_tags
                                                            li
                                                                a.icon-say.article_tag._wide._wiki(href='#')
                                                                    span WIKICOIN
                                                        a.article_img_link(href='#'): img(src='i/bear.jpg')

                                                    .article_title
                                                        a.article_link._fz_18(href='#') Market Growth Fizzles Out, Bitcoin Price Stuck at $9,000
                                                    ul.article_stat._action
                                                        li
                                                            a.article_stat_val(href='#') John Doe
                                                        li
                                                            span.article_stat_val._stat_time 2h
                                                        li
                                                            span.article_stat_val._stat_views 212
                                                        +stat_action()

                                            li
                                                .article_block._review._left
                                                    .article_img
                                                        a.article_img_link(href='#'): img(src='i/bear.jpg')

                                                    .article_title
                                                        a.article_link._fz_18(href='#') Market Growth Fizzles Out, Bitcoin Price Stuck at $9,000
                                                    ul.article_stat._action
                                                        li
                                                            a.article_stat_val(href='#') John Doe
                                                        li
                                                            span.article_stat_val._stat_time 2h
                                                        li
                                                            span.article_stat_val._stat_views 212
                                                        +stat_action()

                                .news_col
                                    a.btn_v1.more_btn.gray_btn(href='#') More news

                                .news_col
                                    a.btn_v1.more_btn.gray_btn(href='#') More stories

                            .news_row
                                .news_col._wide
                                    .article_group_title._features.icon-star
                                        a.article_group_link(href='#')
                                            span.text_upper PRESS RELEASES
                                        a.article_title_link(href='#'): span All Press Releases
                                        a.article_title_link._more(href='#'): span Submit Press Release

                                    ul.news_aggregator
                                        +loop_while(3)
                                            li
                                                .article_block
                                                    .article_img
                                                        a.article_img_link(href='#'): img(src='i/bear_0.jpg')

                                                    .article_title
                                                        .article_action: .article_action_inner
                                                            +action_block()
                                                        a.article_link(href='#') Reddit No Longer Accepting Bitcoin Payments
                                                        ul.article_stat
                                                            li
                                                                a.article_stat_val(href='#') John Doe
                                                            li
                                                                span.article_stat_val._stat_time 2h
                                                            li
                                                                span.article_stat_val._stat_views 212

                            .news_row._pool._bordered._show_2
                                .news_col._wide
                                    .article_group_title._pricewise.icon-splash
                                        a.article_group_link(href='#')
                                            span.text_upper pricewise
                                        a.article_title_link(href='#') All #Pricewise

                                .news_col._third
                                    .article_block._pool
                                        .article_img
                                            a.article_img_link(href='#'): img(src='i/bear_0.jpg')

                                        .article_title
                                            .article_action: .article_action_inner
                                                +action_block()
                                            a.article_link(href='#') Atomic Action: Will 2018 Be the Year of the Cros…
                                            ul.article_stat
                                                li
                                                    a.article_stat_val(href='#') John Doe
                                                li
                                                    span.article_stat_val._stat_time 2h
                                                li
                                                    span.article_stat_val._stat_views 212

                                .news_col._third
                                    .article_block._pool
                                        .article_img
                                            a.article_img_link(href='#'): img(src='i/bear_0.jpg')

                                        .article_title
                                            .article_action: .article_action_inner
                                                +action_block()
                                            a.article_link(href='#') Atomic Action: Will 2018 Be the Year of the Cros…
                                            ul.article_stat
                                                li
                                                    a.article_stat_val(href='#') John Doe
                                                li
                                                    span.article_stat_val._stat_time 2h
                                                li
                                                    span.article_stat_val._stat_views 212

                                .news_col._third
                                    .article_block._pool
                                        .article_img
                                            a.article_img_link(href='#'): img(src='i/bear_0.jpg')

                                        .article_title
                                            .article_action: .article_action_inner
                                                +action_block()
                                            a.article_link(href='#') Atomic Action: Will 2018 Be the Year of the Cros…
                                            ul.article_stat
                                                li
                                                    a.article_stat_val(href='#') John Doe
                                                li
                                                    span.article_stat_val._stat_time 2h
                                                li
                                                    span.article_stat_val._stat_views 212

                            .news_row._pool._bordered._show_2
                                .news_col._wide
                                    .article_group_title._wiki.icon-star
                                        a.article_group_link(href='#')
                                            span.text_upper WIKICOIN
                                        a.article_title_link(href='#') All #WikiCoin

                                .news_col._third
                                    .article_block._pool
                                        .article_img
                                            a.article_img_link(href='#'): img(src='i/bear_0.jpg')

                                        .article_title
                                            .article_action: .article_action_inner
                                                +action_block()
                                            a.article_link(href='#') Atomic Action: Will 2018 Be the Year of the Cros…
                                            ul.article_stat
                                                li
                                                    a.article_stat_val(href='#') John Doe
                                                li
                                                    span.article_stat_val._stat_time 2h
                                                li
                                                    span.article_stat_val._stat_views 212

                                .news_col._third
                                    .article_block._pool
                                        .article_img
                                            a.article_img_link(href='#'): img(src='i/bear_0.jpg')

                                        .article_title
                                            .article_action: .article_action_inner
                                                +action_block()
                                            a.article_link(href='#') Atomic Action: Will 2018 Be the Year of the Cros…
                                            ul.article_stat
                                                li
                                                    a.article_stat_val(href='#') John Doe
                                                li
                                                    span.article_stat_val._stat_time 2h
                                                li
                                                    span.article_stat_val._stat_views 212

                                .news_col._third
                                    .article_block._pool
                                        .article_img
                                            a.article_img_link(href='#'): img(src='i/bear_0.jpg')

                                        .article_title
                                            .article_action: .article_action_inner
                                                +action_block()
                                            a.article_link(href='#') Atomic Action: Will 2018 Be the Year of the Cros…
                                            ul.article_stat
                                                li
                                                    a.article_stat_val(href='#') John Doe
                                                li
                                                    span.article_stat_val._stat_time 2h
                                                li
                                                    span.article_stat_val._stat_views 212

                        +aside_block()

            .nav_holder
                //-+main_menu()
                +search()

            +header()
            +footer()

        +scripts()
