include mixins.pug
doctype html
html(lang='ru')
    +dev_head('Crypto главная')

    body.no_transition
        .wrapper
            .main_content
                .section_inner
                    +tag_holder()

                    a.attention_block._warn(href='#')
                        .attention_caption Breaking news
                        p
                            span Indonesia Central Bank: Cryptocurrency Payments 'Not Legitimate'
                            span.attention_link

                    .content_holder
                        .content_block
                            .news_row
                                .news_col
                                    .article_block.story_block._main._stories
                                        .article_img
                                            //-ul.article_tags
                                                li
                                                    span.icon-crypto.article_tag._top
                                            .article_action: .article_action_inner.fixMe(data-sticky-class='_stuck')
                                                +action_block()
                                            a.article_img_link(href='#'): img(src='i/ice_expl.jpg')

                                        .article_title
                                            a.article_link.clr_violette(href='#') ICE Exploiting Blockchain to Expose Crypto Use in Drug Trafficking
                                            //a.article_link.clr_violette(href='#') Vermont City Pilots Land Registry Record With Blockchain
                                            ul.article_stat
                                                li
                                                    span.article_stat_val._stat_views 212
                                                li
                                                    span.article_stat_val 2 minutes ago

                                        ul.news_list
                                            li
                                                .news_item
                                                    //-.news_date 2 min<br>ago
                                                    a.news_name(href='#') New Bill in Colorado Encourages State to Adopt Blockchain
                                                    ul.article_stat
                                                        li
                                                            span.article_stat_val._stat_views 212
                                                        li
                                                            span 2 minutes ago

                                            li
                                                .news_item
                                                    //-.news_date 1 hr<br>ago
                                                    a.news_name(href='#') Ledger-to-Ledger? Hardware Wallet Integrates with Decentralized Exchange
                                                    ul.article_stat
                                                        li
                                                            span.article_stat_val._stat_views 212
                                                        li
                                                            span 2 minutes ago

                                            li
                                                .news_item
                                                    //-.news_date 2 hr<br>ago
                                                    a.news_name(href='#') TSMC Expects 'Strong' Crypto Mining Demand to Continue
                                                    ul.article_stat
                                                        li
                                                            span.article_stat_val._stat_views 212
                                                        li
                                                            span 2 minutes ago

                                            li
                                                .news_item
                                                    //-.news_date 1 day<br>ago
                                                    a.news_name(href='#') Ripple and Stellar Lead the Way as Crypto Market
                                                    ul.article_stat
                                                        li
                                                            span.article_stat_val._stat_views 212
                                                        li
                                                            span 2 minutes ago

                                            li
                                                .news_item
                                                    //-.news_date 29 hr<br>ago
                                                    a.news_name(href='#') Korean Regulator Investigating Staff Insider Trading of Cryptocurrencies
                                                    ul.article_stat
                                                        li
                                                            span.article_stat_val._stat_views 212
                                                        li
                                                            span 2 minutes ago

                                            li
                                                .news_item
                                                    //-.news_date 1 day<br>ago
                                                    a.news_name(href='#') San Francisco Blockchain Startups Partner on Decentralized Insurance
                                                    ul.article_stat
                                                        li
                                                            span.article_stat_val._stat_views 212
                                                        li
                                                            span 2 minutes ago

                                            li
                                                .news_item
                                                    //-.news_date 29 hr<br>ago
                                                    a.news_name(href='#') Tether Confirms Its Relationship With Auditor Has 'Dissolved'
                                                    ul.article_stat
                                                        li
                                                            span.article_stat_val._stat_views 212
                                                        li
                                                            span 2 minutes ago

                                .news_col
                                    .article_block.story_block._top
                                        .article_img
                                            .article_action: .article_action_inner.fixMe(data-sticky-class='_stuck')
                                                +action_block()
                                            a.article_img_link(href='#'): img(src='i/bitflyer.jpg')

                                            .article_title
                                                .top_story_caption Top Story

                                                a.article_link(href='#') Cryptocurrency Exchange BitFlyer Launches New EU Branch
                                                ul.article_stat
                                                    li
                                                        a.article_theme(href='#') Explorer the theme

                                    //-#subscribeTrigger

                                    .article_reviews_holder._stories
                                        .top_story_caption Stories

                                        ul.article_reviews._article
                                            li
                                                .article_block._review
                                                    .article_img
                                                        a.article_img_link(href='#'): img(src='i/remote.jpg')

                                                    .article_title
                                                        a.article_link._fz_18(href='#') Opera Browser Adds Cryptocurrency Miner Protection for Smartphones
                                                    ul.article_stat
                                                        li
                                                            span.article_stat_val Jan 10, 2018 at 10:00
                                                        li
                                                            span.article_stat_val._stat_views 212
                                                        li._first
                                                            a.article_stat_val(href='#') Ariel Deschapell

                                            li
                                                .article_block._review
                                                    .article_img
                                                        a.article_img_link(href='#'): img(src='i/remote.jpg')

                                                    .article_title
                                                        a.article_link(href='#') Lightning Network May Not Solve Bitcoin's Scaling 'Trilemma'
                                                    ul.article_stat
                                                        li
                                                            span.article_stat_val Jan 10, 2018 at 10:00
                                                        li
                                                            span.article_stat_val._stat_views 212
                                                        li._first
                                                            a.article_stat_val(href='#') Ariel Deschapell

                                            li
                                                .article_block._review
                                                    .article_img
                                                        a.article_img_link(href='#'): img(src='i/remote.jpg')

                                                    .article_title
                                                        a.article_link(href='#') 2018's Challenge: Promote Responsible Blockchain
                                                    ul.article_stat
                                                        li
                                                            span.article_stat_val Jan 10, 2018 at 10:00
                                                        li
                                                            span.article_stat_val._stat_views 212
                                                        li._first
                                                            a.article_stat_val(href='#') Ariel Deschapell

                                            li
                                                .article_block._review
                                                    .article_img
                                                        a.article_img_link(href='#'): img(src='i/remote.jpg')

                                                    .article_title
                                                        a.article_link(href='#') Bulgaria Joins 'International Operation' Against OneCoin
                                                    ul.article_stat
                                                        li
                                                            span.article_stat_val Jan 10, 2018 at 10:00
                                                        li
                                                            span.article_stat_val._stat_views 212
                                                        li._first
                                                            a.article_stat_val(href='#') Ariel Deschapell

                                            li
                                                .article_block._review
                                                    .article_img
                                                        a.article_img_link(href='#'): img(src='i/remote.jpg')

                                                    .article_title
                                                        a.article_link(href='#') TSMC Expects 'Strong' Crypto Mining Demand to Continue
                                                    ul.article_stat
                                                        li
                                                            span.article_stat_val Jan 10, 2018 at 10:00
                                                        li
                                                            span.article_stat_val._stat_views 212
                                                        li._first
                                                            a.article_stat_val(href='#') Ariel Deschapell
                                .news_col
                                    a.btn_v1.more_btn.gray_btn(href='#') More news

                                .news_col
                                    a.btn_v1.more_btn.gray_btn(href='#') More stories
                            .news_row
                                .news_col._wide
                                    .article_group_title._features._bg
                                        a.article_group_link(href='#')
                                            span Features
                                        a.article_title_link(href='#'): span All featured

                                    ul.news_aggregator._features._bordered
                                        li
                                            .article_block
                                                .article_img
                                                    .article_action: .article_action_inner.fixMe(data-sticky-class='_stuck')
                                                        +action_block()
                                                    a.article_img_link(href='#'): img(src='i/chinese.jpg')

                                                .article_title
                                                    a.article_link(href='#') Bitcoin Price Seeks Direction as Trading Range Narrows Trading Range Narrows
                                                    ul.article_stat
                                                        li
                                                            span.article_stat_val Jan 10, 2018 at 10:00
                                                        li
                                                            span.article_stat_val._stat_views 212
                                                        li._first
                                                            a.article_stat_val(href='#') Ariel Deschapell

                                        li
                                            .article_block
                                                .article_img
                                                    .article_action: .article_action_inner.fixMe(data-sticky-class='_stuck')
                                                        +action_block()
                                                    a.article_img_link(href='#'): img(src='i/chinese.jpg')

                                                .article_title
                                                    a.article_link(href='#') Battle-Testing Lightning: Schools Start Contest to Secure Bitcoin’s Layer 2
                                                    ul.article_stat
                                                        li
                                                            span.article_stat_val Jan 10, 2018 at 10:00
                                                        li
                                                            span.article_stat_val._stat_views 212
                                                        li._first
                                                            a.article_stat_val(href='#') Ariel Deschapell

                                        li
                                            .article_block
                                                .article_img
                                                    .article_action: .article_action_inner.fixMe(data-sticky-class='_stuck')
                                                        +action_block()
                                                    a.article_img_link(href='#'): img(src='i/chinese.jpg')

                                                .article_title
                                                    a.article_link(href='#') Battle-Testing Lightning: Schools Start Contest to Secure Bitcoin’s Layer 2
                                                    ul.article_stat
                                                        li
                                                            span.article_stat_val Jan 10, 2018 at 10:00
                                                        li
                                                            span.article_stat_val._stat_views 212
                                                        li._first
                                                            a.article_stat_val(href='#') Ariel Deschapell

                                    .article_controls._features
                                        a.btn_v1.more_btn.gray_btn(href='#') More features

                            .news_row._pool._bordered._show_2
                                .news_col._wide
                                    .article_group_title._pool
                                        a.article_group_link(href='#')
                                            span Sharks pool
                                        a.article_title_link(href='#') All #Sharks pool

                                .news_col._third
                                    .article_block._pool
                                        .article_img
                                            .article_action: .article_action_inner.fixMe(data-sticky-class='_stuck')
                                                +action_block()
                                            a.article_img_link(href='#'): img(src='i/range.jpg')

                                        .article_title
                                            a.article_link(href='#') Atomic Action: Will 2018 Be the Year of the Cros…
                                            ul.article_stat
                                                li
                                                    span.article_stat_val._stat_views 212
                                                li
                                                    span.article_stat_val 2 minutes ago
                                                li._first
                                                    a.article_stat_val(href='#') Ariel Deschapell

                                .news_col._third
                                    .article_block._pool
                                        .article_img
                                            .article_action: .article_action_inner.fixMe(data-sticky-class='_stuck')
                                                +action_block()
                                            a.article_img_link(href='#'): img(src='i/range.jpg')

                                        .article_title
                                            a.article_link(href='#') Atomic Action: Will 2018 Be the Year of the Cros…
                                            ul.article_stat
                                                li
                                                    span.article_stat_val._stat_views 212
                                                li
                                                    span.article_stat_val 2 minutes ago
                                                li._first
                                                    a.article_stat_val(href='#') Ariel Deschapell

                                .news_col._third
                                    .article_block._pool
                                        .article_img
                                            .article_action: .article_action_inner.fixMe(data-sticky-class='_stuck')
                                                +action_block()
                                            a.article_img_link(href='#'): img(src='i/range.jpg')

                                        .article_title
                                            a.article_link(href='#') Atomic Action: Will 2018 Be the Year of the Cros…
                                            ul.article_stat
                                                li
                                                    span.article_stat_val._stat_views 212
                                                li
                                                    span.article_stat_val 2 minutes ago
                                                li._first
                                                    a.article_stat_val(href='#') Ariel Deschapell

                            .article_controls._pool
                                a.btn_v1.more_btn.gray_btn(href='#') More #Sharks pool

                            .news_row._bordered._show_2._release
                                .news_col._wide
                                    .article_group_title._release
                                        a.article_group_link(href='#')
                                            span Press Release
                                        a.article_title_link(href='#') All #Press Release
                                        a.article_title_link._submit(href='#') Submit press release

                                .news_col._third
                                    .article_block
                                        .article_img
                                            .article_action: .article_action_inner.fixMe(data-sticky-class='_stuck')
                                                +action_block()
                                            a.article_img_link(href='#'): img(src='i/range.jpg')

                                        .article_title
                                            a.article_link(href='#') Goldman Sachs: Bitcoin Could Be Viable Mon…
                                            ul.article_stat
                                                li
                                                    span.article_stat_val._stat_views 212
                                                li
                                                    span.article_stat_val 2 minutes ago
                                                li._first
                                                    a.article_stat_val(href='#') Ariel Deschapell
                                .news_col._third
                                    .article_block
                                        .article_img
                                            .article_action: .article_action_inner.fixMe(data-sticky-class='_stuck')
                                                +action_block()
                                            a.article_img_link(href='#'): img(src='i/range.jpg')

                                        .article_title
                                            a.article_link(href='#') China's Internet Finance Association Warns on …
                                            ul.article_stat
                                                li
                                                    span.article_stat_val._stat_views 212
                                                li
                                                    span.article_stat_val 2 minutes ago
                                                li._first
                                                    a.article_stat_val(href='#') Ariel Deschapell
                                .news_col._third
                                    .article_block
                                        .article_img
                                            .article_action: .article_action_inner.fixMe(data-sticky-class='_stuck')
                                                +action_block()
                                            a.article_img_link(href='#'): img(src='i/range.jpg')

                                        .article_title._video
                                            a.article_link(href='#') Biosensor Analysis Tool - Human Behaviour Research Synchroniz…
                                            ul.article_stat
                                                li
                                                    span.article_stat_val._stat_views 212
                                                li
                                                    span.article_stat_val 2 minutes ago
                                                li._first
                                                    a.article_stat_val(href='#') Ariel Deschapell


                            .article_controls._pricewise
                                a.btn_v1.more_btn.gray_btn(href='#') More #Pricewise

                            .news_row._bordered._pricewise._show_2
                                .news_col._wide
                                    .article_group_title._pricewise
                                        a.article_group_link(href='#')
                                            span Pricewise
                                        a.article_title_link(href='#') All #Pricewise

                                .news_col._third
                                    .article_block
                                        .article_img
                                            .article_action: .article_action_inner.fixMe(data-sticky-class='_stuck')
                                                +action_block()
                                            a.article_img_link(href='#'): img(src='i/range.jpg')

                                        .article_title
                                            a.article_link(href='#') Goldman Sachs: Bitcoin Could Be Viable Mon…
                                            ul.article_stat
                                                li
                                                    span.article_stat_val._stat_views 212
                                                li
                                                    span.article_stat_val 2 minutes ago
                                                li._first
                                                    a.article_stat_val(href='#') Ariel Deschapell
                                .news_col._third
                                    .article_block
                                        .article_img
                                            .article_action: .article_action_inner.fixMe(data-sticky-class='_stuck')
                                                +action_block()
                                            a.article_img_link(href='#'): img(src='i/range.jpg')

                                        .article_title
                                            a.article_link(href='#') China's Internet Finance Association Warns on …
                                            ul.article_stat
                                                li
                                                    span.article_stat_val._stat_views 212
                                                li
                                                    span.article_stat_val 2 minutes ago
                                                li._first
                                                    a.article_stat_val(href='#') Ariel Deschapell
                                .news_col._third
                                    .article_block
                                        .article_img
                                            .article_action: .article_action_inner.fixMe(data-sticky-class='_stuck')
                                                +action_block()
                                            a.article_img_link(href='#'): img(src='i/range.jpg')

                                        .article_title._video
                                            a.article_link(href='#') Biosensor Analysis Tool - Human Behaviour Research Synchroniz…
                                            ul.article_stat
                                                li
                                                    span.article_stat_val._stat_views 212
                                                li
                                                    span.article_stat_val 2 minutes ago
                                                li._first
                                                    a.article_stat_val(href='#') Ariel Deschapell


                            .article_controls._pricewise
                                a.btn_v1.more_btn.gray_btn(href='#') More #Pricewise

                            .news_row._bordered._analysis._show_2
                                .news_col._wide
                                    .article_group_title._analysis
                                        a.article_group_link(href='#')
                                            span Analysis
                                        a.article_title_link(href='#') All  #Analysis

                                .news_col._third
                                    .article_block
                                        .article_img
                                            .article_action: .article_action_inner.fixMe(data-sticky-class='_stuck')
                                                +action_block()
                                            a.article_img_link(href='#'): img(src='i/range.jpg')

                                        .article_title
                                            a.article_link(href='#') Goldman Sachs: Bitcoin Could Be Viable Mon…
                                            ul.article_stat
                                                li
                                                    span.article_stat_val._stat_views 212
                                                li
                                                    span.article_stat_val 2 minutes ago
                                                li._first
                                                    a.article_stat_val(href='#') Ariel Deschapell
                                .news_col._third
                                    .article_block
                                        .article_img
                                            .article_action: .article_action_inner.fixMe(data-sticky-class='_stuck')
                                                +action_block()
                                            a.article_img_link(href='#'): img(src='i/range.jpg')

                                        .article_title
                                            a.article_link(href='#') China's Internet Finance Association Warns on …
                                            ul.article_stat
                                                li
                                                    span.article_stat_val._stat_views 212
                                                li
                                                    span.article_stat_val 2 minutes ago
                                                li._first
                                                    a.article_stat_val(href='#') Ariel Deschapell
                                .news_col._third
                                    .article_block
                                        .article_img
                                            .article_action: .article_action_inner.fixMe(data-sticky-class='_stuck')
                                                +action_block()
                                            a.article_img_link(href='#'): img(src='i/range.jpg')

                                        .article_title._video
                                            a.article_link(href='#') Biosensor Analysis Tool - Human Behaviour Research Synchroniz…
                                            ul.article_stat
                                                li
                                                    span.article_stat_val._stat_views 212
                                                li._fr
                                                    span.article_stat_val 13:45

                            .article_controls._analysis
                                a.btn_v1.more_btn.gray_btn(href='#') More #Price analysis

                        +aside_block()

            .nav_holder
                //-+main_menu()
                +search()

            +header()
            +footer()

        +scripts()
