- var prod = true;
- var prod = false;

mixin dev_head(page_title)
    head
        title=page_title
        |
        | <!-- saved from url=(0014)about:internet -->
        meta(charset='utf-8')
        meta(name='viewport', content="width=952, initial-scale=1.0")
        meta(name="SKYPE_TOOLBAR", content="SKYPE_TOOLBAR_PARSER_COMPATIBLE")
        meta(name="apple-mobile-web-app-capable", content="yes")
        meta(name="format-detection", content="telephone=no")
        meta(name="theme-color", content="#3d0ba9")

        - if (prod)
            style
                include ../styles/header_global.css

mixin loop_while(counter)
    -i=0;
    while i < counter
        -i++;
        block

mixin action_list()
  ul.action_list
    li: a.action_link._w(href='#')
      span Twitter
    li: a.action_link._t(href='#')
      span Telegram
    li: a.action_link._f(href='#')
      span Facebook
    li: a.action_link._r(href='#')
      span RSS

mixin footer()
    .footer
        .section_inner.clearfix
            .footer_logo
                a.logo(href='index.html')
                    img(src= 'i/logo_h.png')

            .footer_menu_holder: ul.main_menu
                li.menu_item
                    a.menu_link(href='#'): span News
                li.menu_item
                    a.menu_link(href='#'): span Sharks pool
                li.menu_item
                    a.menu_link(href='#'): span Pricewise
                li.menu_item
                    a.menu_link(href='#'): span Features
                li.menu_item
                    a.menu_link(href='#'): span Analysis
                li.menu_item
                    a.menu_link(href='#'): span Wikicoin

        .section_inner
            .footer_follow_block.clearfix
                .footer_follow_label
                    span Follow us and get the hottest news,
                    a.footer_subscribe_link(href='#'): span or subscribe by email
                ul.action_list
                    li: a.action_link._f(href='#')
                    li: a.action_link._w(href='#')
                    li: a.action_link._t(href='#')
                    li: a.action_link._r(href='#')

                .lang_block
                    select.lang_select
                        option eng
                        option rus
                    .select_arrow

        .section_inner.clearfix
            .copyright ©2018 CryptoComes
            ul.footer_menu
                li: a.footer_link(href='#') Privacy Policy
                li: a.footer_link(href='#') Terms of Service

        .go_top_holder.goTopHolder
            .section_inner
                a.go_top.goTop(href='#')

mixin aside_block()
    .aside_block
        .aside_info_box
            .aside_box_caption
                span.aside_caption_icon._qoute
                a.aside_caption_link(href='#') Most viewed news

            ul.recent_news_list
                li
                    .recent_news
                        a.article_link(href='#') South Korean Regulator Fines Crypto Exchanges over Privacy Failures
                        ul.article_stat
                            li
                                span.article_stat_val Jan 10, 2018 at 10:00
                            li
                                span.article_stat_val._stat_views 212
                            li._first
                                a.article_stat_val(href='#') Ariel Deschapell

                li
                    .recent_news
                        a.article_link(href='#') Amazon User Orders Bitcoin Miner, Gets 'Boss Baby' DVD Instead
                        ul.article_stat
                            li
                                span.article_stat_val Jan 10, 2018 at 10:00
                            li
                                span.article_stat_val._stat_views 212
                            li._first
                                a.article_stat_val(href='#') Ariel Deschapell

                li
                    .recent_news
                        a.article_link(href='#') Payment Processor Stripe to End Support for Bitcoin
                        ul.article_stat
                            li
                                span.article_stat_val Jan 10, 2018 at 10:00
                            li
                                span.article_stat_val._stat_views 212
                            li._first
                                a.article_stat_val(href='#') Ariel Deschapell

                li
                    .recent_news
                        a.article_link(href='#') Just Because It's Bad for Your Coin Doesn't Mean It's FUD
                        ul.article_stat
                            li
                                span.article_stat_val Jan 10, 2018 at 10:00
                            li
                                span.article_stat_val._stat_views 212
                            li._first
                                a.article_stat_val(href='#') Ariel Deschapell

        .aside_subscribe
            .footer_logo
                a.logo(href='index.html')
                    img(src= 'i/logo_f.png')

            p The latest news  twice a week

            a.btn_white.btn_v3.subscribe_btn(href='#'): span Subscribe

            ul.action_list
                li: a.action_link._w(href='#')
                li: a.action_link._t(href='#')
                li: a.action_link._f(href='#')
                li: a.action_link._r(href='#')

        .aside_info_box
            .aside_box_caption
                span.aside_caption_icon._top
                a.aside_caption_link(href='#') Top Story

            ul.recent_news_list
                li
                    .recent_news
                        a.article_link._fz_16(href='#') Building a Base?<br> Bitcoin Demand at $10K Hints at Move Higher
                        ul.article_stat
                            li
                                span.article_stat_val Jan 10, 2018 at 10:00
                            li
                                span.article_stat_val._stat_views 212
                            li._first
                                a.article_stat_val(href='#') Ariel Deschapell

            .aside_box_caption
                span.aside_caption_icon._qoute
                a.aside_caption_link(href='#') Most commented articles

            ul.recent_news_list
                li
                    .recent_news
                        a.article_link(href='#') South Korean Regulator Fines Crypto Exchanges over Privacy Failures
                        ul.article_stat
                            li
                                span.article_stat_val Jan 10, 2018 at 10:00
                            li
                                span.article_stat_val._stat_views 212
                            li._first
                                a.article_stat_val(href='#') Ariel Deschapell

                li
                    .recent_news
                        a.article_link(href='#') Amazon User Orders Bitcoin Miner, Gets 'Boss Baby' DVD Instead
                        ul.article_stat
                            li
                                span.article_stat_val Jan 10, 2018 at 10:00
                            li
                                span.article_stat_val._stat_views 212
                            li._first
                                a.article_stat_val(href='#') Ariel Deschapell

                li
                    .recent_news
                        a.article_link(href='#') Payment Processor Stripe to End Support for Bitcoin
                        ul.article_stat
                            li
                                span.article_stat_val Jan 10, 2018 at 10:00
                            li
                                span.article_stat_val._stat_views 212
                            li._first
                                a.article_stat_val(href='#') Ariel Deschapell

                li
                    .recent_news
                        a.article_link(href='#') Just Because It's Bad for Your Coin Doesn't Mean It's FUD
                        ul.article_stat
                            li
                                span.article_stat_val Jan 10, 2018 at 10:00
                            li
                                span.article_stat_val._stat_views 212
                            li._first
                                a.article_stat_val(href='#') Ariel Deschapell

        .aside_banner
            img(src='i/aside_banner_1.jpg')
            .banner_content
                p Banner.

        .aside_info_box
            .aside_box_caption
                span.aside_caption_icon._popular
                a.aside_caption_link(href='#') Most popular stories

            ul.recent_news_list
                li
                    .recent_news
                        a.article_link(href='#') South Korean Regulator Fines Crypto Exchanges over Privacy Failures
                        ul.article_stat
                            li
                                span.article_stat_val Jan 10, 2018 at 10:00
                            li
                                span.article_stat_val._stat_views 212
                            li._first
                                a.article_stat_val(href='#') Ariel Deschapell

                li
                    .recent_news
                        a.article_link(href='#') Amazon User Orders Bitcoin Miner, Gets 'Boss Baby' DVD Instead
                        ul.article_stat
                            li
                                span.article_stat_val Jan 10, 2018 at 10:00
                            li
                                span.article_stat_val._stat_views 212
                            li._first
                                a.article_stat_val(href='#') Ariel Deschapell

                li
                    .recent_news
                        a.article_link(href='#') Payment Processor Stripe to End Support for Bitcoin
                        ul.article_stat
                            li
                                span.article_stat_val Jan 10, 2018 at 10:00
                            li
                                span.article_stat_val._stat_views 212
                            li._first
                                a.article_stat_val(href='#') Ariel Deschapell

        .aside_info_box
            .aside_box_caption
                span.aside_caption_icon._futurama
                a.aside_caption_link(href='#') Futurama

            ul.recent_news_list
                li
                    .recent_news
                        a.article_link(href='#') South Korean Regulator Fines Crypto Exchanges over Privacy Failures
                        ul.article_stat
                            li
                                span.article_stat_val Jan 10, 2018 at 10:00
                            li
                                span.article_stat_val._stat_views 212
                            li._first
                                a.article_stat_val(href='#') Ariel Deschapell

                li
                    .recent_news
                        a.article_link(href='#') Amazon User Orders Bitcoin Miner, Gets 'Boss Baby' DVD Instead
                        ul.article_stat
                            li
                                span.article_stat_val Jan 10, 2018 at 10:00
                            li
                                span.article_stat_val._stat_views 212
                            li._first
                                a.article_stat_val(href='#') Ariel Deschapell

                li
                    .recent_news
                        a.article_link(href='#') Payment Processor Stripe to End Support for Bitcoin
                        ul.article_stat
                            li
                                span.article_stat_val Jan 10, 2018 at 10:00
                            li
                                span.article_stat_val._stat_views 212
                            li._first
                                a.article_stat_val(href='#') Ariel Deschapell

mixin tag_holder()
    .tag_holder.clearfix
        .lang_block
            select.lang_select
                option eng
                option rus
            .select_arrow
        ul.main_menu
            li.menu_item
                a.menu_link(href='#'): span News
            li.menu_item
                a.menu_link(href='#'): span Sharks pool
            li.menu_item
                a.menu_link(href='#'): span Pricewise
            li.menu_item
                a.menu_link(href='#'): span Features
            li.menu_item
                a.menu_link(href='#'): span Analysis
            li.menu_item
                a.menu_link(href='#'): span Wikicoin

mixin top_info()
    .top_info
        .currency_switcher
            select.currency_select
                option &#8364;
                option &#36;
                option &#8381;
                option &#163;
            .select_arrow
            //-.select_overlay
        .currency_info
            .currency_info_table
                .currency_info_cell
                    p
                        span BTC
                        span.clr_green (+10.82%)
                    p
                        span.currency_val 2636.79
                .currency_info_cell
                    .currency_info_chart
                        img(src='i/chart_btc.png')
                .currency_info_cell
                    p
                        span BCH
                        span.clr_red_2 (-8.82%)
                    p
                        span.currency_val 3236.51
                .currency_info_cell
                    .currency_info_chart
                        img(src='i/chart_bch.png')
                .currency_info_cell
                    p
                        span ETH
                        span.clr_red_2 (-8.82%)
                    p
                        span.currency_val 26236.79
                .currency_info_cell
                    .currency_info_chart
                        img(src='i/chart_eth.png')

mixin main_menu(subscribe)
    - if (subscribe)
        .subscribe_holder
            a.subscribe_close.subscribeAsideBtn(href='#')
            .subscribeBlock.subscribe_block
                .subscribe_title You can get more hot news and ideas.

                .footer_form
                    form.validateMe.formParent.subscribeForm(action='#')
                        .form_cell.formCell
                            .input_w
                                input.input_v1.forceValidation(placeholder='Enter your email' class='validate[required]')

                        .form_cell
                            button.btn_v1.subscribe_btn.white_btn Subscribe

                .footer_msg._success
                    .footer_msg_title
                        span.icon-check.msg_icon
                        br
                        span Subscription<br>enabled

                .footer_msg._fail
                    .footer_msg_title
                        span.icon-close.clr_red.msg_icon
                        span Error
                    p Something went wrong,<br>try again

            .footer_action
                p Follow us with:

                +action_list()

    .main_menu_holder
        ul.main_menu
            li.menu_item
                a.menu_link(href='#') News
            li.menu_item
                a.menu_link(href='#') Features
            li.menu_item
                a.menu_link(href='#') Sharks pool
            li.menu_item
                a.menu_link(href='#') Price analysis
            li.menu_item
                a.menu_link(href='#') Share insight
            li.menu_item
                a.menu_link(href='about.html') About us

        .menu_footer.subscribeBlock
            .footer_subscribe
                a.subscribe_close.subscribeClose(href='#')
                a.subscribe_link.subscribeLink(href='#') Subscribe with your email

            .footer_action
                p Follow us with:

                +action_list()

            .footer_form
                form.validateMe.formParent.subscribeForm(action='#')
                    .form_cell.formCell
                        .input_w
                            input.input_v1.forceValidation(placeholder='Enter your email' class='validate[required]')

                    .form_cell
                        button.btn_v1.subscribe_btn.white_btn Subscribe

            .footer_msg._success
                .footer_msg_title
                    span.icon-check.msg_icon
                    br
                    span Subscription<br>enabled

            .footer_msg._fail
                .footer_msg_title
                    span.icon-close.clr_red.msg_icon
                    span Error
                p Something went wrong,<br>try again

mixin article_soc(cls)
    ul.article_soc(class= cls)
        li: a.action_sh._r._active(href='#')
        li: a.action_sh._f(href='#' data-network="facebook" class='st-custom-button')
        li: a.action_sh._t(href='#' data-network="twitter" class='st-custom-button')
        li: a.action_sh._g(href='#' data-network="googleplus" class='st-custom-button')

        li: a.action_sh._rd(href='#' data-network="reddit" class='st-custom-button')
        li: a.action_sh._l(href='#' data-network="linkedin" class='st-custom-button')
        li: a.action_sh._i(href='#' data-network="instagram" class='st-custom-button')
        li: a.action_sh._p(href='#' data-network="pinterest" class='st-custom-button')
        li: a.action_sh._s(href='#' data-network="pinterest" class='st-custom-button')
        li: a.action_sh._tm(href='#' data-network="tumblr" class='st-custom-button')

        li: a.action_sh._more(href='#') more…
        li: a.action_sh._count(href='#') 250k

mixin search()
    .search_holder
        .search_title Search
        form(action='#')
            .form_cell
                input.completeIt.search_input(placeholder='search...')
                button.filter_btn

mixin header()
    .header
        .section_inner.clearfix
            .logo_block
                a.logo(href='index.html')
                    img(src='i/logo_h.png')

            +top_info()

            ul.user_menu
                li._vis_1280
                    a.head_subscribe_btn.btn_v2.btn_violette(href='#')
                        span Subscribe
                li
                    a.search_btn.searchBtn(href='#')
                li
                    a.menu_btn.menuBtn(href='#')
                        span

mixin scripts(share)
    link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Rubik:400,500,700', media='all')

    -if (!prod)
        link(rel='stylesheet', href='styles/header_global.css?t=' + time, media='all')

    link(rel='stylesheet', href='styles/main_global.css?t=' + time, media='all')

    - if (share)
        script(src='//platform-api.sharethis.com/js/sharethis.js#property=5a748f426507d000137b57b6&product=custom-share-buttons')
    - if (prod)
        script(src='js/main.min.js?t=' + time)
    - else
        script(src='js/jquery1.10.js?t=' + time)
        script(src='js/auto-complete.js?t=' + time)
        script(src='js/jquery.validationEngine.js?t=' + time)
        script(src='js/jquery.validationEngine-ru.js?t=' + time)
        script(src='js/slick.js?t=' + time)
        script(src='js/jquery.sticky-kit.min.js?t=' + time)
        script(src='js/script.js?t=' + time)
