- var prod = true;
- var prod = false;

mixin dev_head(page_title)
    head
        title=page_title
        |
        | <!-- saved from url=(0014)about:internet -->
        meta(charset='utf-8')
        meta(name='viewport', content="width=952, initial-scale=1.0")
        meta(name="SKYPE_TOOLBAR", content="SKYPE_TOOLBAR_PARSER_COMPATIBLE")
        meta(name="apple-mobile-web-app-capable", content="yes")
        meta(name="format-detection", content="telephone=no")
        meta(name="theme-color", content="#3d0ba9")

        - if (prod)
            style
                include ../styles/header_global.css

mixin loop_while(counter)
    -i=0;
    while i < counter
        -i++;
        block

mixin action_list()
  ul.action_list
    li: a.action_link._w(href='#')
      span Twitter
    li: a.action_link._t(href='#')
      span Telegram
    li: a.action_link._f(href='#')
      span Facebook
    li: a.action_link._r(href='#')
      span RSS

mixin footer()
    .footer._footer_v2
        .section_inner.clearfix
            .footer_logo
                a.logo(href='index.html')
                    img(src= 'i/footer_logo.svg')

            .footer_menu_holder
                .footer_col.s_2
                    .footer_col_caption Categories

                    ul.footer_col_menu
                        li: a.footer_col_link(href='#'): span News
                        li: a.footer_col_link(href='#'): span Features
                        li: a.footer_col_link(href='#'): span SharksPool
                        li: a.footer_col_link(href='#'): span Pricewise
                    ul.footer_col_menu
                        li: a.footer_col_link(href='#'): span CryptoTips
                        li: a.footer_col_link(href='#'): span ICOWatch
                        li: a.footer_col_link(href='#'): span WikiCoin
                        li: a.footer_col_link(href='#'): span PriceIndex

                .footer_col.s_3
                    .footer_col_caption Sections

                    ul.footer_col_menu
                        li: a.footer_col_link(href='#'): span Advertise
                        li: a.footer_col_link(href='#'): span Partnership
                        li: a.footer_col_link(href='#'): span Cryptofeeds
                    ul.footer_col_menu
                        li: a.footer_col_link(href='#'): span About CryptoComes
                        li: a.footer_col_link(href='#'): span Contacts

                .footer_col.s_4
                    .footer_col_caption Follow us
                    p To get hot news and stories
                    .follow_form
                        form(action='#')
                            .follow_cell
                                button.btn_v4.subscr_btn()
                                    span Subscribe
                            .follow_cell
                                .input_w
                                    input.input_v4(placeholder='Enter your email')

                    ul.footer_follow_list
                        li: a.action_sh._f(href='#' data-network="facebook" class='st-custom-button')
                        li: a.action_sh._t(href='#' data-network="twitter" class='st-custom-button')
                        li: a.action_sh._tg(href='#')

        .section_inner.clearfix: .copyright_block
            .copyright © CryptoComes 2017 - 2018. All rights reserved
            ul.footer_menu
                li: a.footer_link(href='#') Terms and conditions
                li: a.footer_link(href='#') Privacy Policy

        .go_top_holder.goTopHolder
            .section_inner
                a.go_top.goTop(href='#')

    //-.footer
        .section_inner.clearfix
            .footer_logo
                a.logo(href='index.html')
                    img(src= 'i/logo_h.png')

            .footer_menu_holder: ul.main_menu
                li.menu_item
                    a.menu_link(href='#'): span News
                li.menu_item
                    a.menu_link(href='#'): span Sharks Pool
                li.menu_item
                    a.menu_link(href='#'): span Pricewise
                li.menu_item
                    a.menu_link(href='#'): span Features
                li.menu_item
                    a.menu_link(href='price.html'): span Analysis
                li.menu_item
                    a.menu_link(href='#'): span Wikicoin

        .section_inner
            .footer_follow_block.clearfix
                .footer_follow_label
                    span Follow us and get the hottest news,
                    a.footer_subscribe_link(href='#'): span or subscribe by email
                ul.action_list
                    li: a.action_link._f(href='#')
                    li: a.action_link._w(href='#')
                    li: a.action_link._t(href='#')
                    li: a.action_link._r(href='#')
                    li: a.action_link._y(href='#')

                .lang_block
                    select.lang_select
                        option eng
                        option rus
                    .select_arrow

        .section_inner.clearfix
            .copyright ©2018 CryptoComes
            ul.footer_menu.hide
                li: a.footer_link(href='#') Privacy Policy
                li: a.footer_link(href='#') Terms of Service

        .go_top_holder.goTopHolder
            .section_inner
                a.go_top.goTop(href='#')

    .hide
        #follow_popup
            .follow_caption Follow us on Facebook or Twitter<br>to read this article

            .follow_tips Нажми follow / like чтобы получить доступ. <br>Читай все самые горячие материалы по крипте на одном сайте! 
            .follow_widget
                <a href="https://twitter.com/intent/tweet?button_hashtag=CryptoComes&ref_src=twsrc%5Etfw" class="twitter-hashtag-button" data-size="large" data-show-count="true">Tweet #CryptoComes</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

            .follow_widget
                <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>

            .follow_counter
                span or wait&nbsp;
                span.followCounter 20 seconds

        #popup_subscribe: .popup_box: .popup_inner
            .text_center
                a.subscribe_logo(href='#')
                    img(src='i/logo_c_v.svg')
            .popup_caption Get latest<br>news faster
            form.validatePopup(action='#')
                .input_w
                    input.input_v2.text_center(placeholder='Enter your email' class='validate[required,custom[email]]')
                .input_w
                    button.btn_violette.btn_v1.subscribe_btn._black: span Subscribe

            .footer_action
                p or follow us with:

                ul.action_list
                    li: a.action_link._f(href='#')
                    li: a.action_link._w(href='#')
                    li: a.action_link._t(href='#')
                    li: a.action_link._r(href='#')

    | <div id="fb-root"></div>
    | <script>(function(d, s, id) {
    |   var js, fjs = d.getElementsByTagName(s)[0];
    |   if (d.getElementById(id)) return;
    |   js = d.createElement(s); js.id = id;
    |   js.src = 'https://connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v2.12';
    |   fjs.parentNode.insertBefore(js, fjs);
    | }(document, 'script', 'facebook-jssdk'));</script>

mixin action_block(calendar)
    .article_action_block.articleActionBlock(class= calendar ? '_calendar' : '')
        a.article_action_btn.actionBtn(href='#')
        .action_block
            a.action_block_close.actionBtn(href='#')
            .action_block_title Share it
            ul.action_block_list
                li: a.action_soc.icon-fb(href='#' data-network="facebook" class='st-custom-button')
                    span Facebook
                li: a.action_soc.icon-tw(href='#' data-network="twitter" class='st-custom-button')
                    span Twitter
                li: a.action_soc.icon-rd(href='#' data-network="reddit" class='st-custom-button')
                    span Reddit
                li: a.action_soc.icon-in(href='#' data-network="linkedin" class='st-custom-button')
                    span Linkedin
                li: a.action_soc.icon-inst(href='#' data-network="instagram" class='st-custom-button')
                    span instagram
                li: a.action_soc.icon-pint(href='#' data-network="pinterest" class='st-custom-button')
                    span Pinterest
                li: a.action_soc.icon-stm(href='#' data-network="pinterest" class='st-custom-button')
                    span Steemit
                li: a.action_soc.icon-tmblr(href='#' data-network="tumblr" class='st-custom-button')
                    span tumblr
                li: a.action_soc.icon-tg(href='#' data-network="googleplus" class='st-custom-button')
                    span Telegram

        - if (calendar)
            .article_calendar_holder
              a.article_calendar_link(href='#') Add

mixin aside_block(calendar, release)
    - if (release)
        .aside_block
            a.btn_v2.submit_release_btn.btn_violette_3(href='new_release.html') Submit press release
            .aside_info_box
                .aside_box_caption
                    span.aside_caption_icon._hot
                    .aside_caption_link Most viewed news

                ul.recent_news_list
                    li
                        .recent_news
                            a.article_link(href='#') South Korean Regulator Fines Crypto Exchanges over Privacy Failures
                            ul.article_stat
                                li
                                    span.article_stat_val Jan 10, 2018 at 10:00
                                li
                                    span.article_stat_val._stat_views 212
                                li._first
                                    a.article_stat_val(href='#') Ariel Deschapell

                    li
                        .recent_news
                            a.article_link(href='#') Amazon User Orders Bitcoin Miner, Gets 'Boss Baby' DVD Instead
                            ul.article_stat
                                li
                                    span.article_stat_val Jan 10, 2018 at 10:00
                                li
                                    span.article_stat_val._stat_views 212
                                li._first
                                    a.article_stat_val(href='#') Ariel Deschapell

                    li
                        .recent_news
                            a.article_link(href='#') Payment Processor Stripe to End Support for Bitcoin
                            ul.article_stat
                                li
                                    span.article_stat_val Jan 10, 2018 at 10:00
                                li
                                    span.article_stat_val._stat_views 212
                                li._first
                                    a.article_stat_val(href='#') Ariel Deschapell

                    li
                        .recent_news
                            a.article_link(href='#') Just Because It's Bad for Your Coin Doesn't Mean It's FUD
                            ul.article_stat
                                li
                                    span.article_stat_val Jan 10, 2018 at 10:00
                                li
                                    span.article_stat_val._stat_views 212
                                li._first
                                    a.article_stat_val(href='#') Ariel Deschapell


    - else
        .aside_block
            .aside_info_box
                .aside_box_caption
                    span.aside_caption_icon._qoute
                    .aside_caption_link Most viewed news

                ul.recent_news_list
                    li
                        .recent_news
                            a.article_link(href='#') South Korean Regulator Fines Crypto Exchanges over Privacy Failures
                            ul.article_stat
                                li
                                    span.article_stat_val Jan 10, 2018 at 10:00
                                li
                                    span.article_stat_val._stat_views 212
                                li._first
                                    a.article_stat_val(href='#') Ariel Deschapell

                    li
                        .recent_news
                            a.article_link(href='#') Amazon User Orders Bitcoin Miner, Gets 'Boss Baby' DVD Instead
                            ul.article_stat
                                li
                                    span.article_stat_val Jan 10, 2018 at 10:00
                                li
                                    span.article_stat_val._stat_views 212
                                li._first
                                    a.article_stat_val(href='#') Ariel Deschapell

                    li
                        .recent_news
                            a.article_link(href='#') Payment Processor Stripe to End Support for Bitcoin
                            ul.article_stat
                                li
                                    span.article_stat_val Jan 10, 2018 at 10:00
                                li
                                    span.article_stat_val._stat_views 212
                                li._first
                                    a.article_stat_val(href='#') Ariel Deschapell

                    li
                        .recent_news
                            a.article_link(href='#') Just Because It's Bad for Your Coin Doesn't Mean It's FUD
                            ul.article_stat
                                li
                                    span.article_stat_val Jan 10, 2018 at 10:00
                                li
                                    span.article_stat_val._stat_views 212
                                li._first
                                    a.article_stat_val(href='#') Ariel Deschapell

            - if (calendar)
                .aside_info_box
                    .aside_box_caption
                        span.aside_caption_icon._calendar
                        .aside_caption_link Upcoming CryptoEvents

                    ul.recent_news_list
                        li
                            .recent_news
                                a.article_link(href='#') SXSW Crypto Summit: New Girls on the Block
                                ul.article_stat
                                    li
                                        span.article_stat_val Jan 10, 2018 at 10:00
                                    li
                                        span.article_stat_val._stat_views 212
                                    li._first
                                        a.article_stat_val(href='#') Ariel Deschapell

                        li
                            .recent_news
                                a.article_link(href='#') BlockShow Europe Meetups: Stockholm
                                ul.article_stat
                                    li
                                        span.article_stat_val Jan 10, 2018 at 10:00
                                    li
                                        span.article_stat_val._stat_views 212
                                    li._first
                                        a.article_stat_val(href='#') Ariel Deschapell

                        li
                            a.recent_news_link(href='#') Show all

            .aside_subscribe
                .footer_logo
                    a.logo(href='index.html')
                        img(src= 'i/logo_c.svg')

                p The latest news  twice a week

                a.btn_white.btn_v3.subscribe_btn.openSubscribe(href='#'): span Subscribe

                ul.action_list
                    li: a.action_link._w(href='#')
                    li: a.action_link._t(href='#')
                    li: a.action_link._f(href='#')
                    li: a.action_link._r(href='#')

            .aside_info_box
                .aside_box_caption
                    span.aside_caption_icon._top
                    .aside_caption_link Top Story

                ul.recent_news_list
                    li
                        .recent_news
                            a.article_link._fz_16(href='#') Building a Base?<br> Bitcoin Demand at $10K Hints at Move Higher
                            ul.article_stat
                                li
                                    span.article_stat_val Jan 10, 2018 at 10:00
                                li
                                    span.article_stat_val._stat_views 212
                                li._first
                                    a.article_stat_val(href='#') Ariel Deschapell

                .aside_box_caption
                    span.aside_caption_icon._comments
                    .aside_caption_link Most commented articles

                ul.recent_news_list
                    li
                        .recent_news
                            a.article_link(href='#') South Korean Regulator Fines Crypto Exchanges over Privacy Failures
                            ul.article_stat
                                li
                                    span.article_stat_val Jan 10, 2018 at 10:00
                                li
                                    span.article_stat_val._stat_views 212
                                li._first
                                    a.article_stat_val(href='#') Ariel Deschapell

                    li
                        .recent_news
                            a.article_link(href='#') Amazon User Orders Bitcoin Miner, Gets 'Boss Baby' DVD Instead
                            ul.article_stat
                                li
                                    span.article_stat_val Jan 10, 2018 at 10:00
                                li
                                    span.article_stat_val._stat_views 212
                                li._first
                                    a.article_stat_val(href='#') Ariel Deschapell

                    li
                        .recent_news
                            a.article_link(href='#') Payment Processor Stripe to End Support for Bitcoin
                            ul.article_stat
                                li
                                    span.article_stat_val Jan 10, 2018 at 10:00
                                li
                                    span.article_stat_val._stat_views 212
                                li._first
                                    a.article_stat_val(href='#') Ariel Deschapell

                    li
                        .recent_news
                            a.article_link(href='#') Just Because It's Bad for Your Coin Doesn't Mean It's FUD
                            ul.article_stat
                                li
                                    span.article_stat_val Jan 10, 2018 at 10:00
                                li
                                    span.article_stat_val._stat_views 212
                                li._first
                                    a.article_stat_val(href='#') Ariel Deschapell

            .aside_banner
                img(src='i/aside_banner_1.jpg')
                .banner_content
                    p Banner.

            .aside_info_box
                .aside_box_caption
                    span.aside_caption_icon._popular
                    .aside_caption_link Most popular stories

                ul.recent_news_list
                    li
                        .recent_news
                            a.article_link(href='#') South Korean Regulator Fines Crypto Exchanges over Privacy Failures
                            ul.article_stat
                                li
                                    span.article_stat_val Jan 10, 2018 at 10:00
                                li
                                    span.article_stat_val._stat_views 212
                                li._first
                                    a.article_stat_val(href='#') Ariel Deschapell

                    li
                        .recent_news
                            a.article_link(href='#') Amazon User Orders Bitcoin Miner, Gets 'Boss Baby' DVD Instead
                            ul.article_stat
                                li
                                    span.article_stat_val Jan 10, 2018 at 10:00
                                li
                                    span.article_stat_val._stat_views 212
                                li._first
                                    a.article_stat_val(href='#') Ariel Deschapell

                    li
                        .recent_news
                            a.article_link(href='#') Payment Processor Stripe to End Support for Bitcoin
                            ul.article_stat
                                li
                                    span.article_stat_val Jan 10, 2018 at 10:00
                                li
                                    span.article_stat_val._stat_views 212
                                li._first
                                    a.article_stat_val(href='#') Ariel Deschapell

            .aside_info_box
                .aside_box_caption
                    span.aside_caption_icon._futurama
                    .aside_caption_link Futurama

                ul.recent_news_list
                    li
                        .recent_news
                            a.article_link(href='#') South Korean Regulator Fines Crypto Exchanges over Privacy Failures
                            ul.article_stat
                                li
                                    span.article_stat_val Jan 10, 2018 at 10:00
                                li
                                    span.article_stat_val._stat_views 212
                                li._first
                                    a.article_stat_val(href='#') Ariel Deschapell

                    li
                        .recent_news
                            a.article_link(href='#') Amazon User Orders Bitcoin Miner, Gets 'Boss Baby' DVD Instead
                            ul.article_stat
                                li
                                    span.article_stat_val Jan 10, 2018 at 10:00
                                li
                                    span.article_stat_val._stat_views 212
                                li._first
                                    a.article_stat_val(href='#') Ariel Deschapell

                    li
                        .recent_news
                            a.article_link(href='#') Payment Processor Stripe to End Support for Bitcoin
                            ul.article_stat
                                li
                                    span.article_stat_val Jan 10, 2018 at 10:00
                                li
                                    span.article_stat_val._stat_views 212
                                li._first
                                    a.article_stat_val(href='#') Ariel Deschapell

mixin tag_holder(cls, slider)
    - if (slider)
        .tag_holder.clearfix(class= cls)
            .lang_block
                select.lang_select
                    option eng
                    option rus
                .select_arrow
            .tag_slider_holder
                .tag_prev.tagPrev
                .tag_next.tagNext
                .swiper-container
                    ul.main_menu.swiper-wrapper
                        li.menu_item.swiper-slide
                            a.menu_link(href='#'): span News
                        li.menu_item.swiper-slide
                            a.menu_link(href='#'): span Features
                        li.menu_item.swiper-slide
                            a.menu_link(href='#'): span Sharks Pool
                        li.menu_item.swiper-slide
                            a.menu_link(href='#'): span Pricewise
                        li.menu_item.swiper-slide
                            a.menu_link(href='#'): span CryptoTips
                        li.menu_item.swiper-slide
                            a.menu_link(href='#'): span ICO Watch
                        li.menu_item.swiper-slide
                            a.menu_link(href='price.html'): span PriceIndex
                        li.menu_item.swiper-slide
                            a.menu_link(href='#'): span Wikicoin
    - else
        .tag_holder.clearfix(class= cls)
            .lang_block
                select.lang_select
                    option eng
                    option rus
                .select_arrow
            ul.main_menu
                li.menu_item
                    a.menu_link(href='#'): span News
                li.menu_item
                    a.menu_link(href='#'): span Sharks Pool
                li.menu_item
                    a.menu_link(href='#'): span Pricewise
                li.menu_item
                    a.menu_link(href='#'): span Features
                li.menu_item
                    a.menu_link(href='price.html'): span Analysis
                li.menu_item
                    a.menu_link(href='#'): span Wikicoin

mixin top_info()
    .top_info
        .currency_switcher
            select.currency_select
                option &#8364;
                option &#36;
                option &#8381;
                option &#163;
            .select_arrow
            //-.select_overlay
        .currency_info
            .currency_info_table
                .currency_info_cell
                    p
                        span BCH
                        a.trend._up(href='#') 2%
                        //span.clr_green (+10.82%)
                    p
                        span.currency_val 3236.51
                //-.currency_info_cell
                    .currency_info_chart
                        img(src='i/chart_btc.png')

                .currency_info_cell
                    p
                        span BTC
                        a.trend(href='#') 0%
                        //span.clr_red_2 (-81.82%)
                    p
                        span.currency_val 2636.79
                //-.currency_info_cell
                    .currency_info_chart
                        img(src='i/chart_bch.png')

                .currency_info_cell
                    p
                        span ETH
                        a.trend._up(href='#') 1%
                        //span.clr_red_2 (-83.82%)
                    p
                        span.currency_val 2636.79
                //-.currency_info_cell
                    .currency_info_chart
                        img(src='i/chart_btc.png')

                .currency_info_cell
                    p
                        span LTC
                        a.trend._down(href='#') -3%
                        //span.clr_green (+10.82%)
                    p
                        span.currency_val 3236.51
                //-.currency_info_cell
                    .currency_info_chart
                        img(src='i/chart_bch.png')

                .currency_info_cell
                    p
                        span XRP
                        a.trend._down(href='#') -3%
                        //span.clr_green (+10.82%)
                    p
                        span.currency_val 33236.51

                .currency_info_cell
                    p
                        span ADA
                        a.trend._down(href='#') -10%
                        //span.clr_green (+10.82%)
                    p
                        span.currency_val 33236.51

                .currency_info_cell
                    p
                        span NEO
                        a.trend._down(href='#') -6%
                        //span.clr_green (+10.82%)
                    p
                        span.currency_val 33236.51
                //-.currency_info_cell
                    .currency_info_chart
                        img(src='i/chart_eth.png')

mixin main_menu(subscribe)
    - if (subscribe)
        .subscribe_holder
            a.subscribe_close.subscribeAsideBtn(href='#')
            .subscribeBlock.subscribe_block
                .subscribe_title You can get more hot news and ideas.

                .footer_form
                    form.validateMe.formParent.subscribeForm(action='#')
                        .form_cell.formCell
                            .input_w
                                input.input_v1.forceValidation(placeholder='Enter your email' class='validate[required]')

                        .form_cell
                            button.btn_v1.subscribe_btn.white_btn Subscribe

                .footer_msg._success
                    .footer_msg_title
                        span.icon-check.msg_icon
                        br
                        span Subscription<br>enabled

                .footer_msg._fail
                    .footer_msg_title
                        span.icon-close.clr_red.msg_icon
                        span Error
                    p Something went wrong,<br>try again

            .footer_action
                p Follow us with:

                +action_list()

    .main_menu_holder
        ul.main_menu
            li.menu_item
                a.menu_link(href='#') News
            li.menu_item
                a.menu_link(href='#') Features
            li.menu_item
                a.menu_link(href='#') Sharks Pool
            li.menu_item
                a.menu_link(href='#') Price analysis
            li.menu_item
                a.menu_link(href='#') Share insight
            li.menu_item
                a.menu_link(href='about.html') About us

        .menu_footer.subscribeBlock
            .footer_subscribe
                a.subscribe_close.subscribeClose(href='#')
                a.subscribe_link.subscribeLink(href='#') Subscribe with your email

            .footer_action
                p Follow us with:

                +action_list()

            .footer_form
                form.validateMe.formParent.subscribeForm(action='#')
                    .form_cell.formCell
                        .input_w
                            input.input_v1.forceValidation(placeholder='Enter your email' class='validate[required]')

                    .form_cell
                        button.btn_v1.subscribe_btn.white_btn Subscribe

            .footer_msg._success
                .footer_msg_title
                    span.icon-check.msg_icon
                    br
                    span Subscription<br>enabled

            .footer_msg._fail
                .footer_msg_title
                    span.icon-close.clr_red.msg_icon
                    span Error
                p Something went wrong,<br>try again

mixin article_soc(cls)
    ul.article_soc(class= cls)
        li: a.action_sh._r._active(href='#')
        li: a.action_sh._f(href='#' data-network="facebook" class='st-custom-button')
        li: a.action_sh._t(href='#' data-network="twitter" class='st-custom-button')
        li: a.action_sh._g(href='#' data-network="googleplus" class='st-custom-button')

        li: a.action_sh._rd(href='#' data-network="reddit" class='st-custom-button')
        li: a.action_sh._l(href='#' data-network="linkedin" class='st-custom-button')
        li: a.action_sh._i(href='#' data-network="instagram" class='st-custom-button')
        li: a.action_sh._p(href='#' data-network="pinterest" class='st-custom-button')
        li: a.action_sh._s(href='#' data-network="pinterest" class='st-custom-button')
        li: a.action_sh._tm(href='#' data-network="tumblr" class='st-custom-button')

        li: a.action_sh._more(href='#') more…
        li: a.action_sh._count(href='#') 250k

mixin article_share(cls, tw, fb)
    ul.article_soc(class= cls)
        li: a.action_sh._f(href='#' data-network="facebook" class='st-custom-button')
        li: a.action_sh._t(href='#' data-network="twitter" class='st-custom-button')
        li: a.action_sh._g(href='#' data-network="googleplus" class='st-custom-button')
        li: a.action_sh._l(href='#' data-network="linkedin" class='st-custom-button')
        li: a.action_sh._tg(href='#')
        li: a.action_sh._rd(href='#' data-network="reddit" class='st-custom-button')

        - if (tw)
            li._right
                a.btn_v4.subscr_btn._tw(href='#')
                    span Follow on
                    span.icon-tw.btn_icon
        - else if (fb)
            li._right
                a.btn_v4.subscr_btn._fb(href='#')
                    span Follow on
                    span.icon-fb.btn_icon
        - else
            li._right
                a.btn_v4.subscr_btn(href='#')
                    span Subscribe

mixin stat_action()
    li.stat_action
        a.stat_action_link._f(href='#')
        a.stat_action_link._w(href='#')

mixin search()
    .search_holder
        .search_head
            .section_inner
                .search_form
                    form(action='#')
                        .form_cell
                            input.search_input(placeholder='search...')
                            button.filter_btn

                .search_title
                    span Search results&nbsp;
                    span._counter — 200 articles and news
        .search_body
            .section_inner
                .news_row
                    +loop_while(3)
                        .news_col
                            ul.article_reviews._article
                                li
                                    .article_block._review
                                        .article_img
                                            a.article_img_link(href='#'): img(src='i/remote.jpg')
                                        .article_title
                                            a.article_link(href='#') CFTC Tech Advisors to Talk #[span.clr_violette(href='#') Crypto, Blockchain] This Week
                                        ul.article_stat
                                            li
                                                span.article_stat_val Jan 10, 2018 at 10:00
                                            li
                                                span.article_stat_val._stat_views 212
                                            li._first
                                                .article_stat_val Ariel Deschapell
                                li
                                    .article_block._review
                                        .article_img
                                            a.article_img_link(href='#'): img(src='i/remote.jpg')

                                        .article_title
                                            a.article_link(href='#') Lightning Network May Not Solve Bitcoin's Scaling 'Trilemma'
                                        ul.article_stat
                                            li
                                                span.article_stat_val Jan 10, 2018 at 10:00
                                            li
                                                span.article_stat_val._stat_views 212
                                            li._first
                                                .article_stat_val Ariel Deschapell
                                li
                                    .article_block._review
                                        .article_img
                                            a.article_img_link(href='#'): img(src='i/remote.jpg')

                                        .article_title
                                            a.article_link(href='#') 2018's Challenge: Promote Responsible Blockchain
                                        ul.article_stat
                                            li
                                                span.article_stat_val Jan 10, 2018 at 10:00
                                            li
                                                span.article_stat_val._stat_views 212
                                            li._first
                                                .article_stat_val Ariel Deschapell

                                li
                                    .article_block._review
                                        .article_img
                                            a.article_img_link(href='#'): img(src='i/remote.jpg')

                                        .article_title
                                            a.article_link(href='#') Bulgaria Joins 'International Operation' Against OneCoin
                                        ul.article_stat
                                            li
                                                span.article_stat_val Jan 10, 2018 at 10:00
                                            li
                                                span.article_stat_val._stat_views 212
                                            li._first
                                                .article_stat_val Ariel Deschapell

                                li
                                    .article_block._review
                                        .article_img
                                            a.article_img_link(href='#'): img(src='i/remote.jpg')

                                        .article_title
                                            a.article_link(href='#') TSMC Expects 'Strong' Crypto Mining Demand to Continue
                                        ul.article_stat
                                            li
                                                span.article_stat_val Jan 10, 2018 at 10:00
                                            li
                                                span.article_stat_val._stat_views 212
                                            li._first
                                                .article_stat_val Ariel Deschapell

        .search_footer
            .section_inner
                a.btn_v1.more_btn.gray_btn(href='#') More search results

mixin header()
    .header
        .section_inner.clearfix
            .logo_block
                a.logo(href='index.html')
                    img(src='i/logo_h.svg')

            +top_info()

            ul.user_menu
                //-li
                    a.menu_btn.menuBtn(href='#')
                        span
                li
                    a.search_btn.searchBtn(href='#')
                li
                    a.head_subscribe_btn.btn_v2.btn_violette.openSubscribe(href='#')
                        span Subscribe

mixin widget_history()
    | <script type="text/javascript">
    | baseUrl = "https://widgets.cryptocompare.com/";
    | var scripts = document.getElementsByTagName("script");
    | var embedder = scripts[ scripts.length - 1 ];
    | var cccTheme = {"General":{"borderWidth":"2px","borderColor":"#F8F8F8"},"Rows":{"borderColor":"#F8F8F8","upColor":"#266D11","downColor":"#C7293D"}};
    | (function (){
    | var appName = encodeURIComponent(window.location.hostname);
    | if(appName == ""){appName="local";}
    | var s = document.createElement("script");
    | s.type = "text/javascript";
    | s.async = true;
    | var theUrl = baseUrl+'serve/v1/coin/histo_week?fsym=BTC&tsym=USD';
    | s.src = theUrl + ( theUrl.indexOf("?") >= 0 ? "&" : "?") + "app=" + appName;
    | embedder.parentNode.appendChild(s);
    | })();
    | </script>

mixin widget_chart()
    | <script type="text/javascript">
    | baseUrl = "https://widgets.cryptocompare.com/";
    | var scripts = document.getElementsByTagName("script");
    | var embedder = scripts[ scripts.length - 1 ];
    | var cccTheme = {"General":{"borderWidth":"2px","borderColor":"#F8F8F8"},"Tabs":{"borderColor":"#F8F8F8","activeBorderColor":"#5C29C7"}};
    | (function (){
    | var appName = encodeURIComponent(window.location.hostname);
    | if(appName == ""){appName="local";}
    | var s = document.createElement("script");
    | s.type = "text/javascript";
    | s.async = true;
    | var theUrl = baseUrl+'serve/v3/coin/chart?fsym=BTC&tsyms=USD,EUR,CNY,GBP';
    | s.src = theUrl + ( theUrl.indexOf("?") >= 0 ? "&" : "?") + "app=" + appName;
    | embedder.parentNode.appendChild(s);
    | })();
    | </script>

mixin widget_summary()
    | <script type="text/javascript">
    | baseUrl = "https://widgets.cryptocompare.com/";
    | var scripts = document.getElementsByTagName("script");
    | var embedder = scripts[ scripts.length - 1 ];
    | (function (){
    | var appName = encodeURIComponent(window.location.hostname);
    | if(appName == ""){appName="local";}
    | var s = document.createElement("script");
    | s.type = "text/javascript";
    | s.async = true;
    | var theUrl = baseUrl+'serve/v1/coin/summary?fsym=BTC&tsyms=USD,EUR,CNY,GBP,RUB';
    | s.src = theUrl + ( theUrl.indexOf("?") >= 0 ? "&" : "?") + "app=" + appName;
    | embedder.parentNode.appendChild(s);
    | })();
    | </script>

mixin widget_converter()
    | <script type="text/javascript">
    | baseUrl = "https://widgets.cryptocompare.com/";
    | var scripts = document.getElementsByTagName("script");
    | var embedder = scripts[ scripts.length - 1 ];
    | var cccTheme = {"General":{"background":"#F8F8F8","borderWidth":"0","headerTextColor":"#5C29C7","headerTextSize":"16px"}};
    | (function (){
    | var appName = encodeURIComponent(window.location.hostname);
    | if(appName == ""){appName="local";}
    | var s = document.createElement("script");
    | s.type = "text/javascript";
    | s.async = true;
    | var theUrl = baseUrl+'serve/v1/coin/converter?fsym=BTC&tsyms=USD,EUR,CNY,GBP,RUB';
    | s.src = theUrl + ( theUrl.indexOf("?") >= 0 ? "&" : "?") + "app=" + appName;
    | embedder.parentNode.appendChild(s);
    | })();
    | </script>

mixin scripts(share, mask)
    link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Rubik:400,500,700', media='all')
    link(rel='stylesheet', href='//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css', media='all')

    -if (!prod)
        link(rel='stylesheet', href='styles/header_global.css?t=' + time, media='all')

    link(rel='stylesheet', href='styles/main_global.css?t=' + time, media='all')

    - if (share)
        script(src='//platform-api.sharethis.com/js/sharethis.js#property=5a748f426507d000137b57b6&product=custom-share-buttons')
    - if (prod)
        script(src='js/main.min.js?t=' + time)
    - else
        script(src='js/jquery1.10.js?t=' + time)
        script(src='//code.jquery.com/ui/1.12.1/jquery-ui.js')
        script(src='js/jquery.popup.min.js?t=' + time)
        script(src='js/jquery.inputmask.bundle.js?t=' + time)
        script(src='js/auto-complete.js?t=' + time)
        script(src='js/jquery.validationEngine.js?t=' + time)
        script(src='js/jquery.validationEngine-ru.js?t=' + time)
        script(src='js/swiper.min.js?t=' + time)
        script(src='js/jquery.sticky-kit.min.js?t=' + time)
        script(src='js/script.js?t=' + time)


