include mixins.pug
doctype html
html(lang='ru')
    +dev_head('Crypto article')

    body.no_transition
        .wrapper
            .main_content
                .section_inner
                    +tag_holder('_slider', true)

                    ul.bread_crumbs
                        li: a.crumb_link(href='#') Cryptocomes
                        li: a.crumb_link(href='#') Events

                    .content_holder
                        .content_block
                            .article_block.story_block._article._release
                                .article_main_photo
                                    .article_heading
                                        a.article_link(href='article.html') NEM Foundation: Stoleg Coyncheck Funds Not Sent to Exchanges

                                    ul.article_stat._mod_1
                                        li
                                            span.article_stat_val CocaCola
                                        li
                                            span.article_stat_val._stat_time 2h
                                        li
                                            span.article_stat_val._stat_views 212

                                    .article_img
                                        .article_img_link: img(src='i/hong_kong.jpg')

                                .article_info_holder
                                    .article_preview iGaming platform provider Cash Bet has partnered with Arsenal Football Club in a deal that will promote the firm's new crypto token.
                                    //.article_preview Hong Kong authorities have launched a campaign to educate the public on the risks associated with ICO and cryptocurrency investment.

                                    .article_info
                                        +article_share('_action')
                                        +article_share('_action', true)
                                        +article_share('_action', false, true)
                                        +article_share('_action', false, false, true)

                                    .article_text
                                        p When President Trump delivers his first State of the Union address on Tuesday at 9 p.m. ET, his most fervent supporters are anxious that he will squander the most high-profile moment of his presidency with a soft speech that bends more to the predilections of the political establishment in Washington and less to the populist army that sent him there to #[a(href='#') drain the swamp].

                                        p The South Korean government announced today it will move to prohibit domestic cryptocurrency exchanges from allowing users to make transactions through anonymous accounts, local news sources report.

                                        p The South Korean government announced today it will move to prohibit domestic cryptocurrency exchanges from allowing users to make transactions through anonymous accounts, local news sources report.

                                        dl.release_info
                                            dt Website:
                                            dd
                                                a(href='#') https://cocacola.com

                                            dt Organization:
                                            dd CocaCola

                                            dt Сontacts:
                                            dd Leah Callon-Butler Chief Impact Officer #[a(href='mailto:leah@intimate.io') leah@intimate.io]

                            .article_block._comment
                                .article_info_holder
                                    .article_text
                                        .leave_comment_tip This is a paid press release. Сryptocomes does not endorse and is not responsible for or liable for any content, accuracy, quality, advertising, products or other materials on this page. Readers should do their own research before taking any actions related to the company. Сryptocomes is not responsible, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with the use of or reliance on any content, goods or services mentioned in the press release.

                            .article_info_holder
                                .article_info
                                    +article_share('_action _mb_0', true)

                            .comment_holder
                                a.btn_v2.comment_btn(href='#') Click to leave your comment

                        +aside_block()

            .nav_holder
                +main_menu(true)
                +search()

            +header()
            +footer()

        +scripts(true)

