include mixins.pug
doctype html
html(lang='ru')
    +dev_head('Crypto success')

    body.no_transition
        .wrapper
            .main_content
                .section_inner
                    +tag_holder('_slider', true)

                    a.attention_block._warn(href='#')
                        .attention_caption Breaking news
                        p
                            span Indonesia Central Bank: Cryptocurrency Payments 'Not Legitimate'
                            span.attention_link

                    .msg_block
                        .msg_title Success!

                        p We have accepted your press release for publication on the<br>CryptoComes website. It will be published in the nearest time possible. Please note that this service should be paid for in advance

                        .msg_status._success
                        p
                            a.msg_link(href='#') BACK TO EVENTS

            .nav_holder
                +main_menu(true)
                +search()

            +header()
            +footer()

        +scripts(true)
