include mixins.pug
doctype html
html(lang='ru')
    +dev_head('Crypto главная')

    body.no_transition
        .wrapper
            .main_content
                .section_inner
                    +tag_holder('_slider', true)

                    a.attention_block._warn(href='#')
                        .attention_caption Breaking news
                        p
                            span Indonesia Central Bank: Cryptocurrency Payments 'Not Legitimate'
                            span.attention_link

                    .content_holder
                        .content_block
                            .news_row._pool._bordered._tags_mode
                                .news_col._third
                                    .article_block._tag-2
                                        .article_title
                                            a.article_link(href='article.html') Blockchain

                                +loop_while(7)
                                    .news_col._third
                                        .article_block._pool
                                            .article_img
                                                .article_action: .article_action_inner.fixMe(data-sticky-class='_stuck')
                                                    +action_block()
                                                a.article_img_link(href='article.html'): img(src='i/range.jpg')

                                            .article_title
                                                a.article_link(href='article.html') Atomic Action: Will 2018 Be the Year of the Cros…
                                                ul.article_stat
                                                    li
                                                        span.article_stat_val._stat_views 212
                                                    li
                                                        span.article_stat_val 2 minutes ago
                                                    li._first
                                                        a.article_stat_val(href='#') Ariel Deschapell

                                    .news_col._third
                                        .article_block._pool
                                            .article_img
                                                .article_action: .article_action_inner.fixMe(data-sticky-class='_stuck')
                                                    +action_block()
                                                a.article_img_link(href='article.html'): img(src='i/range.jpg')

                                            .article_title
                                                a.article_link(href='article.html') Atomic Action: Will 2018 Be the Year of the Cros…
                                                ul.article_stat
                                                    li
                                                        span.article_stat_val._stat_views 212
                                                    li
                                                        span.article_stat_val 2 minutes ago
                                                    li._first
                                                        a.article_stat_val(href='#') Ariel Deschapell

                            .article_controls._pool
                                a.btn_v1.more_btn.gray_btn(href='#') More #Sharks pool

                        +aside_block()

            .nav_holder
                //-+main_menu()
                +search()

            +header()
            +footer()

        +scripts()
